<ion-header>

  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-title>Create Issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="card_content">
      <ion-grid>
        <ion-row>

          <ion-col size="7" class="col_height">
            
              <p class="card_left_text"> Branch :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput" ></ion-input>
           
          </ion-col>

          <ion-col size="7" class="col_height">
            
              <p class="card_left_text">Property Code :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
           
          </ion-col>

          <ion-col size="5" class="col_height">
            
              <p class="card_left_text">Date :</p>
           
          </ion-col>
          <ion-col size="7" class="col_height">
            

              <ion-datetime-button datetime="datetime"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>

           
          </ion-col>

          <ion-col size="7" class="col_height">
            
              <p class="card_left_text">Category :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
           
          </ion-col>

          <ion-col size="7" class="col_height">
            
              <p class="card_left_text">Priority :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
           
          </ion-col>

          <ion-col size="7" class="col_height">
            
              <p class="card_left_text">Property Details :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
           
          </ion-col>

          <ion-col size="7" class="col_height">
          
              <p class="card_left_text">Property Description :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
       
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
            
          </ion-col>
          <ion-col size="7" class="col_height">
            
              <p class="card_left_text">Property Owner :</p>
           
          </ion-col>
          <ion-col size="5" class="col_height">
            
              <ion-input placeholder="Text Input" class="createInput"></ion-input>
           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            <ion-button  color="danger" (click)="cancel()">Cancel</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button color="success" (click)="save()">Save</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer >
  <ion-row>
  <ion-col size="6">
    © SunSmart Global Inc
  </ion-col>
  <ion-col size="6" style="text-align: right;">
    {{username}}
 </ion-col>
  </ion-row>
 </ion-footer>