ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }


ion-content{
    ion-toolbar{
        padding: 0px !important;
        --background: #019ADE !important;
    }
}
.card_left_text {
    font-family: "Poppins";
    color: black;
    font-weight: 600 !important;
}
