<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back-outline" style="color:white;"></ion-icon>
        <span style="color:white;">Back</span>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin: 0 20px;">Create Issue</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid style="margin: 0; padding:0;">
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-row>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch <span style="color:red;">*</span></ion-label>
        <select id="selectbutton" [(ngModel)]="branch" class="form-control" (change)="getLocationdata(branch)">
          <option [ngValue]="undefined" selected disabled>
            << Select >>
          </option>
          <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
            {{branch.BRANCH_DESC}}
          </option>
        </select>
        <!-- <ion-label class="ContentName">Branch</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control"
          [(ngModel)]="branch"></ion-input> -->
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Code<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-searchbar [(ngModel)]="assetCode" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 250px;">
          <ion-item *ngFor="let item of assetData" (click)="addPropertycode(item)"
            style="background:none !important;color:#444 !important;display: block;">
            {{item.binding}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Asset Description</ion-label>
        <ion-input [(ngModel)]="assetDesc" style="background-color: #d4d4d4!important;" class="form-control"
          [disabled]="true"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Date <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="date" class="form-control" [(ngModel)]="createDate"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Category</ion-label>
        <select [(ngModel)]="categoryissue" class="form-control">
          <option [ngValue]="undefined" selected>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of gatagoryDetails; let i = index">{{item.text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Priority<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="priority" class="form-control">
          <option [ngValue]="undefined" selected>&lt;&lt; Select &gt;&gt;</option>
          <option class="ContentName" value="3">High</option>
          <option class="ContentName" value="4">Low</option>
          <option class="ContentName" value="1">Medium</option>
          <option class="ContentName" value="2">Normal</option>
          <option class="ContentName" value="5">Very High</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Details <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-textarea maxlength="200" [(ngModel)]="textDetails" style="height:auto !important" class="form-control">
        </ion-textarea>
        <span *ngIf="noofchars && noofchars != 'undefined' && noofchars.length > 0" class="customCounter">{{200 -
          noofchars.length}}</span>
      </ion-col>
    </ion-row>
    <ion-row size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4"></ion-col>
      <ion-col size="12">
        <ion-button class="ion-color-success"
          [disabled]="branch==undefined || assetCode==undefined || department==undefined || createDate==undefined || categoryissue==undefined || priority==true || textDetails==true"
          (click)="createissue()">Save
        </ion-button>
      </ion-col>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4"></ion-col>
    </ion-row>
  </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col size="6">
        © SunSmart Global Inc
      </ion-col>
      <ion-col size="6" style="text-align: right;">
        {{username}}
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-grid>
