ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }


ion-content{
    ion-toolbar{
        padding: 0px !important;
        --background: #019ADE !important;
    }
}
.card_left_text {
    font-family: "Poppins";
    color: black;
    font-weight: 600 !important;
}
ion-datetime{
    background-color: #fff !important;
}
.createInput{
    border: 1px solid #d7d8da;
    border-radius: 5px;
    padding: 6px !important;
    height: 40px;
}
input{
    padding: 6px !important;
}
