<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LocationWise Asset Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label>Function</ion-label>
      <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
        [(ngModel)]="function"></ion-input>
    </ion-col> -->

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Zone</ion-label>
        <select [(ngModel)]="ZoneLoc" class="form-control" style="width:100%" (change)="selzone()">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of detailz; let i = index" [ngValue]="item.ZONE_ID">{{item.ZONE_DESC}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Region</ion-label>
        <select [(ngModel)]="region" class="form-control" style="width:100%" (change)="selregion()">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of detailregion; let i = index" [ngValue]="item.region_id">{{item.region_desc}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch</ion-label>
        <select [(ngModel)]="branchLoc" class="form-control" style="width:100%">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of detailbranch; let i = index" [ngValue]="item.BRANCH_ID">{{item.BRANCH_DESC}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Category</ion-label>
        <select [(ngModel)]="category" class="form-control" style="width:100%" (change)="selcatdrop()">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of detailcategory; let i = index" [ngValue]="item.VAL">{{item.TEXT}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Subcategory</ion-label>
        <select [(ngModel)]="subcategory" class="form-control" style="width:100%">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of detailsubcategory; let i = index" [ngValue]="item.SUB_CATEGORY_ID">
            {{item.SUB_CATEGORY_DESC}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">

        <ion-button (click)="processlocationreport()" color="success" expand="block">Search
        </ion-button>
      </ion-col>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">

        <ion-button (click)="resetlocationreport()" expand="block">Reset
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let item1 of detailfinals; let i = index">
      <ion-card-header class="card_header">
        <ion-row>
          <ion-col>
            <ion-label class="card_header_text">{{item1.Zone}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label class="card_header_text">{{item1.Region}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Branch</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelData-text">{{item1.Branch}}</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <a (click)="showmore(i)">
              <!-- <a ng-click="showmore(i,items.CALL_ID)"> -->

              <i id="imageidvalsp{{0+i}}" class="fa fa-angle-double-down" aria-hidden="true"
                style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 3px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right"></i>
            </a>
          </ion-col>
          <div id="dividvalsp{{0+i}}" style="display:none;" size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
            <ion-row>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Asset Category</ion-label>
                <ion-label class="labelData-text">{{item1.Category}}</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Asset Subcategory</ion-label>
                <ion-label class="labelData-text">{{item1.SubCategore}}</ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Quantity</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelData-text">{{item1.Qty}}</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
                <a (click)="showless(i)"><i class="fa fa-angle-double-up" aria-hidden="true"
                    style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 1px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right;"></i></a>

              </ion-col>
            </ion-row>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-grid>
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>