<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Service List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="branch"></ion-input>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Code</ion-label>
        <!-- <div style="height:40px !important;background-color: aliceblue;"> -->
          <ion-row>
              <ion-col size-sm="10" size="10" size-md="10" size-lg="10" size-xl="10">
                <ion-searchbar [(ngModel)]="assetcode" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
                <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
                  <ion-item *ngFor="let item of assetcode1" style="background-color: white !important;
                  color: gray !important;" (click)="processasset(item)">
                    {{ item }}
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
                <ion-button style="--background:white; --background-hover:white" (click)="scancoderecon()">
                  <ion-icon slot="icon-only" name="barcode" color="danger"></ion-icon>
                </ion-button>
              </ion-col>
          </ion-row>
        <!-- </div> -->
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Vendor Code</ion-label>
          <ion-input style="background-color: #d4d4d4!important;" class="form-control"
            [(ngModel)]="vendorcode"></ion-input>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Date Of Service</ion-label>
          <ion-input style="background-color: #d4d4d4!important;" class="form-control" type="date"
            [(ngModel)]="reqdate">
            <ion-icon name="calendar" style="padding: 5px;"></ion-icon>
          </ion-input>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
               
          <ion-button (click)="processassetservicereqfilter()" style="--background:#009689;width: 50%;margin: 0 auto;padding: 3px;" size="full" >Search
          </ion-button>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
         
          <ion-button (click)="resetservicereqfilter()" style="--background:#009689;width: 50%;margin: 0 auto;padding: 3px;" size="full" >Reset
          </ion-button>
        </ion-col>
</ion-row>

<p style="font-weight: bold;text-align:center">Total Lead : {{listviewdetailsLength}}</p>
    <ion-card *ngFor="let item1 of listviewdetails; let i = index" style="background-color:#fff">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
          style="background-color: #2e3192!important;color:#fff;padding:12px;">
          <span class="labelsize" style="color: white;font-size: 14px;font-weight: 500" >{{item1.ASSET_CODE1}}</span>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
          style="background-color: #2e3192!important;color:#fff;padding:12px;text-align:right;">

        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <p style="font-weight:bold;">Vendor Code</p>
          <span style="font-size: 14px!important;">{{item1.vendor}}</span>
        </ion-col>
  
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <p style="font-weight:bold;">Date Of Service</p>
          <span style="font-size: 14px!important;" *ngIf="item1.DATE_OF_SERVICE">{{item1.DATE_OF_SERVICE}}</span>
          <span style="font-size: 14px!important;" *ngIf="!item1.DATE_OF_SERVICE">--</span>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <p style="font-weight:bold;">Delivery Date</p>
          <span style="font-size: 14px!important;" *ngIf="item1.EXPECTED_DATE_OF_DELIVERY">{{item1.EXPECTED_DATE_OF_DELIVERY}}</span>
                <span style="font-size: 14px!important;" *ngIf="!item1.EXPECTED_DATE_OF_DELIVERY">--</span>
        </ion-col>
  
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <p style="font-weight:bold;">Expense</p>
          <span style="font-size: 14px!important;" *ngIf="item1.EXPECTED_EXPENSES">{{item1.EXPECTED_EXPENSES}}</span>
          <span style="font-size: 14px!important;" *ngIf="!item1.EXPECTED_EXPENSES">--</span>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <p style="font-weight:bold;">Status</p>
          <span style="font-size: 14px!important;" *ngIf="item1.status">{{item1.status}}</span>
          <span style="font-size: 14px!important;" *ngIf="!item1.status">--</span>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
        </ion-row>
      </ion-grid>   
    </ion-card> 
  </ion-grid>
</ion-content>
<ion-footer>
  
  <ion-row>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
    © SunSmart Global Inc
  </ion-col>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
   {{username}}
 </ion-col>
  </ion-row>
 
   
 </ion-footer>