<ion-header>
  <ion-toolbar>

    <ion-title>Update</ion-title>
    <ion-icon name="close-circle" (click)="closemodel()" style="float:right"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color:#fff">
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12" style="background-color: #2e3192!important;color:#fff;padding:12px;">
          Spares Used
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" >
          <ion-label style="font-weight:bold;display: block;">S.no<span style="color:red;margin-left: 5px;">*</span></ion-label>
          <ion-input type="text" class="form-control" [(ngModel)]="sno" disabled="">{{sno}}</ion-input>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" >
          <ion-label style="font-weight:bold;display: block;">Material Code<span style="color:red;margin-left: 5px;">*</span></ion-label>
          
          <select [(ngModel)]="materialcode" class="form-control" style="width:100%" (change)="matrialdtle(materialcode)" disabled="">
            <option>{{materialcode}}</option>
            <!-- <option *ngFor="let item of sparematerialddtl; let i = index" [value]="item.ITEM_CODE">{{item.ITEM_CODE}} -->
            <!-- </option> -->
          </select>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" >
          <ion-label style="font-weight:bold;display: block;"> Material Description <span style="color:red;margin-left: 5px;">*</span></ion-label>
          <ion-input type="text" class="form-control" disabled="">{{materialdescp}}</ion-input>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" >
          <ion-label style="font-weight:bold;display: block;"> Cost <span style="color:red;margin-left: 5px;">*</span></ion-label>
          <ion-input type="number" [(ngModel)]="cost" class="form-control" disabled="" >{{cost}}</ion-input>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">  
          <ion-label style="font-weight:bold;display: block;"> Date Of Installation <span style="color:red;margin-left: 5px;">*</span></ion-label>
          <ion-input  displayFormat="MM/DD/YYYY" [(ngModel)]="doi" class="form-control" disabled="" >{{doi}}</ion-input>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" >
          <ion-label style="font-weight:bold;display: block;"> Quantity <span style="color:red;margin-left: 5px;">*</span></ion-label>
          <ion-input type="number" [(ngModel)]="quantity" (click)="spareCostvalidate($event)" class="form-control"></ion-input>
        </ion-col>

        <!-- <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12"  >
          <ion-button (click)="insertspare()" text-center style="--background:#009689" size="small">Save
          </ion-button>
      </ion-col>  -->
      </ion-row>

    <ion-row size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
      <ion-col size-sm="3" size="3" size-md="3" size-lg="4" size-xl="3"></ion-col>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="4" size-xl="6">
        <ion-button (click)="updatespare()" [disabled]="(materialcode=='<< Select >>' || materialdescp==undefined|| sno== undefined || doi == undefined || quantity == undefined)" text-center style="--background:#009689" size="small">update
        </ion-button>
      </ion-col> 
      <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3"></ion-col>
   
    </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
