<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="transCancel()" >
        <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>PMS Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header class="card_header">
    <ion-label class="card_header_text"> Transaction</ion-label>
  </ion-card-header>

  <ion-card-content>
    <div>
      <!-- Theme classes dark, material, bootstrap -->
      <ngx-datatable 
      class="material"
      [limit]="8" 
      [rows]="data" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [headerHeight]="50" 
      [footerHeight]="50">

      </ngx-datatable>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>