<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PMS Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="top-header">
    <ion-col size="4">
      <ion-button expand="block" size="small" style="margin-left: 10px;" (click)="togglefilter()"> Filter &nbsp;&nbsp;
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="showfilter">
    <ion-card-content>
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <!-- <ion-label class="ContentName">Branch :</ion-label> -->
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label>Branch <span style="color:red;">*</span></ion-label>
            <select id="selectbutton" [(ngModel)]="branch" class="form-control" (change)="BranchLocationdata(branch)">
              <option>&lt;&lt; Select &gt;&gt;</option>
              <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
                {{branch.BRANCH_DESC}}
              </option>
            </select>
                  
          </ion-col>
          <!-- <ion-input class="form-control"></ion-input> -->
          <!-- <ion-searchbar placeholder="Search..." animated="true" [(ngModel)]="propertyBranch" ></ion-searchbar>
          <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item   (click)="propertyBrancH(data)" *ngFor="let data of userRecords | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
              <ion-label>{{data.name}}</ion-label>
              <ion-label>{{data.email}}</ion-label>
            </ion-item>
          </ion-list> -->
        </ion-col>


        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Location :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
          <ion-searchbar placeholder="Search..." animated="true" [(ngModel)]="propertyLocation"></ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="propertyLocatioN(data)" *ngFor="let data of userRecords | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
              <ion-label>{{data.name}}</ion-label>
              <ion-label>{{data.email}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Property Code :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
          <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="propertyCode" animated="true">
          </ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="propertyCodE(data)" *ngFor="let data of propertyCode | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
              <ion-label>{{data.name}}</ion-label>
              <ion-label>{{data.email}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>


        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Property Description :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
          <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="propertyDescription" animated="true">
          </ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="propertyDescriptioN(data)" *ngFor="let data of propertyCode | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
              <ion-label>{{data.name}}</ion-label>
              <ion-label>{{data.email}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Rental Code :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
          <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="rentalCode" animated="true">
          </ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="rentalCodE(data)" *ngFor="let data of propertyCode | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
              <ion-label>{{data.name}}</ion-label>
              <ion-label>{{data.email}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12">
          <ion-button class="ion-color-success" expand="block" size="default">SEARCH</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col size="6">
          <ion-label class="card_header_text1">Property Reciept</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-label>Location</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label>Property Code</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>Rental Code</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label>Description</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>Catagory</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>Customer</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>Start Date</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>End Date</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">:</ion-label>
        </ion-col>


        <ion-col size="6">
          <ion-label>Type</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: </ion-label>
        </ion-col>


        <ion-col size="6" style="display: flex;align-items: center;">
          <ion-label>Action</ion-label>
        </ion-col>

        <ion-col size="1" class="labelData-text" style="display: flex;align-items: center;"> : </ion-col>

        <ion-col size="5" style="text-align: center;">
          <ion-button color="primary" size="small" (click)="viewReciept()"> View </ion-button>
        </ion-col>


      </ion-row>
    </ion-card-content>
  </ion-card>



  <!-- <ion-row>
    <ion-col>
      <ion-label class="labelHead-text" style="margin:10px;font-weight: 600;">Transaction Details :</ion-label>
    </ion-col>
  </ion-row>
      <div>
        <ngx-datatable

        class="material"
        [headerClass]="ngx-header"
        [limit]="8"
        [rows]="data"
        [options]="options"
        [rowHeight]="50"
        [columns]="columns"
        [columnMode]="'standard'"
        [headerHeight]="40"
        [footerHeight]="50"
        [scrollbarH]="true"
        [sortType]="'multi'"
        [loadingIndicator]="loadingIndicator"
        [reorderable]="reorderable"
        >

        </ngx-datatable>

      </div> -->

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col size="6">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size="6" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
