ion-content {
  --background: url('../../../assets/images/Headerfooter/background1.png') repeat !important;
  position: relative;
}
.sc-ion-card-md-h{
  --background:#fff;
  border-radius: 12px;
}
.dashboardhead{
  color: #fff;
  padding: 11px;
  background-image: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);
  border-radius: 10px;
  text-align: center;
}

