ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
.plabel{
  font-weight: bold;
 }
 th {
  // background-color: #f2f2f2 !important;
  color: #ffffff;
  padding: 2px !important;
  background-image: none !important;
  // font-size: large !important;

}

table td {
  padding: 7px !important;
}

td {
  // font-size: large !important;
  color: #242424 !important;
  border:none
}
// ion-card-header+.card-content-md {
//   padding-top: 0;
//   margin-left: -5%;
// }

.card-content {
  display: contents;
  position: relative;
}

.card-content{
text-align: center;
}

ion-card .card_header_text {
  font-size: 15px;
  color: white !important;
  font-weight: bold;
  display: block;
}
