<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Property List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="top-header">
    <ion-col size="4" style="margin-left: 15px;">
      <ion-button expand="block" size="small" (click)="togglefilter()"> Filter &nbsp;&nbsp;<ion-icon name="filter">
        </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-card *ngIf="showfilter">
    <ion-card-content>
      <ion-row>

        <ion-col size="12">
          <ion-label>Branch <span style="color:red;">*</span></ion-label>
          <select id="selectbutton" [(ngModel)]="branch" class="form-control" (change)="getLocationdata(branch)">
            <option [ngValue]="undefined" selected disabled>
              << Select >>
            </option>
            <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
              {{branch.BRANCH_DESC}}
            </option>
          </select>
        </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Location</ion-label>
        <select id="selectbutton" [(ngModel)]="branchlocation" class="form-control"
        (change)="newPropertyCode(branchlocation)">
          <option [ngValue]="undefined" selected>
            << Select >>
          </option>
          <option *ngFor="let location of customerlocation; let i = index" [ngValue]="location.LOCATION_ID">
            {{location.LOCATION_DESC}}</option>
        </select>
      </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Code</ion-label>
          <ion-searchbar [(ngModel)]="propertycode" type="text" debounce="500" (ionInput)="getPropertyCode($event)">
          </ion-searchbar>
          <ion-list *ngIf="isPropertycodeAvailable" class="searchlist" style="height: auto;">
            <ion-item *ngFor="let item of propertyCode1" (click)="addPropertycode(item)"
              style="background:none !important;color:#444 !important;display: block;">
              {{item.binding}}
            </ion-item>
            <ion-item *ngIf="showdata">
              No Data found..
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Status</ion-label>
          <select id="selectbutton" [(ngModel)]="status" class="form-control">
            <option value="undefined" selected disabled>
              << Select>>
            </option>
            <option> Approved</option>
            <option> New</option>
            <option> Pending</option>
            <option> Rejected</option>
          </select>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Type</ion-label>
          <select id="selectbutton" [(ngModel)]="PropertyType" class="form-control">
            <option value="undefined" selected disabled>
              << Select>>
            </option>
            <option> Residental</option>
            <option> Commercial</option>
          </select>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Nature</ion-label>
          <select id="selectbutton" [(ngModel)]="PropertyNature" class="form-control">
            <option value="undefined" selected disabled>
              << Select>>
            </option>
            <option value="Occupied"> Occupied</option>
            <option value="Available">Available</option>
          </select>
        </ion-col>

        <ion-col size="12">
          <ion-button color="success" size="default" (click)="filterpropertylistreport()">SEARCH</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
<!--
  <center *ngIf="!showdata"
  style="text-align: center;font-weight: bold;font-size: 17px;color: #000 !important; ">
  Total Records : {{reportpropertylist.length}}</center> -->

  <center *ngIf="reportpropertylist" style="text-align: center;font-weight: bold;font-size: 17px;color: #000 !important;">
    Total records: {{reportpropertylist.length ? reportpropertylist.length : '0'}}</center>

  <ion-card *ngFor="let items of reportpropertylist; let i = index">
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col size="7">
          <ion-label class="card_header_text">Property List</ion-label>
        </ion-col>
        <ion-col size="5">
          <ion-label class="card_header_text"> #{{i+1}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="card_content">
      <ion-grid>
        <ion-row>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> Branch </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.Branch}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text">Location </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text">{{items.Location}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text">Code </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text">{{items.Code}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text">Description </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.Description}}r</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text">Property Type </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.PropertyType}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text">Status</ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.status}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height" style="    justify-content: center;align-items: center;display: flex;">
            <ion-label class="labelHead-text">Property Owner </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.PropertyOwner}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> Total floor </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text">{{items.TotalFloor}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> Property on floor </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.PropertyOnFloor}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> Property Nature </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.PropertyNature}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> customer name </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text"> {{items.CustomerName}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> From date </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text">{{items.Fromdate}}</ion-label>
          </ion-col>

          <ion-col size="5" class="col_height">
            <ion-label class="labelHead-text"> To date </ion-label>
          </ion-col>
          <ion-col size="1"> : </ion-col>
          <ion-col size="6" class="col_height">
            <ion-label class="labelData-text">{{items.Todate}}</ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
