<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Property List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px 0px;"><span style="font-size: 24px;margin: 10px ;color: black;" (click)="togglefilter()"><i
    class="fa fa-filter" aria-hidden="true"></i></span></div>

  <ion-card *ngIf="showfilter">
    <ion-card-content >
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Branch :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
       
          <ion-list >
            <ion-item  >
              
    <ion-select placeholder="Select Branch">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
          </ion-item  >
          </ion-list>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Location :</ion-label>
          <!-- <ion-input class="form-control"></ion-input> -->
       
          <ion-list >
            <ion-item  >
              
    <ion-select placeholder="Select Location">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
          </ion-item  >
          </ion-list>
        </ion-col>
       
        <ion-col size="12">
          <ion-button color="success" size="default">SEARCH</ion-button>
        </ion-col>
      </ion-row>


      
      </ion-card-content>
    </ion-card>
</ion-content>
