ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}

.filtericon{
  display: inline-block;
  text-align: center;
  color: #000 !important;
  background: #eff4fa !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  line-height: 0px;
  margin-top: 10px;
}
