<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" >
        <ion-label class="tool-barHeaderText">Additional Charges</ion-label>
      </ion-col>
      <ion-col size="6" style="text-align: end;">
        <ion-label  (click)="cancel()" class="toolbar-HdrCnclText">Cancel</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close-circle-outline" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <!-- <ion-title style="margin: 0 20px;">Additional Charges</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="card_header">
      <ion-card-title class="card_header_text">ADD</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card_content">

      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Branch <span style="color:red;">*</span></ion-label>
          <select id="selectbutton" [(ngModel)]="branch" class="form-control" (change)="getLocationdata(branch)">
            <option [ngValue]="undefined" selected disabled>
              << Select >>
            </option>
            <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
              {{branch.BRANCH_DESC}}
            </option>
          </select>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label>Branch Location</ion-label>
            <select id="selectbutton" [(ngModel)]="branchlocation" class="form-control"
              (change)="newPropertyCode(branchlocation)">
              <option [ngValue]="undefined" selected disabled>
                << Select >>
              </option>
              <option *ngFor="let location of branchlocationlist; let i = index" [ngValue]="location.LOCATION_ID">
                {{location.LOCATION_DESC}}</option>
            </select>
          </ion-col>
        </ion-col>


        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
              <ion-label class="ContentName">Location :</ion-label>

              <ion-searchbar  [(ngModel)]="locationcode" type="text" debounce="500" (ionChange)="getlocationItems($event)"></ion-searchbar>
              <ion-list *ngIf="islocItemAvailable" class="searchlist" style="margin: 0px;
              padding: 0px;"  [ngStyle]="{'height':locationcode1.length >0?'100px':'0px'}">

                    <ion-item *ngFor="let item of locationcode1">{{item}}</ion-item>
                </ion-list>
          </ion-col> -->

        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Property Code :</ion-label>

          <ion-searchbar placeholder="Search..." class="form-control" debounce="500"
            style="height: 61px !important;padding: -1px !important;" [(ngModel)]="propertyCode"
            (ionInput)="getItems($event)"></ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="propertyCodE(data)" *ngFor="let data of propertyCode | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col> -->
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Code</ion-label>
          <ion-searchbar [(ngModel)]="propertycode" type="text" debounce="500" (ionInput)="getPropertyCode($event)">
          </ion-searchbar>
          <ion-list *ngIf="isPropertycodeAvailable" class="searchlist" style="height: 100px;">
            <ion-item *ngFor="let item of propertyCode1" (click)="addPropertycode(item)"
              style="background:none !important;color:#444 !important;display: block;">
              {{item.binding}}
            </ion-item>
          </ion-list>
        </ion-col>
        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Rental ID</ion-label>
          <ion-input type="text" [(ngModel)]="rentalID" class="form-control" style="background-color: lightgray;"></ion-input>
        </ion-col> -->
        <ion-col size="12">
          <ion-label class="labelHead-text"> Description :</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="" [(ngModel)]="property_desc" class="form-control"></ion-input>
        </ion-col>

        <ion-col size="12">
          <ion-label class="labelHead-text"> Amount :</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="" [(ngModel)]="payAmount" class="form-control"></ion-input>
        </ion-col>

        <ion-col size="12">
          <ion-label class="labelHead-text"> Pay Date :</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="date" class="form-control" displayFormat="MM/DD/YYYY" [(ngModel)]="payDate"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!showView">
        <ion-col size="12">
          <ion-button class="ion-color-success" expand="block" (click)="createAdditional()">Save</ion-button>
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf="showView">
        <ion-col size="6">
          <ion-button color="success">Edit</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" (click)="cancelBtn()">Cancel</ion-button>
        </ion-col>
      </ion-row> -->

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
