/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
 /* Core CSS required for Ionic components to work properly */
 @import "~@ionic/angular/css/core.css";

 /* Basic CSS for apps built with Ionic */
 @import "~@ionic/angular/css/normalize.css";
 @import "~@ionic/angular/css/structure.css";
 @import "~@ionic/angular/css/typography.css";
 @import "~@ionic/angular/css/display.css";

 /* Optional CSS utils that can be commented out */
 @import "~@ionic/angular/css/padding.css";
 @import "~@ionic/angular/css/float-elements.css";
 @import "~@ionic/angular/css/text-alignment.css";
 @import "~@ionic/angular/css/text-transformation.css";
 @import "~@ionic/angular/css/flex-utils.css";

 * {
   font-family: "Poppins";
 }

 .homeicon {
   width: 30px;
   height: 30px;
   float: left;
   position: relative;
   left: 20px;
   z-index: 1;
   top: 6px;
 }

 .onlineexam {
   background-color: #3f51b5;
   padding-left: 41px;
 }

 .applicanticon {
   color: white;
   font-size: 18px;
   font-weight: 500;
   float: right;
   height: 20px;
   position: relative;
   top: -10px;
   cursor: pointer;
 }

 .installdata {
   position: relative;
   top: 28px;
 }

 ion-textarea {
   height: auto !important;
 }

 .nodata {
   text-align: center;
   padding: 20px;
 }

 .eucationdetails button {
   background: transparent;
 }

 .profiledetails {
   width: 58%;
   text-align: right;
 }

 .profiledetails button {
   background: transparent;
   color: #fff;
 }

 .profileicon {
   position: relative;
 }

 ion-segment ion-label {
   text-transform: uppercase !important;
 }

 .circleicon {
   position: fixed;
   bottom: 20px;
   right: 12px;
   padding: 10px;
   color: #fff;
   border-radius: 50%;
   background-color: #009688;
 }

 .ContentName {
   color: #000 !important;
   font-weight: 700 !important;
 }

 #ContentName {
   color: #000 !important;
   font-weight: 700 !important;
 }

 .plusicon {
   border-radius: 50%;
   background-color: #009688;
   color: white !important;
   float: right;
   /* padding: 10px; */
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: -5;
 }

 ion-card {
   --background: #fff !important;
 }

 // ion-modal {
 //     height: 283px;
 // }

 table {
   width: 100%;
 }

 table th {
   border: 1px solid #ddd;
   font-size: 13px;
   padding: 10px !important;

 }

 table td {
   // background-color: rgba(211, 30, 17, 0.71);
   border: 1px solid #ddd;
   font-size: 13px;
   padding: 10px !important;
   color: #0000 !important;
 }

 .heatmap table tr {
   background-color: #f9f9f9;
 }

 .heatmap td,
 th {
   background-image: linear-gradient(to left, rgb(34, 191, 241), rgb(2, 154, 222) 50%, rgb(2, 154, 222) 50%);
   color: white;
 }

 // ion-grid{
 // ion-grid{
 //     ion-row {
 //         ion-col{
 //             background-color: rgb(86,131,173) !important;
 //         }
 //     }
 // }
 // }

 .validatecolor {
   color: red;
   margin-left: 5px;
 }

 ion-button {
   --text-decoration: none;
 }

 select,
 input,
 ion-input {
   width: 100%;
 }

 .expensedetail {
   background: #2e3192;
   color: white;
   padding: 10px;
   font-weight: bold;
   text-align: center;
   position: relative;
   top: -14px;
 }

 ion-searchbar {
   padding: 0;
   border-radius: 2px;
   border: 1px solid #ccc;
   border-radius: 4px;
   height: 42px;
 }

 .companyautopop {
   position: relative;
   /* top: -7px; */
   width: 97%;
   left: 9px;
   height: 176px;
   position: absolute;
   z-index: 1000;
   top: 65px;
   overflow: auto;
   border: 1px solid #ddd;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
   -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }

 .arrowicon {
   float: right;
   position: relative;
   top: 5px;
   right: 10px;
 }

 .menuhead {
   color: white !important;
   margin-left: 29px;
   font-weight: 600;
   font-size: 17px;
   font-family: "Poppins";
   margin-top: 0px;
   margin-bottom: 28px;
   // font-family: 'Poppins', sans-serif;

   // font-family: 'Poppins';
 }

 .mainicon {
   position: relative;
   top: 7px;
   color: white;
   right: 10px;
 }

 .menulsit {
   //    --background:linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);
   background-color: #ffff;
   color: white;
   margin-left: 0px;
   position: relative;
   top: -15px;
 }

 .popupclose {
   float: right;
   position: absolute;
   right: 10px;
   top: 17px;
   cursor: pointer;
   font-size: 22px;
 }

 .leadscolumn {
   background-color: #00acfb !important;
   // background-image: linear-gradient(to left, rgb(34, 191, 241), rgb(2, 154, 222) 50%, rgb(2, 154, 222) 50%);
   color: #fff;
   padding: 12px;
 }

 .closebtn {
   color: red;
   position: absolute;
   right: 0;
   cursor: pointer;
   top: -2px;
   font-size: 20px;
 }

 .gm-style .gm-style-iw-c {
   max-width: fit-content !important;
 }

 .gm-style-iw-d {
   max-width: fit-content !important;
 }

 .searchlist {
   // top: 65px;
   width: 100%;
   // left: 6px;
   position: relative;
   z-index: 100;
   overflow: scroll;
   border: 1px solid #ddd;
   background-color: #fff !important;
 }

 // .alert-button-group.sc-ion-alert-md {
 //   justify-content: center !important;
 // }

 .alert-button-group.sc-ion-alert-md {
   justify-content: space-around !important;
 }

 // .alert-button {
 //   width: 47%;
 // }

 ion-title {
   font-size: 18px;
 }

 ion-header {
   background-image: url("./assets/images/loginBackground.png");
   position: sticky;
   top: 0;
 }

 ion-header::after {
   background-image: none;
 }

 ion-header {
   ion-toolbar {
     ion-title {
       // padding: 33px;
       font-weight: 600;
       // margin-left: -53px;
       font-family: "poppins";
       text-align: initial;

       h6 {
         // background-color: #5d5ddd;
         // padding: 15px;
         margin-top: 6px;
       }
     }
   }
 }

 // .sc-ion-modal-md-h {
 //     height: 52% !important;
 //     top: 17%;
 // }
 ion-footer {
   background-color: #004073;

   // --background: url("/assets/Images/Headerfooter/bottombox.png") no-repeat;

   // background: red !important;
   // position: absolute;
   bottom: 0 !important;
   height: 40px;
   border-radius: 16px 16px 0 0 !important;

   // background-color: beige;
   ion-row {
     ion-col {
       color: white;
       top: 6px;
     }
   }
 }

 .sc-ion-segment-md-h {
   background-color: #4c8dff;
 }

 .segment-button-has-label {
   text-transform: none;
 }

 .segment-button-checked {
   color: #ffff;
   --border-color: #ffff;
 }

 .sc-ion-segment-md-h {
   --color-checked: #fff;
 }

 .customCounter {
   font-size: 14px;
   border-radius: 16px;
   background: #ef473a;
   /* color: #ef473a; */
   margin-top: 6px;
   float: right;
   margin-right: 5px;
   padding: 3px 5px 0px 5px;
   font-family: Lucida Sans Unicode;
   color: #ffffff;
 }

 // .alert-button-inner.sc-ion-alert-md {
 //   justify-content: center !important;
 // }

 input,
 button,
 select,
 textarea {
   font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
 }

 .btn-info {
   text-transform: none;
   border-radius: 4px;
   color: #fff;
   background-color: #5bc0de;
   border-color: #46b8da;
   padding: 10px;
 }

 .yesbtn {
   width: 50%;
 }

 .nobtn {
   width: 50%;
 }

 .toolbar-container {
   background-color: #004073 !important;
 }

 ion-toolbar {
   --background: url("./assets/images/loginBackground.png") no-repeat;

   // --background: rgb(6,159,225)!important;
   // --background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);
 }

 ion-toolbar {
   --background: url("./assets/images/loginBackground.png") no-repeat;

   // --background: rgb(6,159,225)!important;
   // --background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);

   // background-image: -webkit-linear-gradient(30deg, rgb(2,154,222) 50%, rgb(34,191,241) 50%);
   // background-color: #34ADFF;
   // --background:#fd6b0d !important;
   color: white;
   font-size: 17px;
   text-align: center;
   padding-top: 37px !important;
   // height: 169px;
 }

 ion-content>.scroll-content {
   padding-bottom: 56px;
 }

 ion-content {
   // --background: url(../assets/Images/Landing/bg.png) no-repeat;
   position: relative;
   opacity: 0.9;
   font-family: "Poppins" !important;
   // bottom: 50px;
 }

 app-login ion-content {
   // --background: url(../assets/images/Login/bg.png) no-repeat;

   opacity: defa;
   opacity: inherit;
 }

 .toolbar-container {
   background-color: #43c585;
 }

 // .scroll-x.sc-ion-content-md,
 // .scroll-y.sc-ion-content-md {
 // --background: url(../assets/images/Login/background.png) repeat;
 // }

 .button-inner {
   text-transform: none;
 }

 .form-control {
   width: 100%;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   height: 45px;
   margin-top: 10px;
   font-weight: bold;
   // display: flex;
   // width: 100%;
   // height: 42px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #000000;
   background-color: #ffffff;
   font-family: "Poppins";
   /* background-image: none; */
   // /* border: 1px solid #ccc;
   // border-radius: 4px;
   /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   // border: 1px solid #ccc;
 }

 .labelcls {
   width: 58%;
 }



 // .form-control{
 //     display: block;
 //     width: 100%;
 //     height: 42px;

 //     font-size: 14px;
 //     line-height: 1.42857143;

 //     color: #111;
 //     background-color: white;
 //     background-image: none;
 //     border: 1px solid #ccc;
 //     border-radius: 4px;
 //     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 //     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 //     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
 //     -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 //     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 //     .textareas{
 //         width:100%;
 //         min-height:80px;
 //         resize:none;
 //     }
 // }

 .item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs),
 .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
   cursor: default;
   opacity: default !important;
   pointer-events: none;
 }

 .item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs),
 .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
   cursor: default;
   opacity: default;
   pointer-events: none;
 }

 .item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs),
 .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
   cursor: default;
   opacity: inherit;
   pointer-events: none;
 }

 .select-disabled {
   opacity: inherit;
 }

 .native-input[disabled].sc-ion-input-md {
   opacity: initial;
 }

 .native-ion-label[disabled].sc-ion-input-md {
   opacity: initial;
 }

 .native-input[disabled].sc-ion-input-md {
   opacity: initial;
 }

 ion-searchbar {
   padding: 0;
 }

 .searchbar-input.sc-ion-searchbar-md {
   display: block;
   height: 42px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #111;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   margin: 0;
 }

 .sc-ion-searchbar-md-h {
   padding: 0;
 }

 .button-native {
   --text-decoration: none !important;
 }

 .searchbar-input {
   display: block;
   height: 42px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #111;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   margin: 0;
 }

 // .alert-head {
 //     background: rgb(36, 193, 242) !important;
 // }

 .alert-title {
   color: #fff !important;
   font-size: 16px !important;
   text-align: center;
 }

 .btn-success {
   color: #fff !important;
   background-color: #ffd700 !important;
   border-color: #ffd700 !important;
 }

 .logoutbtn {
   font-size: 10px;
   position: absolute;
   float: right;
   z-index: 10000;
   right: 17px;
   text-align: center;
   top: 9px;
   background: none;
 }

 .logicon {
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   padding-top: 37px;
 }

 .btn {
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
 }

 // .alert-message {
 // background: rgb(36, 193, 242) !important;
 // }

 .alert-head,
 .alert-message.sc-ion-alert-md {
   background: #fff !important;
   color: #000;
   text-align: center;
   font-size: large;
 }

 // .alert-message.sc-ion-alert-md {
 //     background: rgb(36, 193, 242) !important;
 //     color: #fff;
 //     text-align: center;
 // }

 .alert-message.sc-ion-alert-md table {
   width: 100%;
   text-align: left;
   font-size: 15px;
 }

 .alert-message.sc-ion-alert-md {
   max-height: auto !important;
 }

 .alert-message.sc-ion-alert-md table tr td {
   padding-top: 5px;
   padding-bottom: 5px;
   font-weight: bold;
   color: #000 !important;
   width: 125px;
 }


 // .sc-ion-alert-md-h {
 // --min-width: 350px !important;
 // }

 .alert-button-group {
   color: #fff;
   // background-color: red !important;
   // background: linear-gradient(to left, #32CD32 50%, #ff0000ff 50%) !important;
   background: linear-gradient(to left, #089408cc 50%, #e71414f0 50%) !important;
 }

 .alert-button.sc-ion-alert-md {
   color: #fff !important;
 }

 // ion-item{
 //     --background-hover:black !important;
 //     --background: rgb(44,144,160) !important;
 //     --color:white;
 //     --font-weight:bold;
 //     --font-weight: 600;

 // }
 ion-item {
   --background-hover: black !important;
   --background: rgba(44, 144, 160, 0) !important;
   --color: #111;
   --font-weight: bold;
   --font-weight: 600;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
 }

 .icon-bg1 {
   background-color: blue;
   padding-top: 9px;
   font-size: 16px;
   border-radius: 50%;
   color: #fff;
   width: 35px;
   height: 35px;
   line-height: -39px;
   /* padding: 13px; */
   /* padding-top: 6px; */
   text-align: center;
 }

 ion-label {
   color: #000;
   font-weight: 500;
   width: 100%;
   /* border-color: #ddd; */
   /* background-color: #fff; */
   /* color: #444; */
   /* position: relative; */
   /* z-index: 2; */
   /* display: block; */
   // margin: -1px;
   /* padding: 16px; */
   border-width: 1px;
   /* border-style: solid; */
   font-size: 15px;
   top: 11px;
 }

 .dashboardbranch {
   margin-top: 12px;
   margin-left: 20px;
 }

 .canvasdiv {
   margin-top: 15px;
 }

 // ion-modal{
 //     margin: 15px !important;
 // }
 ion-modal ion-toolbar {
   --background: #004073;
 }

 .btncolor {
   --background: rgb(1, 118, 198) !important;
   width: 50%;
   margin: 0 auto;
 }

 .titlecolor {
   color: white !important;
 }

 ion-icon {
   font-size: 25px;
   // color: #004073;

   // padding-top: 12px;
 }

 .ionicon {
   color: #004073;
 }

 .hydrated {
   visibility: visible !important;
 }

 ion-button {
   width: 100%;
 }

 .swiper-pagination-bullet {
   display: none !important;
 }

 .sc-ion-modal-md-h {
   height: 100% !important;
 }

 .item-divider {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 5px;
   min-height: 30px;
   background-color: brown !important;
   color: white !important;
   font-weight: 500;
 }

 .subheader {
   height: 7%;

   ion-title {
     text-align: center;
     margin-top: 12px;
   }
 }

 #loginInput {
   background-color: #fff;
 }

 .item {
   background-color: rgb(243, 245, 247);
   // width: 100%;
   // border-color: #ddd;
   // --background-color: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);
   //  color: white;
   // color: #444;
   // position: relative;
   // z-index: 2;
   // display: block;
   margin: 0px;
   // padding: 16px;
   // border-width: 1px;
   // border-style: solid;
   // font-size: 16px;
   width: 100%;
   /* border-color: #ddd; */
   /* background-color: #fff; */
   /* color: #444; */
   /* position: relative; */
   /* z-index: 2; */
   /* display: block; */
   //  margin: 9px;
   /* padding: 16px; */
   border-width: 1px;
   /* border-style: solid; */
   font-size: 16px;
 }

 ion-input ion-icon {
   float: right;
   font-size: 26px;
   padding-right: 12px;
   color: darkgray;
   padding-top: 8px;
 }

 #map {
   overflow: inherit !important;
   position: inherit !important;
   height: 250px;
   width: 100%;
 }

 .error {
   color: #f44336;
   font-size: 15px;
 }

 .input-label {
   position: absolute;
   right: 12px;
   top: 34px;
   z-index: 1000;
 }

 .assertive,
 a.assertive {
   color: #ef473a;
 }

 .balanced,
 a.balanced {
   color: #33cd5f;
 }

 .filtericon {
   display: inline-block;
   text-align: center;
   color: #fff;
   background: #710142 !important;
   position: relative;
   overflow: hidden;
   z-index: 1;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   font-size: 22px;
   width: 37px;
   height: 37px;
   margin-left: 10px;
   line-height: 0px;
   margin-top: 10px;
 }

 .inner-scroll.scroll-y {
   background-color: #2c5291 !important;
 }

 ion-menu-button {
   color: yellow !important;
 }

 .item-inner {
   border-width: 0px !important;
 }

 .dashboardhead {
   color: #fff !important;
   padding: 0px;
   background-image: linear-gradient(to left, rgb(34, 191, 241), rgb(2, 154, 222) 50%, rgb(2, 154, 222) 50%);
   //  border-radius: 10px;
   text-align: center;
 }

 .dashboardheadtitle {
   color: #fff;
   padding: 10px;
   font-size: 20px;
 }

 .addcnt_close {
   background-color: red !important;
   font-size: 25px;
   // position: relative;
   border-radius: 50%;
   // top: -20px;
   // right: -37%;
 }

 .buttonCss {
   // background-color: red !important;
   // color: #fff;
   // button.alert-button {
   //   background-color: red !important;
   //   color: white;
   // }

   // button.alert
   .alert-button-group {
     background: red !important;
   }
 }

 .Cssbutton {
   // background-color: red !important;
   // color: #fff;
   // button.alert-button {
   //   background-color: red !important;
   //   color: white;
   // }

   // button.alert
   .alert-button-group {
     background: green !important;
   }
 }

 .alert-button.sc-ion-alert-ios {
   color: #fff !important;
   font-weight: bold;
 }

 .alert-button.sc-ion-alert-ios:last-child {
   color: #fff;
 }

 .ion-color-danger {
   --ion-color-base: rgb(167, 0, 0) !important;
   --background: rgb(167, 0, 0) !important;
   color: #fff !important;
   --color:#fff !important;
 }

 .ion-color-success {
   --ion-color-base: #006600 !important;
   --background: green !important;
   color: #fff !important;
   --ion-color-contrast: var(--ion-color-light) !important;
   --color:#fff !important;

 }

 ion-card {
   box-shadow: 1px 1px 7px 0px grey;
 }

 ion-card {
   .card_header_text {
     font-size: 15px;
     color: #ffff !important;
     margin:auto;
display: flex;
justify-content: center;
}
     // padding-right: 50px !important;
   }

 ion-card {
   .card_header_text1 {
     font-size: 15px;
     color: #ffff !important;
     padding-left: 64px !important;
   }
 }


 ion-card {
   .card_header {
     background-image: linear-gradient(to left,
         rgb(34, 191, 241),
         rgb(2, 154, 222) 50%,
         rgb(2, 154, 222) 50%) !important;
     color: white !important;
     text-align: initial;
     padding: 10px;
   }
 }


 ion-card {
   .card_content {
     height: auto;
     background-color: #ffff !important;
     padding: 15px;
     color: #000;
   }
 }

 ion-card {
   .card_content {
     .card_content_label {
       height: auto;
       background-color: #ffff !important;
       color: #000 !important;
       font-size: 14px;
     }
   }
 }

 // .dashboardheadCams {
 //   color: #fff !important;
 //   padding: 0px;
 //   background-color: #1ba4e1 !important;
 //   background-image: linear-gradient(to left, rgb(34, 191, 241), rgb(2, 154, 222) 50%, rgb(2, 154, 222) 50%);
 //   border-radius: 10px;
 //   text-align: center;
 // }

 .hrms_header {
   background-color: #019ade !important;
   color: white !important;
   text-align: center;
   padding: 0px;
 }



 .alert-radio-group {
   background-color: white !important;
 }

 label {
   color: black !important;
 }

 ion-checkbox {
   --size: 20px;
   --background-checked: #0074b8;
 }

 ion-checkbox::part(container) {
  border-radius: 4px;
  border: 1px solid #0074b8;
  // background: #fff !important;
}
.Input-text-field{
  border: 1px solid rgb(180, 177, 177);
  border-radius: 4px;
  background-color: #fff !important;
  display: inline-block;
}
.tool-barHeaderText{
  color:#fff !important;
  font-size:17px;
}
.toolbar-HdrCnclText{
  color:#fff !important;
  text-align: end;
}
.totalCount{
  font-weight: bold;
  text-align:center;
  color: #000 !important;
}
.labelHead-text{
  display: flex;
  color: #000;
  font-weight: 600;
}
.labelData-text{
  font-size: 14px!important;
  font-weight: bold;
}
//suneel
:host(.item-interactive.ion-valid) {
  --highlight-background: #4c8dff !important;
}

 .Input-text-field {
   border: 1px solid rgb(180, 177, 177);
   border-radius: 4px;
   background-color: #fff !important;
   display: inline-block;
 }

 .tool-barHeaderText {
   color: #fff !important;
   font-size: 17px;
 }

 .toolbar-HdrCnclText {
   color: #fff !important;
   text-align: end;
 }

 .totalCount {
   font-weight: bold;
   text-align: center;
   color: #000 !important;
 }

 .labelHead-text {
   display: flex;
 }

 .labelData-text {
   font-size: 14px !important;
   font-weight: bold;
 }

 //suneel
 :host(.item-interactive.ion-valid) {
   --highlight-background: #4c8dff !important;
 }

 i.fa.fa-filter {
   color: #8B4513 !important;
 }

 .listButton {
   --background: #0944B1 !important;
 }

 b, strong {
  font-weight: 600;
  COLOR: black;
}
ion-searchbar{
  height: 40px;
  background-color: white;
}