<ion-app>
  <!-- <img src='assets/Images/home.png' [hidden]="logoutbtn"  class="homeicon"> -->
   
    <button [hidden]="logoutbtn" class="button button-icon button-clear logoutbtn"  (click)="logout()" style="font-size:10px">
        <ion-icon class="logicon" name="power"></ion-icon>
    </button>
  
      <ion-menu menuId="first" contentId="content"  type="overlay">
        <ion-header>
          <ion-toolbar style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); color: white;">
            <ion-title>My Desk</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); color: white;">
           <p class="menuhead"   (click)="menutoogle()"><ion-icon class="mainicon" name="people"></ion-icon>HRMS<ion-icon class="arrowicon" name="arrow-dropdown" style="color: white;"></ion-icon></p>
      
          <ion-list class="menulsit"  *ngIf="list" no-lines>
            <ion-menu-toggle>
          
             
                  <ion-item  *ngFor="let p of hrmsPages" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%);;border: none !important;" [routerDirection]="'root'" [routerLink]="[p.url]">
                      <ion-icon style="color:#fff !important;margin-top: 0px !important;font-family: poppins;" slot="start" [name]="p.icon"></ion-icon>
                      <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100;font-family: poppins;">
                        {{p.title}}
                      </ion-label>
                    </ion-item>
           
          
            </ion-menu-toggle>
           
          </ion-list>
         <p class="menuhead"  (click)="menutoogle1()"><ion-icon class="mainicon" name="briefcase"></ion-icon>Sales<ion-icon class="arrowicon" name="arrow-dropdown"></ion-icon></p>

          <ion-list class="menulsit"  *ngIf="list1" no-lines>
          <ion-menu-toggle>
        
           
                <ion-item  *ngFor="let p of salespages" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); border: none !important;" [routerDirection]="'root'" [routerLink]="[p.url]">
                    <ion-icon style="color:#fff !important;margin-top: 0px !important;" slot="start" [name]="p.icon"></ion-icon>
              
                    <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
                      {{p.title}}
                    </ion-label>
                  </ion-item>
         
        
          </ion-menu-toggle>
         
        </ion-list> 

        <p class="menuhead"   (click)="menutoogleCams()"><ion-icon class="mainicon" name="people"></ion-icon>CAMS<ion-icon class="arrowicon" name="arrow-dropdown"></ion-icon></p>

        <ion-list class="menulsit"  *ngIf="CamsList" no-lines>
          <ion-menu-toggle>
        
           
                <ion-item  *ngFor="let p of CamsPage" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); border: none !important;" [routerDirection]="'root'" [routerLink]="[p.url]">
                    <ion-icon style="color:#fff !important;margin-top: 0px !important;" slot="start" [name]="p.icon"></ion-icon>
              
                    <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
                      {{p.title}}
                    </ion-label>
                  </ion-item>
         
        
          </ion-menu-toggle>
        </ion-list>

        <p class="menuhead" (click)="menutoogle5()">
          <ion-icon class="mainicon" name="people"></ion-icon>COBA<ion-icon class="arrowicon" name="arrow-dropdown">
          </ion-icon>
        </p>
        <ion-list class="menulsit" *ngIf="list5" no-lines>
          <ion-menu-toggle>
        
           
              <ion-item *ngFor="let p of cobapages" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); border: none !important;" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon style="color:#fff !important;margin-top: 0px !important;" slot="start" [name]="p.icon"></ion-icon>
           
                  <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
                    {{p.title}}
                  </ion-label>
                </ion-item>

         
        
          </ion-menu-toggle>
         
        </ion-list>

      <p class="menuhead"  (click)="menutoogle3()"><ion-icon class="mainicon" name="grid"></ion-icon>DMS <ion-icon class="arrowicon" name="arrow-dropdown"></ion-icon></p>

        <ion-list class="menulsit" *ngIf="list3" no-lines>
          <ion-menu-toggle>
            <!-- *ngFor="let p of Dmspage" -->
           
              <!-- <ion-item  style="--background:black !important;border: none !important;" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon style="color:#fff !important;margin-top: 0px !important;" slot="start" ></ion-icon>
                  <!-- [name]="p.icon" -->
<!--            
                  <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
      
                  </ion-label> -->
                  <!-- {{p.title}} -->
                <!-- </ion-item> --> 

         
        
          </ion-menu-toggle>
         
        </ion-list>

         <p class="menuhead" (click)="menutoogle2()">
          <ion-icon class="mainicon" name="people"></ion-icon>ERP<ion-icon class="arrowicon" name="arrow-dropdown">
          </ion-icon>
        </p>

        <ion-list class="menulsit" *ngIf="list2" no-lines>
          <ion-menu-toggle>


            <ion-item *ngFor="let p of erppages" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); border: none !important;" [routerDirection]="'root'"
              [routerLink]="[p.url]">
              <ion-icon style="color:#fff !important;margin-top: 0px !important;" slot="start" [name]="p.icon">
              </ion-icon>

              <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
                {{p.title}}
              </ion-label>
            </ion-item>


          </ion-menu-toggle>

        </ion-list>

         <!-- *ngIf='user_role == 1'  -->

         <p class="menuhead" *ngIf="chkadmin"  (click)="menutoogle4()"><ion-icon class="mainicon" name="grid"></ion-icon>My approvals</p>
  <ion-icon class="arrowicon" name="arrow-dropdown"></ion-icon> 

         <p class="menuhead"  (click)="menutoogle6()"><ion-icon class="mainicon" name="cart"></ion-icon>Procurement<ion-icon class="arrowicon" name="arrow-dropdown"></ion-icon></p>

        <ion-list class="menulsit" *ngIf="list6" no-lines>
          <ion-menu-toggle>


            <ion-item *ngFor="let p of procurement" style="--background: linear-gradient(to left, rgb(34,191,241), rgb(2,154,222) 50%, rgb(2,154,222) 50%); border: none !important;" [routerDirection]="'root'"
              [routerLink]="[p.url]">
              <ion-icon name="{{p.icon}}" style="color:#fff !important;margin-top: 15px !important;" slot="start" >
              </ion-icon>
              

              <ion-label style="color:#fff !important;font-size: 13px !important;font-weight:100">
                {{p.title}}
              </ion-label>
            </ion-item>


          </ion-menu-toggle>

        </ion-list>

      </ion-content>
      </ion-menu>
      <ion-router-outlet id="content" main></ion-router-outlet>
   
    
     
  </ion-app>

  
  <!-- <ion-footer [hidden]="logoutbtn" style="padding: 14px;">
    <div style="float:left;font-size:14px;color:#fff">Next iTechnologies </div>
    <div style="float: right;font-size:14px;color:#fff">{{user_name}}</div>
  </ion-footer> -->
