<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Property Condact List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="margin: 10px 0px;"><span style="font-size: 24px;margin: 10px ;color: black;" (click)="togglefilter()"><i
    class="fa fa-filter" aria-hidden="true"></i></span></div>

    <ion-card *ngIf="showfilter">
      <ion-card-content >
        <ion-row>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="ContentName">Branch :</ion-label>
            <!-- <ion-input class="form-control"></ion-input> -->
            <ion-searchbar placeholder="Search..." animated="true" [(ngModel)]="propertyBranch" ></ion-searchbar>
            <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item   (click)="propertyBrancH(data)" *ngFor="let data of userRecords | filter:filterTerm">
                <ion-label>{{data.id}}</ion-label>
                <ion-label>{{data.name}}</ion-label>
                <ion-label>{{data.email}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
    
    
            <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
              <ion-label class="ContentName">Location :</ion-label>
              <!-- <ion-input class="form-control"></ion-input> -->
              <ion-searchbar placeholder="Search..." animated="true" [(ngModel)]="propertyLocation"></ion-searchbar>
              <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
                <ion-item   (click)="propertyLocatioN(data)" *ngFor="let data of userRecords | filter:filterTerm">
                  <ion-label>{{data.id}}</ion-label>
                  <ion-label>{{data.name}}</ion-label>
                  <ion-label>{{data.email}}</ion-label>
                </ion-item>
              </ion-list>
          </ion-col>
    
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="ContentName">Property Code :</ion-label>
            <!-- <ion-input class="form-control"></ion-input> -->
            <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="propertyCode" animated="true"></ion-searchbar>
            <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item   (click)="propertyCodE(data)" *ngFor="let data of propertyCode | filter:filterTerm">
                <ion-label>{{data.id}}</ion-label>
                <ion-label>{{data.name}}</ion-label>
                <ion-label>{{data.email}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
    
        
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="ContentName">Property Description :</ion-label>
            <!-- <ion-input class="form-control"></ion-input> -->
            <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="propertyDescription" animated="true"></ion-searchbar>
            <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item   (click)="propertyDescriptioN(data)" *ngFor="let data of propertyCode | filter:filterTerm">
                <ion-label>{{data.id}}</ion-label>
                <ion-label>{{data.name}}</ion-label>
                <ion-label>{{data.email}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
    
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="ContentName">Rental Code :</ion-label>
            <!-- <ion-input class="form-control"></ion-input> -->
            <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="rentalCode" animated="true"></ion-searchbar>
            <ion-list  *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item   (click)="rentalCodE(data)" *ngFor="let data of propertyCode | filter:filterTerm">
                <ion-label>{{data.id}}</ion-label>
                <ion-label>{{data.name}}</ion-label>
                <ion-label>{{data.email}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
    
          <ion-col size="12">
            <ion-button color="success" size="default">SEARCH</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

</ion-content>
