<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back-outline" style="color:white;"></ion-icon>
        <span style="color:white;">Back</span>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin: 0 20px;">Payment History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col size="6">
          <ion-label class="card_header_text1">History Details</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-label>Pay Description</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: Security Deposit-2022</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Pay Mode</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: CHEQUE</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Amount</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: 25000</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Bank Name</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: HDFC</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Cheque Number</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: 944855</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Cheque Date</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: 19/08/2022</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Remarks</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: Amount transfered</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Status</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="labelData-text">: Cleared</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
