<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>            
    </ion-buttons>
    <ion-title>PMS DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Customer -->
<ion-content  style="display: none;">
  <div>
    <ion-list style="display: flex;height: 130px;
    align-items: end; margin-top: -28px;">
      <ion-item class="item_list first">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3  class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="label" >Total</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item class="item_list second">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>  
            <ion-label  class="label" >Paid</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item class="item_list third">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label  class="label" >Outstanding</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>
    </ion-list>
 
   
    <ion-card >
      <ion-card-header>
        <ion-card-title class="headertitle">Issue Details</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      
      <div class="table">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                    <th>#</th>
                    <th>Invoice</th>
                    <th>Month</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-body" >
                <ng-container>
                    <tr>
                        <td>1</td>
                        <td>223</td>
                        <td>july</td>
                        <td>20000</td>
                        <td>Active</td>
                     
                     </tr>

                     <tr>
                      <td>2</td>
                      <td>223</td>
                      <td>March</td>
                      <td>20000</td>
                      <td>Active</td>
                   
                   </tr>

                   <tr>
                    <td>3</td>
                    <td>223</td>
                    <td>july</td>
                    <td>20000</td>
                    <td>Active</td>
                 
                 </tr>

                 <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>November</td>
                  <td>20000</td>
                  <td>Active</td>
               
               </tr>
                    
                </ng-container>
            </tbody>
        </table>
    </div>
    </ion-card-content>
  </ion-card>



<ion-card >

  <ion-card-header>
    <ion-card-title class="headertitle">Issue Status</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  
    <div class="table">
      <table class="table table-striped">
          <thead>
              <tr class="table-head">
                  <th>#</th>
                  <th>ReadBy</th>
                  <th>Description</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody class="table-body" >
              <ng-container>
                  <tr>
                      <td>1</td>
                      <td>Prakash</td>
                      <td>good</td>
                      <td>Active</td>
                   
                   </tr>

                   <tr>
                    <td>2</td>
                    <td>suriya</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dignissimos sapiente sint quasi dolorem? Asperiores maiores sapiente error rerum qui? Exercitationem est cupiditate vero deserunt nesciunt saepe asperiores quos vitae.</td>
                    <td>Active</td>
                 
                 </tr>

                 <tr>
                  <td>3</td>
                  <td>223</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sequi atque sunt similique amet reiciendis nostrum accusamus accusantium alias quaerat ipsa blanditiis, facilis velit incidunt neque recusandae hic dolores explicabo!</td>
                  <td>Active</td>
               
               </tr>

               <tr>
                <td>4</td>
                <td>223</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis repellendus veniam itaque fuga, mollitia praesentium rerum reiciendis sed dolorum quo cum quod dolor numquam magnam, placeat quasi tenetur hic doloremque?</td>
                <td>Active</td>
             
             </tr>
                  
              </ng-container>
          </tbody>
      </table>
  </div>
  </ion-card-content>

</ion-card>
</div>



<!-- employee -->

  <div>
    <ion-list style="display: flex;">
      <ion-item class="item_list first">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="label" >Total</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item class="item_list second">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label  class="label" >Completed</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item class="item_list third">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="count">22k</h3>
          </ion-col>
        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label  class="label" >Paid</ion-label> 
          </ion-col>
        
        </ion-row>

      </ion-grid>
    </ion-item>
    </ion-list>


  <ion-card >
    <ion-card-header>
      <ion-card-title class="headertitle">Property Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
      <div class="table">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                    <th>#</th>
                    <th>PropertyCode</th>
                    <th>Issue Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-body" >
                <ng-container>
                    <tr>
                        <td>1</td>
                        <td>223</td>
                        <td>Bad</td>
                        <td>Active</td>
                     
                     </tr>

                     <tr>
                      <td>2</td>
                      <td>223</td>
                      <td>comman</td>
                      <td>Active</td>
                   
                   </tr>

                   <tr>
                    <td>3</td>
                    <td>223</td>
                    <td>decribe</td>
                    <td>Active</td>
                 
                 </tr>

                 <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>develop</td>           
                  <td>Active</td>
               
               </tr>
                    
                </ng-container>
            </tbody>
        </table>
    </div>
    </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-list style="display: flex;">
    <ion-item class="item_list first">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="count">22k</h3>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="label" >Total</ion-label> 
        </ion-col>
      
      </ion-row>

    </ion-grid>
  </ion-item>

  <ion-item class="item_list second">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="count">22k</h3>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label  class="label" >Occupied</ion-label> 
        </ion-col>
      
      </ion-row>

    </ion-grid>
  </ion-item>

  <ion-item class="item_list third">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="count">22k</h3>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label  class="label" >Vacant</ion-label> 
        </ion-col>
      
      </ion-row>

    </ion-grid>
  </ion-item>
  </ion-list>

 

  <ion-card >
    <ion-item>
      <ion-label>To Be Vacant</ion-label>
      <ion-select>
        <ion-select-option value="brown">7</ion-select-option>
        <ion-select-option value="blonde">15</ion-select-option>
        <ion-select-option value="black">30</ion-select-option>
        <ion-select-option value="red">45</ion-select-option>
        <ion-select-option value="red">60</ion-select-option>
        <ion-select-option value="red">>60</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-card-content>
     
      

     

      <div class="table">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                    <th>#</th>
                    <th>PropertyCode</th>
                    <th>Description</th>
                    <th>Flat</th>
                </tr>
            </thead>
            <tbody class="table-body" >
                <ng-container>
                    <tr>
                        <td>1</td>
                        <td>223</td>
                        <td>Bad</td>
                        <td>Active</td>
                     
                     </tr>

                     <tr>
                      <td>2</td>
                      <td>223</td>
                      <td>comman</td>
                      <td>Active</td>
                   
                   </tr>

                   <tr>
                    <td>3</td>
                    <td>223</td>
                    <td>decribe</td>
                    <td>Active</td>
                 
                 </tr>

                 <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>develop</td>           
                  <td>Active</td>
               
               </tr>
                    
                </ng-container>
            </tbody>
        </table>
    </div>
    </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-card-header>
      <ion-card-title class="headertitle">Invoice Raised</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
      

     

      <div class="table">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                    <th>#</th>
                    <th>PropertyCode</th>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-body" >
                <ng-container>
                    <tr>
                        <td>1</td>
                        <td>223</td>
                        <td>Bad</td>
                        <td>4000</td>
                        <td>Active</td>
                     
                     </tr>

                     <tr>
                      <td>2</td>
                      <td>223</td>
                      <td>comman</td>
                      <td>comman</td>
                      <td>Active</td>
                   
                   </tr>

                   <tr>
                    <td>3</td>
                    <td>223</td>
                    <td>decribe</td>
                    <td>decribe</td>
                    <td>Active</td>
                 
                 </tr>

                 <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>develop</td>           
                  <td>develop</td>           
                  <td>Active</td>
               
               </tr>
                    
                </ng-container>
            </tbody>
        </table>
    </div>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>

