ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}

ion-card {
  .card_header {
      background-color: #019ade !important;
      color: white !important;
      text-align: center;
      padding: 15px;
  }
}
ion-card {
  .card_header_text {
      font-size: 15px;
      color: #ffff;
  }
}
@media(min-width:320px) and (max-width:440px){
  .label {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}




}
@media(min-width:320px) and (max-width:370px){





}
.label {
  color: white;
  text-align: center;
  font-weight: 600;
}
.list-data{
  display: flex;
  // align-items: end;
  margin:10px; 
  padding: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px grey;
  background: transparent !important;
}
.item_list{
    padding: 0px;
    text-align: center;
    margin: 1px;
    border-radius: 5px;
}
// ion-card-content.md.card-content-md.hydrated {
//   padding: 15px !important;


// }
ion-card-content.ios.card-content-ios.hydrated {
  padding-top: 15px;
}
.first{
    background: linear-gradient(45deg, #10E7D8, #5A75E8);
}
.second{
  background: linear-gradient(45deg, #3EE493, #38B1B5);
}
.third{

  background: linear-gradient(45deg, #F54A9F, #FE7278);
}

.count{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 0%;
}

//   ion-card-header.ion-inherit-color.md.hydrated {
//     background-color: #019ADE;
//     color: white !important;
// }
th {
  background-color: #eeeeee;
  color: #2c5291;
  // font-size: large !important;

}

td {
  // font-size: large !important;
  color: #242424;
  border:none
}
// .headertitle{
//     color: white;
// }

  .count{
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0%;
}
  
  .commontextpage {
    text-align: center;
    position: relative;
    top: 50%;
  }
  // ion-content {
  //   --background: url('../../../assets/images/tpbackground.png') repeat !important;
  //   position: relative;
  // }
