



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PMS DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <p class="commontextpage">PMS Dashboard Page</p> -->
  <div>


    <ion-card >
      <div class="dashboardhead" style="padding: 10px;">
         Property Status
        </div>
        <div style="margin-top:15px;">
          <canvas #sourcecanvas3 id="sourcecanvas3"></canvas>
        </div>
  
      <ion-card-header class="card_header">
        <ion-card-title class="card_header_text">Customer Payments</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        
   
          <canvas #sourcecanvas2 id="sourcecanvas2" class="chart chart-doughnut" width="400" height="400"
  chart-data="data2" chart-labels="labels2 " chart-options="options" chart-dataset-override="datasetOverride" legend="true">
</canvas>
  
</ion-card-content>
    </ion-card>
  





    <ion-card>
      <ion-card-header class="card_header">
        <ion-card-title class="card_header_text">Issue Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div>
          <ngx-datatable 
  
          class="material"
          [headerClass]="ngx-header"
          [limit]="8" 
          [rows]="data" 
          [rowHeight]="50" 
          [columns]="columns"
          [columnMode]="'standard'" 
          [headerHeight]="40" 
          [footerHeight]="40"
          [scrollbarH]="true"
          [sortType]="'multi'"
          [loadingIndicator]="loadingIndicator"
          [reorderable]="reorderable"
          >
    
          </ngx-datatable>
        
        </div>
      
      </ion-card-content>
    </ion-card>


<div>
    <ion-card>

      <ion-card-header class="card_header">
        <ion-card-title class="card_header_text">Issue Status</ion-card-title>
      </ion-card-header>
      <ion-card-content >

        <div >
          <ngx-datatable 
  
          class="material"
          [headerClass]="ngx-header"
          [limit]="8" 
          [rows]="dataStatus" 
          [rowHeight]="50" 
          [columns]="columnsStatus"
          [columnMode]="'standard'" 
          [headerHeight]="40" 
          [footerHeight]="40"
          [scrollbarH]="true"
          [sortType]="'multi'"
          [loadingIndicator]="loadingIndicator"
          [reorderable]="reorderable"
          >
    
          </ngx-datatable>
        </div>
      </ion-card-content>

    </ion-card>
  </div>



  <ion-card >
    <div class="dashboardhead" style="padding: 10px;">
        Emloyeer
       Property Status
      </div>
      <div style="margin-top:15px;">
        <canvas #sourcecanvas1 id="sourcecanvas1"></canvas>
      </div>

  </ion-card>


    <ion-card>
      <ion-card-header class="card_header">
        <ion-card-title class="card_header_text">Property Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: none;">
          <ngx-datatable 
          class="material"
          [headerClass]="ngx-header"
          [limit]="8" 
          [rows]="dataDetails" 
          [rowHeight]="50" 
          [columns]="columnsDetails"
          [columnMode]="'standard'" 
          [headerHeight]="40" 
          [footerHeight]="40"
          [scrollbarH]="true"
          [sortType]="'multi'"
          [loadingIndicator]="loadingIndicator"
          [reorderable]="reorderable"
          >
          </ngx-datatable>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-row class="ion-justify-content-around" style=" margin: 5%;text-align: center;">
      <ion-col size="4" class="first">
        <h3 class="count">22k</h3>
        <ion-label class="label">Total</ion-label>
      </ion-col>

      <ion-col size="4" class=" second">
        <h3 class="count">22k</h3>
        <ion-label class="label">Occupied</ion-label>
      </ion-col>


      <ion-col size="4" class="third">
        <h3 class="count">22k</h3>
        <ion-label class="label">Vacant</ion-label>
      </ion-col>
    </ion-row>




    <ion-card >
      <div class="dashboardhead" style="padding: 10px;">
        To Be Vaccant
        </div>
        <div style="margin-top:15px;">
          <canvas #sourcecanvas2 id="sourcecanvas2"></canvas>
        </div>
  
    </ion-card>


    <ion-card>
      <ion-card-content class="card_header">
        <ion-row>
          <ion-col size="6" style="padding: 14px;">
            <ion-label class="card_header_text">To Be Vacant</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select>
              <ion-select-option value="brown">7</ion-select-option>
              <ion-select-option value="blonde">15</ion-select-option>
              <ion-select-option value="black">30</ion-select-option>
              <ion-select-option value="red">45</ion-select-option>
              <ion-select-option value="green">60</ion-select-option>
              <ion-select-option value="white">>60</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-content>

        <div style="display: none;">
          <ngx-datatable 
          class="material"
          [headerClass]="ngx-header"
          [limit]="8" 
          [rows]="tobeVaccant" 
          [rowHeight]="50" 
          [columns]="columnsVaccant"
          [columnMode]="'standard'" 
          [headerHeight]="40" 
          [footerHeight]="40"
          [scrollbarH]="true"
          [sortType]="'multi'"
          [loadingIndicator]="loadingIndicator"
          [reorderable]="reorderable"
          >
          </ngx-datatable>
        </div>

        <div class="table"  style="display: none;">
          <table class="table table-striped">
            <thead class="card_header">
              <tr class="table-head">
                <th>#</th>
                <th>PropertyCode</th>
                <th>Description</th>
                <th>Flat</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <ng-container>
                <tr>
                  <td>1</td>
                  <td>223</td>
                  <td>Bad</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>2</td>
                  <td>223</td>
                  <td>comman</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>3</td>
                  <td>223</td>
                  <td>decribe</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>develop</td>
                  <td>Active</td>

                </tr>

              </ng-container>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header class="card_header">
        <ion-card-title class="card_header_text">Invoice Raised</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <div>
          <ngx-datatable 
          class="material"
          [headerClass]="ngx-header"
          [limit]="8" 
          [rows]="dataRaised" 
          [rowHeight]="50" 
          [columns]="columnsRaised"
          [columnMode]="'standard'" 
          [headerHeight]="40" 
          [footerHeight]="40"
          [scrollbarH]="true"
          [sortType]="'multi'"
          [loadingIndicator]="loadingIndicator"
          [reorderable]="reorderable"
          >
          </ngx-datatable>
        </div>

        <div class="table" style="display: none;">
          <table class="table table-striped tables1">
            <thead class="card_header">
              <tr class="table-head">
                <th>#</th>
                <th>PropertyCode</th>
                <th>Invoice</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <ng-container>
                <tr>
                  <td>1</td>
                  <td>223</td>
                  <td>Bad</td>
                  <td>4000</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>2</td>
                  <td>223</td>
                  <td>comman</td>
                  <td>comman</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>3</td>
                  <td>223</td>
                  <td>decribe</td>
                  <td>decribe</td>
                  <td>Active</td>

                </tr>

                <tr>
                  <td>4</td>
                  <td>223</td>
                  <td>develop</td>
                  <td>develop</td>
                  <td>Active</td>

                </tr>

              </ng-container>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>