@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


.chart-legend,.bar-legend,.line-legend,.pie-legend,.radar-legend,.polararea-legend,.doughnut-legend{list-style-type:none;margin-top:5px;text-align:center;-webkit-padding-start:0;-moz-padding-start:0;padding-left:0}.chart-legend li,.bar-legend li,.line-legend li,.pie-legend li,.radar-legend li,.polararea-legend li,.doughnut-legend li{white-space:nowrap;position:relative;margin-bottom:20px;border-radius:5px;padding:2px 8px 2px 28px;font-size:smaller;cursor:default}.chart-legend li span,.bar-legend li span,.line-legend li span,.pie-legend li span,.radar-legend li span,.polararea-legend li span,.doughnut-legend li span{display:block;left:0;top:0;width:10px;height:10px;padding-left: 20px;float:left;}

ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}


ion-card {
  .card_header {
      background-color: #019ade !important;
      color: white !important;
      text-align: center;
      padding: 15px;
  }
}
ion-card {
  .card_header_text {
      font-size: 15px;
      color: #ffff;
  }
}
@media(min-width:320px) and (max-width:670px){
  .label {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
  }
}

.label {
  color: #000;
  text-align: center;
  font-weight: 600;
}
.list-data{
  display: flex;
  // align-items: end;
  margin:10px; 
  padding: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px grey;
  background: transparent !important;
}
.item_list{
    padding: 0px;
    text-align: center;
    margin: 1px;
    border-radius: 5px;
}
// ion-card-content.md.card-content-md.hydrated {
//   padding: 15px !important;


// }
ion-card-content {
  padding: 10px !important;
}
.first{
    background: linear-gradient(45deg, #10E7D8, #5A75E8);
    border-radius: 5px;
    max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 90%) !important;
}
.second{
  background: linear-gradient(45deg, #3EE493, #38B1B5);
  border-radius: 5px;
  max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%) !important;
}
.third{
  border-radius: 5px;
  background: linear-gradient(45deg, #F54A9F, #FE7278);
  max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%) !important;
}

.count{
    text-align: center;
    font-size: 25px;
    color: #000;
    margin: 0%;
}

//   ion-card-header.ion-inherit-color.md.hydrated {
//     background-color: #019ADE;
//     color: white !important;
// }
th {
  // background-color: #f2f2f2 !important;
  color: #ffffff;
  padding: 4px !important;
  background-image: none !important;
  // font-size: large !important;

}

td {
  // font-size: large !important;
  color: #242424;
  border:none
}
// .headertitle{
//     color: white;
// }

// @media (min-width:320px) and (max-width:670px) {
  
// }
  
  .commontextpage {
    text-align: center;
    position: relative;
    top: 50%;
  }
  // ion-content {
  //   --background: url('../../../assets/images/tpbackground.png') repeat !important;
  //   position: relative;
  // }

  .chart-wrapper {
    width: 25%;
    display: inline-block;
    margin: 1em 2em;
 }


 canvas  {
    height: 500px;
 }

 .ngx-datatable.material .datatable-header .datatable-header-cell {
  background-color: #1ba4e1!important;
  color: #fff !important;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

// ion-card-header+.card-content-ios {
//   padding-top: 10px;
// }
// .ngx-datatable.material{
//   margin: 5% !important;
// }
.ngx-datatable .datatable-body .datatable-body-row>div {
  display: flex;
  border-bottom: 1px #efebeb solid;
}
.ngx-datatable .datatable-footer .datatable-footer-inner{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  color: #000;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: center;
  padding: 0.9rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  color: rgba(0, 0, 0, 0.87);
  transition: width 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}