ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }
  .upDown-ion{
    font-size: 21px;
    background: #607d8b;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    padding-top: 3px;
    position: relative;
    bottom: 4px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);
    float:right;
  }
  ion-item{
    border: 0px !important;
  }