<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asset Reconciliation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-row>
      <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col> -->

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="branch"></ion-input>
      </ion-col>


      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Code</ion-label>
        <!-- <div style="height:40px !important;background-color: aliceblue;"> -->
        <ion-row>
          <ion-col size-sm="10" size="10" size-md="10" size-lg="10" size-xl="10">
            <ion-searchbar [(ngModel)]="assetCode" type="text" debounce="500" (ionInput)="getItems($event)">
            </ion-searchbar>
            <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item *ngFor="let item of assetcode1" style="background-color: white !important;
                color: gray !important;" (click)="fetchassetrecon(item)">
                {{ item }}
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
            <ion-button style="--background:white; --background-hover:white" (click)="scancoderecon()">
              <ion-icon slot="icon-only" name="barcode" color="danger"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- </div> -->
      </ion-col>
    </ion-row>


    <ion-card *ngFor="let item1 of detailsrecon1; let i = index">
      <ion-card-header class="card_header">
        <ion-row>
          <ion-col size="6" style="text-align: justify;">
            <ion-label class="card_header_text" *ngIf="item1.ASSET_DESCRIPTION">{{item1.ASSET_DESCRIPTION}}</ion-label>
            <ion-label class="card_header_text" *ngIf="!item1.ASSET_DESCRIPTION">--</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="card_header_text">{{item1.ASSET_CODE}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Category</ion-label>
            <ion-label class="labelData-text" *ngIf='item1.cnme'>{{item1.cnme}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.cnme'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Subcategory</p>
            <ion-label class="labelData-text" *ngIf="item1.SUB_CATEGORY_DESC">{{item1.SUB_CATEGORY_DESC}}</ion-label>
            <ion-label class="labelData-text" *ngIf="!item1.SUB_CATEGORY_DESC">--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Value</p>
            <ion-label class="labelData-text" *ngIf='item1.ASSET_VALUE'>{{item1.ASSET_VALUE}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.ASSET_VALUE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Current User</p>
            <ion-label class="labelData-text" *ngIf='item1.TUM_USER_CODE'>{{item1.TUM_USER_CODE}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.TUM_USER_CODE'>--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Brand</p>
            <ion-label class="labelData-text" *ngIf='item1.ASSET_BRAND'>{{item1.ASSET_BRAND}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.ASSET_BRAND'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Model</p>
            <ion-label class="labelData-text" *ngIf='item1.TYPE'>{{item1.TYPE}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.TYPE'>--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Incharge</p>
            <ion-label class="labelData-text" *ngIf='item1.TUM_USER_NAME'>{{item1.TUM_USER_NAME}}</ion-label>
            <ion-label class="labelData-text" *ngIf='item1.TUM_USER_NAME'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Department</p>
            <ion-label class="labelData-text">{{department}}</ion-label>

          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Purchase Date</p>
            <ion-label class="labelData-text" *ngIf='item1.ASSET_PURCHASE_DATE'>{{item1.ASSET_PURCHASE_DATE |
              date:'dd-MM-yyyy'}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.ASSET_PURCHASE_DATE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p class="labelHead-text">Warranty Upto</p>
            <ion-label class="labelData-text"
              *ngIf='item1.ASSET_WARRANTY_TILL!="1900-01-01T00:00:00.000Z"'>{{item1.ASSET_WARRANTY_TILL |
              date:'dd-MM-yyyy'}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf='!item1.ASSET_WARRANTY_TILL=="1900-01-01T00:00:00.000Z"'>--</ion-label>

          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <a (click)="showmore(i)">


              <i id="imageidvalsp{{0+i}}" class="fa fa-angle-double-down upDown-ion" aria-hidden="true"></i>
            </a>
          </ion-col>
          <div id="dividvalsp{{0+i}}" style="display:none; padding:5px;" size-sm="2" size="2" size-md="2" size-lg="2"
            size-xl="2">
            <ion-row>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Manufacturer</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.CAMS_ASSET_MANUFACTURER'>{{item1.CAMS_ASSET_MANUFACTURER}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.CAMS_ASSET_MANUFACTURER'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Residual Value</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_RESIDUAL_VALUE'>{{item1.ASSET_RESIDUAL_VALUE}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_RESIDUAL_VALUE'>--</ion-label>

              </ion-col>



              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Depreciation Type</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DEPRECIATION_TYPE'>{{item1.deprciationtyper}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_DEPRECIATION_TYPE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Depreciation Percentage</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DEPRECIATION_PERCENTAGE'>{{item1.ASSET_DEPRECIATION_PERCENTAGE}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_DEPRECIATION_PERCENTAGE'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Installation Date</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_INSTALLATION_DATE'>{{item1.ASSET_INSTALLATION_DATE | date:'dd-MM-yyyy'}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_INSTALLATION_DATE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Installed By</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_INSTALLED_BY'>{{item1.ASSET_INSTALLED_BY}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_INSTALLED_BY'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Certificate Issued</p>

                <ion-label class="labelData-text" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="Y"'>YES</ion-label>
                <ion-label class="labelData-text" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="N"'>NO</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_CERTIFICATE_ISSUED'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Working Condition</p>

                <ion-label class="labelData-text" *ngIf='item1.ASSET_WORKING_CONDITION=="Y"'>YES</ion-label>
                <ion-label class="labelData-text" *ngIf='item1.ASSET_WORKING_CONDITION=="N"'>NO</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_WORKING_CONDITION'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Certificate Issued</p>

                <ion-label class="labelData-text" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="Y"'>YES</ion-label>
                <ion-label class="labelData-text" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="N"'>NO</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_CERTIFICATE_ISSUED'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Working Condition</p>

                <ion-label class="labelData-text" *ngIf='item1.ASSET_WORKING_CONDITION=="Y"'>YES</ion-label>
                <ion-label class="labelData-text" *ngIf='item1.ASSET_WORKING_CONDITION=="N"'>NO</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_WORKING_CONDITION'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p class="labelHead-text">Remarks</p>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DESCRIPTION'>{{detailsrecon[0].ASSET_REMARKS}}</ion-label>
                <ion-label class="labelData-text" *ngIf='!item1.ASSET_DESCRIPTION'>--</ion-label>
              </ion-col>
              <input type="hidden" [(ngModel)]="depid">
              <input type="hidden" [(ngModel)]="assetuser">
              <input type="hidden" [(ngModel)]="depid">
              <input type="hidden" [(ngModel)]="assetidrecon">

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
                <a (click)="showless(i)"><i class="fa fa-angle-double-up upDown-ion" aria-hidden="true"
                    ></i></a>

              </ion-col>

            </ion-row>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <!-- <ion-card style="background-color:#fff">
      <ion-grid>
        <ion-row>
          {{item1.ASSET_CODE}}
          <ion-col size-sm="6" size-md="6" size-lg="6" size-xl="6" class="dashboardhead"
            style="color:#fff;padding:12px;">
            <ion-label class="labelsize" style="color: white;font-size: 14px;font-weight: 500"
              *ngIf="item1.ASSET_DESCRIPTION">{{item1.ASSET_DESCRIPTION}}</ion-label>
            <ion-label class="labelsize" style="color: white;font-size: 14px;font-weight: 500"
              *ngIf="!item1.ASSET_DESCRIPTION">--</ion-label>
          </ion-col>
          <ion-col class="dashboardhead" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
            style="color:#fff;padding:12px;text-align:right;">
            <ion-label style="float:right;">
              <i class="dashboardhead" style="color:white;"></i>&nbsp;<a
                style="color: white !important;font-size: 14px;font-weight: 500;"
                class="labelsize">{{item1.ASSET_CODE}}</a></ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Category</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.cnme'>{{item1.cnme}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.cnme'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Subcategory</p>
            <ion-label style="font-size: 14px!important;" *ngIf="item1.SUB_CATEGORY_DESC">{{item1.SUB_CATEGORY_DESC}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf="!item1.SUB_CATEGORY_DESC">--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Value</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_VALUE'>{{item1.ASSET_VALUE}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_VALUE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Current User</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.TUM_USER_CODE'>{{item1.TUM_USER_CODE}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.TUM_USER_CODE'>--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Brand</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_BRAND'>{{item1.ASSET_BRAND}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_BRAND'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Model</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.TYPE'>{{item1.TYPE}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.TYPE'>--</ion-label>
          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Incharge</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.TUM_USER_NAME'>{{item1.TUM_USER_NAME}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.TUM_USER_NAME'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Department</p>
            <ion-label style="font-size: 14px!important;">{{department}}</ion-label>

          </ion-col>



          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Purchase Date</p>
            <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_PURCHASE_DATE'>{{item1.ASSET_PURCHASE_DATE |
              date:'dd-MM-yyyy'}}</ion-label>
            <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_PURCHASE_DATE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <p style="font-weight:bold;">Warranty Upto</p>
            <ion-label style="font-size: 14px!important;"
              *ngIf='item1.ASSET_WARRANTY_TILL!="1900-01-01T00:00:00.000Z"'>{{item1.ASSET_WARRANTY_TILL |
              date:'dd-MM-yyyy'}}</ion-label>
            <ion-label style="font-size: 14px!important;"
              *ngIf='!item1.ASSET_WARRANTY_TILL=="1900-01-01T00:00:00.000Z"'>--</ion-label>

          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <a (click)="showmore(i)">


              <i id="imageidvalsp{{0+i}}" class="fa fa-angle-double-down" aria-hidden="true"
                style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 3px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right"></i>
            </a>
          </ion-col>
          <div id="dividvalsp{{0+i}}" style="display:none; padding:5px;" size-sm="2" size="2" size-md="2" size-lg="2"
            size-xl="2">
            <ion-row>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Manufacturer</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.CAMS_ASSET_MANUFACTURER'>{{item1.CAMS_ASSET_MANUFACTURER}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.CAMS_ASSET_MANUFACTURER'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Residual Value</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_RESIDUAL_VALUE'>{{item1.ASSET_RESIDUAL_VALUE}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_RESIDUAL_VALUE'>--</ion-label>

              </ion-col>



              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Depreciation Type</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_DEPRECIATION_TYPE'>{{item1.deprciationtyper}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_DEPRECIATION_TYPE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Depreciation Percentage</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_DEPRECIATION_PERCENTAGE'>{{item1.ASSET_DEPRECIATION_PERCENTAGE}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_DEPRECIATION_PERCENTAGE'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Installation Date</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_INSTALLATION_DATE'>{{item1.ASSET_INSTALLATION_DATE | date:'dd-MM-yyyy'}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_INSTALLATION_DATE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Installed By</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_INSTALLED_BY'>{{item1.ASSET_INSTALLED_BY}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_INSTALLED_BY'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Certificate Issued</p>

                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="Y"'>YES</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="N"'>NO</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_CERTIFICATE_ISSUED'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Working Condition</p>

                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_WORKING_CONDITION=="Y"'>YES</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_WORKING_CONDITION=="N"'>NO</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_WORKING_CONDITION'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Certificate Issued</p>

                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="Y"'>YES</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_CERTIFICATE_ISSUED=="N"'>NO</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_CERTIFICATE_ISSUED'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Working Condition</p>

                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_WORKING_CONDITION=="Y"'>YES</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='item1.ASSET_WORKING_CONDITION=="N"'>NO</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_WORKING_CONDITION'>--</ion-label>

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <p style="font-weight:bold;">Remarks</p>
                <ion-label style="font-size: 14px!important;"
                  *ngIf='item1.ASSET_DESCRIPTION'>{{detailsrecon[0].ASSET_REMARKS}}</ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf='!item1.ASSET_DESCRIPTION'>--</ion-label>
              </ion-col>
              <input type="hidden" [(ngModel)]="depid">
              <input type="hidden" [(ngModel)]="assetuser">
              <input type="hidden" [(ngModel)]="depid">
              <input type="hidden" [(ngModel)]="assetidrecon">

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
                <a (click)="showless(i)"><i class="fa fa-angle-double-up" aria-hidden="true"
                    style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 1px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right;"></i></a>

              </ion-col>

            </ion-row>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card> -->
    <ion-row size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
      <!-- <ion-col size-sm="3" size="3" size-md="3" size-lg="4" size-xl="3"></ion-col> -->
      <ion-col size="12">
        <ion-button (click)="processreconcilenew()" [disabled]="!assetCode" text-center class="ion-color-success"
          expand="block">Process
        </ion-button>
      </ion-col>
      <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3"></ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>