<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Material Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px 0px;"><span style="font-size: 24px;margin: 10px ;color: black;" (click)="togglefilter()"><i
        class="fa fa-filter" aria-hidden="true"></i></span></div>

  <ion-card *ngIf="initialSearch">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Branch</ion-label>
          <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
            [(ngModel)]="branch"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">MRS Code</ion-label>
          <ion-input type="text" [(ngModel)]="mrscode" class="Input-text-field textareaField"></ion-input>
          <!-- [(ngModel)]="VendorQuot.qty" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">From Date</ion-label>
          <input type="date" [(ngModel)]="fromdate" class="Input-text-field textareaField"
            style=" display:inline-block;padding: 8px;">
          <!-- [(ngModel)]="VendorQuot.deliverydate" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">To Date</ion-label>
          <input type="date" [(ngModel)]="todate" class="Input-text-field textareaField"
            style=" display:inline-block;padding: 8px;">
          <!-- [(ngModel)]="VendorQuot.deliverydate" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Status</ion-label>
          <select style="padding: 10px;" [(ngModel)]="status" style="display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <option value="null"> Select </option>
            <option value="New">New</option>
            <option value="Pending">Pending</option>
            <option value="Approved">Approved</option>
            <option value="Denied">Denied</option>
            <option value="Under Process">Under Process</option>
            <option value="Cancelled">Cancelled</option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>



        <!-- for view mode -->







        <!-- close for view mode -->
      </ion-row>
      <ion-row *ngIf="showbtn">
        <ion-col style="text-align: center;">
          <ion-button (click)="new()" class="ion-color-primary" expand="block">
            <ion-icon style="color: #fff;" name="add-circle-outline"></ion-icon>New
          </ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button (click)="clear()" class="ion-color-danger" expand="block">Cancel</ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button (click)="SearchItems()" class="ion-color-success" expand="block">Search</ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>


  <ion-card *ngIf="showfilter">
    <ion-grid *ngIf="showlineItems===false">
      <ion-card-header class="card_header1">
        <ion-row>
          <ion-col size="9">
            <ion-label>List Items</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label class="card_header_text">
              <!-- <ion-icon (click)="close()" style="color: red; margin-left: 40px;" name="close-circle"></ion-icon> -->
            </ion-label>
            <!-- <ion-icon name="close-circle"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Branch</ion-label>
          <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="branch"></ion-input>
        
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">MRS Code</ion-label>
          <ion-input type="text" [(ngModel)]="mrscode" disabled=""
            style=" background-color: #d4d4d4!important; display:inline-block;padding: 8px;"
            class="Input-text-field textareaField"></ion-input>

        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">MRS Date</ion-label>
          <ion-input type="date" [(ngModel)]="mrsdate" disabled=""
            style=" background-color: #d4d4d4!important; display:inline-block;padding: 8px;"
            class="Input-text-field textareaField"></ion-input>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Request by</ion-label>
          <ion-input type="text" [(ngModel)]="requestby" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Reason For Request</ion-label>
          <ion-input type="text" [(ngModel)]="reasonrequest" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Order Priority </ion-label>
          <select style="padding: 10px;" [(ngModel)]="priority" style="display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <option>&lt;&lt; Select &gt;&gt;</option>
            <option value="low">Low</option>
            <option value="normal">Normal</option>
            <option value="high">High</option>
          </select>
        </ion-col>

        <ion-row>
          <ion-col size="6">
            <div style="padding: 12px;display: flex;">
              <ion-checkbox class="checkboxbg" [(ngModel)]="release" [value]="true"></ion-checkbox> &nbsp; &nbsp;
              <ion-label class="ContentName">Release</ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div style="padding: 12px;display: flex;">

              <ion-label class="ContentName">Current Status : <span *ngIf="release===false">New</span><span
                  *ngIf="release===true">Pending</span>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <!-- close -->
        <!-- saved cards -->
        <div class="div" *ngIf="Showcard">
          <ion-card *ngFor="let items of expenseArray">
            <ion-row>
              <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12" class="leadscolumn">
                {{items.GET_DES}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                SNO
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.CATEGORY}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Item Code
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.itemid}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Item Description
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.required_qty}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                UOM
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.unit_price}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Unit Price
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.exp_date}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Stock Qty
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.netprice}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Request Qty
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.item_short_desc}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Required Before Date
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.item_short_desc}}
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                Remarks
              </ion-col>
              <ion-col style="font-weight: 600; color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                {{items.item_short_desc}}
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
        <!-- saved cards -->
        <!-- add item -->
        <ion-row *ngIf="shownewcard">

          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">SNO</ion-label>
            <ion-input type="text" [(ngModel)]="sno" class="Input-text-field textareaField"></ion-input>

          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Item Code</ion-label>
            <ion-input type="text" [(ngModel)]="itemcode" class="Input-text-field textareaField"></ion-input>

          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Item Depreciation </ion-label>
            <ion-input type="text" [(ngModel)]="itemdepreciation" class="Input-text-field textareaField"></ion-input>
          </ion-col>


          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">UOM </ion-label>
            <ion-input type="text" [(ngModel)]="uom" class="Input-text-field textareaField"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Unit Price</ion-label>
            <ion-input type="text" [(ngModel)]="unitprice" class="Input-text-field textareaField"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Stock Qty </ion-label>
            <ion-input type="text" [(ngModel)]="stockqty" class="Input-text-field textareaField"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Request Qty </ion-label>
            <ion-input type="text" [(ngModel)]="requestqty" class="Input-text-field textareaField"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Required Before Date</ion-label>
            <ion-input type="text" [(ngModel)]="requiredbfr" class="Input-text-field textareaField"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Remarks </ion-label>
            <ion-input type="text" [(ngModel)]="remarks" class="Input-text-field textareaField"></ion-input>
          </ion-col>


          <ion-col style="text-align: center;">
            <ion-button (click)="showline()" class="ion-color-success" expand="block">Save</ion-button>

          </ion-col>
          <ion-col style="text-align: center;">
            <ion-button (click)="close()" class="ion-color-danger" expand="block">Cancel</ion-button>
          </ion-col>



        </ion-row>




        <ion-row class="newbutton" *ngIf="overallsubmit">
          <ion-col style="text-align: center;" size="4">
            <ion-button (click)="Additems()" class="ion-color-primary" expand="block">Add item</ion-button>
          </ion-col>
          <ion-col style="text-align: center;" size="4">
            <ion-button (click)="Newlist()" class="ion-color-primary" expand="block">List</ion-button>
          </ion-col>

          <ion-col style="text-align: center;" size="4">
            <ion-button (click)="close()" class="ion-color-danger" expand="block">Cancel</ion-button>
          </ion-col>
        </ion-row>
        <!-- over addtem -->
       

      </ion-row>

      <ion-col style="text-align: center;" size="12">
        <ion-button (click)="onsubmit()" class="ion-color-success" expand="block">Submit</ion-button>
      </ion-col>


    </ion-grid>


  </ion-card>
</ion-content>




<!-- for line Items  -->



<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>