<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">
          <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Leave Summary</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="background: #fff; padding: 8px;margin: 15px;border-radius: 8px;box-shadow: 1px 1px 7px 0px grey;">
    <ion-row>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Company Name</ion-label>
        <ion-input class="form-control" disabled [(ngModel)]="company"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>From (Date)<span class="validatecolor">*</span></ion-label>
        <ion-input type='date' class="form-control" (change)="filterDate($event.target.value,toDate)"
          [(ngModel)]="fromDate"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>To (Date)<span class="validatecolor">*</span></ion-label>
        <ion-input type='date' class="form-control" (change)="filterDate(fromDate,$event.target.value)"
          [(ngModel)]="toDate"></ion-input>
      </ion-col>

      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Leave Type<span class="validatecolor">*</span></ion-label>
        <select [(ngModel)]="leaveType" class="form-control" (change)="setType(leaveType)">
          <option value="">&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of leavetypearray">{{item.TEXT}}</option>
        </select>
      </ion-col>
      <!-- <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Status<span class="validatecolor">*</span></ion-label>
        <select [(ngModel)]="status" class="form-control" (click)="changeOrder()">
          <option value="">&lt;&lt; Select &gt;&gt;</option>
          <option>Approved</option>
          <option>Pending</option>
          <option>New</option>
          <option>Cancelled</option>
          <option>Denied</option>
        </select>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <p style="text-align: center;">{{error}}</p>
  <center style="color: #000 !important;text-align: center;" *ngIf="display">Total records: {{display.length}}</center>
  <ion-card *ngFor="let leaveDataItems of display; let i = index">
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn">
          {{leaveDataItems.em_emp_code}} - {{leaveDataItems.em_emp_name}}&nbsp;
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn" style="text-align:right;">
          # {{leaveDataItems.LeaveRequestRef}}
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Leave Balance
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.CurLeaveBalance}}
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Mobile Number
        </ion-col>
        <ion-col  style="font-weight: 600;
        color: black;" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <a style="font-size: 14px;text-decoration: none;color:#444444;" *ngIf="leaveDataItems.ContactPhone!=null"
            (click)="callNumber(leaveDataItems.MobileNum)"
            href="tel:{{leaveDataItems.ContactPhone}}">{{leaveDataItems.ContactPhone}}</a>

        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Leave Type
        </ion-col>
        <ion-col class = "cardanswer" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.LeaveType}}
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Request Reference
        </ion-col>
        <ion-col  class = "cardanswer" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.TxnReference}}
        </ion-col>
        <ion-col  size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Date
        </ion-col>
        <ion-col class = "cardanswer" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.LeaveFrom}} To {{leaveDataItems.LeaveTo}}
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Reason
        </ion-col>
        <ion-col  class = "cardanswer" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.Reason}}
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Status
        </ion-col>
        <ion-col class = "cardanswer" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          {{leaveDataItems.Status}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-row>
            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              <ion-button class="ion-color-success" (click)="openModal(leaveDataItems)"
                [disabled]="leaveDataItems.Status=='Pending' || leaveDataItems.Status == 'Approved' || leaveDataItems.Status == 'Cancelled'">
                UPDATE </ion-button>
            </ion-col>
            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">

              <ion-button color='danger' (click)='cancelRequest(leaveDataItems)'
               *ngIf="leaveDataItems.Status != 'Approved'"
                [disabled]="leaveDataItems.Status == 'Pending' || leaveDataItems.Status == 'New' || leaveDataItems.Status == 'Cancelled'">
                CANCEL</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <p style="text-align:center" *ngIf="display.length==0" class="norecord">No Record Found</p>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
