<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Lead Retail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="commontextpage">New Lead Retail Page</p>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="branch" class="form-control" (change)="BranchLocationdata(branch)">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">{{branch.BRANCH_DESC}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch Location </ion-label>
        <select [(ngModel)]="branchlocation" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let location of branchlocationlist; let i = index" [ngValue]="location.locationID">
            {{location.Locationname}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Product <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="productdata" (change)="Getnextaction(productdata)" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let product of productdataarray; let i = index" [ngValue]="product.ProductID">
            {{product.ProductName}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Salutation <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="Salutation" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let saluation of saluationarray; let i = index">{{saluation.Text}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>First Name <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="firstname"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Last Name <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="lastname"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Email <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="email"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Mobile Number <span style="color:red;margin-left: 5px;">*</span></ion-label>

        <ion-input type="tel" class="form-control" pattern="[0-9]*" [(ngModel)]="mobile" minlength="10" maxlength="15"
        #umobile="ngModel"></ion-input>
        <div *ngIf="umobile.errors?.minlength || umobile.errors?.maxlength">
          <p style="color:red;">valid mobile number required</p>
        </div>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Office Number</ion-label>
        <ion-input type="tel" class="form-control" pattern="[0-9]*" [(ngModel)]="OffPhone" minlength="10" maxlength="15"
          #uname="ngModel"></ion-input>
        <div *ngIf="OffPhone && uname.errors?.minlength || uname.errors?.maxlength">
          <p style="color:red;">Office number should be 10-13 digits</p>
        </div>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Telephone Number</ion-label>
        <ion-input type="tel" class="form-control" pattern="[0-9]*" minlength="10" maxlength="15" [(ngModel)]="ResPhone"
          #resnum="ngModel"></ion-input>
        <div *ngIf="ResPhone && resnum.errors?.minlength || resnum.errors?.maxlength">
          <p style="color:red;">Telephone number should be 10-13 digits</p>
        </div>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Priority <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callpriority" class="form-control">

          <option *ngFor="let prioriy of callpriorityarray; let i = index" [ngValue]="prioriy.Value">{{prioriy.Text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Rating <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callrating" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let rating of callratingarray; let i = index" [ngValue]="rating.Value">{{rating.Text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Nature <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callnature" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let nature of callnaturearray; let i = index" [ngValue]="nature.Value">{{nature.Text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Stage <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callstage" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let stage of callstagearray; let i = index" [ngValue]="stage.Value">{{stage.Text}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead Source</ion-label>
        <select [(ngModel)]="source" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let lead of leadsourcearray; let i = index" [ngValue]="lead.Value">{{lead.Text}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Next Action <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="nextaction" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let action of nextactionarray; let i = index" [ngValue]="action.val">{{action.text}}</option>
        </select>
      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Back Date <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="date" class="form-control" min="{{dat_valid.currentDate | date: 'yyyy-MM-dd'}}"
          [(ngModel)]="followdate"></ion-input>
      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Time <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="Time" class="form-control" (change)="timeValidation($event.target.value)"
          [(ngModel)]="followtime"></ion-input>
      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Place To Meet <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <textarea appAutocomplete style="width:100%;height:auto;padding:8px;" [(ngModel)]="placetomeet"
          [options]='options' class="form-control" #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)"></textarea>

      </ion-col>
      <ion-col [hidden]="showmap" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="4">
        <div>
          <ion-card style="--background: #fff;padding: 6px;">
            <div #map id="map"></div>
          </ion-card>
        </div>
      </ion-col>

      <ion-col *ngIf="nextaction=='2'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Back Date <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="date" class="form-control" min="{{dat_valid.currentDate | date: 'yyyy-MM-dd'}}"
          [(ngModel)]="followdate"></ion-input>
      </ion-col>
      <ion-col *ngIf="nextaction=='2'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Time <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="time" class="form-control" (change)="timeValidation($event.target.value)"
          [(ngModel)]="followtime"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead By <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="leadby" class="form-control">
          <option value="">&lt;&lt; Select &gt;&gt;</option>
          <option value="S">Self</option>
          <option value="E">Employee</option>
          <option value="C">Customer</option>
          <option value="P">Partner</option>
        </select>
      </ion-col>
      <ion-col *ngIf="leadby=='E'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Employee ID <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="Employeeid" (keyup)="valid_UserNumber($event,leadby)"></ion-input>
        <span class="input-label {{show_color}}">{{show_request}}</span>
      </ion-col>
      <ion-col *ngIf="leadby=='C'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Customer Name <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="custname" (keyup)="valid_UserNumber($event,leadby)"></ion-input>
        <span class="input-label {{show_color}}">{{show_request}}</span>
      </ion-col>
      <ion-col *ngIf="leadby=='P'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead By Value <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="leadByval" (keyup)="valid_UserNumber($event,leadby)"></ion-input>
        <span class="input-label {{show_color}}">{{show_request}}</span>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Exp. Closed Date</ion-label>
        <ion-input class="form-control" min="{{dat_valid.currentDate | date: 'yyyy-MM-dd'}}" date='dd/MM/yyyy'
          type="date" [(ngModel)]="expdate"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Currency</ion-label>
        <select class="form-control" [(ngModel)]="Currency">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option value="1">Indian Rupees</option>
          <option value="2">UAE Dirhams</option>
          <option value="3">US Dollars</option>
          <option value="4">British Pounds</option>
          <option value="5">Kuwaiti Dinars</option>
          <option value="6">Omani Riyals</option>
          <option value="7">Saudi Riyals</option>

        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Expected Amount</ion-label>
        <ion-input class="form-control" type="number" [(ngModel)]="expectedAmount"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Attach Document</ion-label>
        <br />
        <ion-icon style="font-size:28px;position: relative;left:50%" ios="ios-attach" md="md-attach" (click)="selectImage()"></ion-icon>
        <div style="display:none;word-break: break-all;">
          <input type="file" name="file" id="fileinput"/>
        </div>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-row>
          <ion-col *ngFor="let image of Images; let i = index" size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
            <ion-icon name="close-circle-outline" class="closebtn" (click)="DeleteImage(i)"></ion-icon>
            <img [src]="sanitizer.bypassSecurityTrustUrl(image)" />
          </ion-col>


        </ion-row>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Current Location</ion-label>

        <ion-textarea [(ngModel)]="currentlocation" style="height:auto !important" class="form-control"></ion-textarea>

      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Remarks <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-textarea [(ngModel)]="remarks" (keyup)="offnumberOnlyValidation($event)" maxlength="4000" style="height:auto !important" class="form-control">
        </ion-textarea>
        <span *ngIf="remarks && remarks != 'undefined' && remarks.length > 0"
          class="customCounter">{{4000 - remarks.length}}</span>

      </ion-col>


    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>

      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <ion-button color="success" (click)="Submitretail()" size="full">Submit</ion-button>
      </ion-col>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <ion-button (click)="Cancelretail()" color="danger" size="full">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
