<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PMS EMPLOYEES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">My Task</ion-button>
  <ion-button id="open-modal0" expand="block">Additonal</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="taskCancel()">
              <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>My Tasks</ion-title>
        </ion-toolbar>
      </ion-header>
    </ng-template>
  </ion-modal>
  <ion-modal trigger="open-modal0">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="Addcancel()">
              <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Additional Charges</ion-title>
        </ion-toolbar>
      </ion-header>
    </ng-template>
  </ion-modal>
</ion-content>


