@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
.btn{
    height: 80px;
    padding: 0;
}
ion-card-content.md.card-content-md.hydrated {
    padding: 15px;

  }
  ion-card-header.ion-inherit-color.md.hydrated {
    background-color: #019ADE;
    color: white !important;
}
th {
  background-color: #eeeeee;
  color: #2c5291;
  // font-size: large !important;

}

td {
  // font-size: large !important;
  color: #242424;
  border:none
}
.headertitle{
    color: white;
}
input.searchbar-input.sc-ion-searchbar-md {
  padding-right: 0 !important;
}
.sc-ion-searchbar-ios-h{
  padding: 5px;
  height: 50px;
}