<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PMS EMPLOYEES</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div style="display: flex;"> -->





<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">My Task</ion-button>
  <ion-button id="open-modal0" expand="block">Additonal</ion-button>
  <ion-button expand="block" (click)="transactionModal()">Transaction</ion-button>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="taskCancel()">
              <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>My Tasks</ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-content>

        <ion-card>
          <ion-grid>

            <ion-row>
              <ion-col size="6">
                <ion-button color="primary">Update</ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button class="ion-color-success" (click)="newIssueCreate()">New</ion-button>
              </ion-col>
            </ion-row>

          </ion-grid>
          <ion-card-content class="card_content">
            <ion-grid>
              <ion-row>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text"> Reference NO :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>1234</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Property Code :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>po930</p>

                </ion-col>



                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Property Description :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">
                  <p>Flat for sale</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Issue Category :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>finding</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Assign Date :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">
                  <p>23/04/2022</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Assign To:</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>Anand</p>
                </ion-col>
                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Issue Status :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <!-- <option [ngValue]="null"  disabled  selected>--Select--</option> -->
                  <ion-select placeholder="--Select--" style="padding: 0;">
                    <ion-select-option value="apples">New</ion-select-option>
                    <ion-select-option value="oranges">Pending</ion-select-option>
                    <ion-select-option value="bananas">Completed</ion-select-option>
                  </ion-select>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal trigger="open-modal0">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="Addcancel()">
              <ion-icon slot="start" name="arrow-back" style="color:white;"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>Additional Charges</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-grid>

          <ion-row>
            <ion-col size="8">
              <ion-searchbar></ion-searchbar>
            </ion-col>

            <ion-col size="4">
              <ion-button color="primary" (click)="createModal()">ADD <ion-icon name="add-circle-outline"
                  style="color: white;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card>

          <ion-card-header class="card_header"></ion-card-header>


          <ion-card-content class="card_content">
            <ion-grid>
              <ion-row>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text"> Reference NO :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>1234</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Property Code :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>po930</p>

                </ion-col>



                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Property Description :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">
                  <p>Flat for sale</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Issue Category :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>finding</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Assign Date :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">
                  <p>23/04/2022</p>

                </ion-col>

                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Assign To:</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <p>Anand</p>
                </ion-col>
                <ion-col size="7" class="col_height">

                  <ion-label class="labelHead-text">Issue Status :</ion-label>

                </ion-col>
                <ion-col size="5" class="col_height">

                  <!-- <option [ngValue]="null"  disabled  selected>--Select--</option> -->
                  <ion-select placeholder="--Select--" style="padding: 0;">
                    <ion-select-option value="apples">New</ion-select-option>
                    <ion-select-option value="oranges">Pending</ion-select-option>
                    <ion-select-option value="bananas">Completed</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>