.btn{
    height: 80px;
    padding: 0;
}
ion-card-content.md.card-content-md.hydrated {
    padding: 15px;

  }
  ion-card-header.ion-inherit-color.md.hydrated {
    background-color: #019ADE;
    color: white !important;
}
th {
  background-color: #eeeeee;
  color: #2c5291;
  // font-size: large !important;

}

td {
  // font-size: large !important;
  color: #242424;
  border:none
}
.headertitle{
    color: white;
}
