<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header class="bar-stable">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" >
        <ion-label class="tool-barHeaderText">History</ion-label>
      </ion-col>
      <ion-col size="6" style="text-align: end;">
        <ion-label  (click)="closemodel()" class="toolbar-HdrCnclText">Cancel</ion-label>
      </ion-col>
    </ion-row>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">History</ion-title>
    <i class="fa-solid fa-circle-xmark addcnt_close" name="close-circle"
      style="float:right;position: relative;right: 11px;" (click)="closemodel()"></i>
    <ion-icon name="close-circle" (click)="closemodel()" style="float:right"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)"></ion-searchbar> -->

  <ion-grid>
    <ion-row style="text-align: center;">
      <ion-col size="6">
        <label>From Date</label>
        <input style="padding:10px;width:100%" class="colorfocus" [(ngModel)]="fromDate" type="date" />
      </ion-col>
      <ion-col size="6">
        <label>To Date</label>
        <input style="padding:10px;width:100%" class="colorfocus" [(ngModel)]="toDate" type="date" />
      </ion-col>
      <ion-col style="text-align:center" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <button (click)="searchFilter(fromDate,toDate)" size="full" style="background-color: #32CD32 !important;color:#fff;width:100% !important;font-size: 17px;height: 2.8em;
        border-radius: 10px;">Search</button>
      </ion-col>
      <!-- <ion-col style="text-align:center" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-button color="success" style="width:100px;display: inline-block;" (click)="searchFilter(fromDate,toDate)"
          size="full">Search</ion-button>


      </ion-col> -->

    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let items of showhistforuser; let i = index" style="background-color:#fff">
    <ion-grid style="padding: 0px;">
      <ion-row>
        <div class="card_header" style="width: 100% !important;">
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="color:#fff;padding:12px;">
            {{items.CustFullName}}
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
            style="color:#fff;padding:12px;text-align:right;">
            #{{items.TCC_CUST_LEAD_ID}}
          </ion-col>
        </div>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Lead ID
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.TCC_CUST_ID}}</b>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Contact Number
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <span>
            <a (click)="makeCall(items)" style="text-decoration:none !important;cursor:pointer;"><b>{{items.MOBILE}}</b></a>
            <i style="color:black;">|</i><a ng-if="items.OFFPHONE != '011'" href="tel:{{items.OFFPHONE}}"
              style="text-decoration:none !important;cursor:pointer;">&nbsp;<b>{{items.OFFPHONE}}</b>&nbsp;</a><a
              ng-if="items.OFFPHONE == '011'" style="text-decoration:none !important;cursor:pointer;">&nbsp;-&nbsp;</a>
            <i style="">|</i><a ng-if="items.OFFPHONE != '011'" href="tel:{{items.RESPHONE}}"
              style="text-decoration:none !important;cursor:pointer;">&nbsp;<b>{{items.RESPHONE}}</b></a>
            <a ng-if="items.RESPHONE == '011'" style="text-decoration:none !important;cursor:pointer;">&nbsp;-&nbsp;</a>
          </span>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Last Call
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.CREATED_ON | date:'dd-MM-yyyy'}} {{items.created_time}}</b>
        </ion-col>
        <ion-col *ngIf="items.TCC_RESPONSE_ID!=6" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Next Call
        </ion-col>
        <ion-col *ngIf="items.TCC_RESPONSE_ID!=6" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <span style="font-size: 14px;" *ngIf="items.TCC_NEXT_CALL_DATE!=null"><b class="valuestext">{{items.TCC_NEXT_CALL_DATE |
            date:'dd-MM-yyyy'}} {{items.call_time}}</b></span>

        </ion-col>


        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Campaign
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.Campaign}}</b>
        </ion-col>
        <ion-col *ngIf="items.TCC_RESPONSE_ID==1" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Place To Meet
        </ion-col>
        <ion-col *ngIf="items.TCC_RESPONSE_ID==1" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.Meeting_address}}</b>
        </ion-col>
        <ion-col *ngIf="items.TCC_LEAD_BY!=null" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Lead By
        </ion-col>
        <ion-col *ngIf="items.TCC_LEAD_BY!=null" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.leadby}}</b>
        </ion-col>
        <ion-col *ngIf="items.TCC_LEAD_BY!=null" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Last Updated By
        </ion-col>
        <ion-col *ngIf="items.TCC_LEAD_BY!=null" size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.updatedby}}</b>
        </ion-col>

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Exp. Closed Date
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <b class="valuestext">{{items.EXPECTEDCLOSEDDATE}}</b>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          Expected Amount
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <span *ngIf="items.ExpctedAmount==0"><b class="valuestext">-</b></span>
          <span *ngIf="items.ExpctedAmount!=0"> <b class="valuestext">{{items.ExpctedAmount}}</b></span>
        </ion-col>


        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <span>Remarks</span>
        </ion-col>
        <ion-col size-sm="5" size="5" size-md="5" size-lg="5" size-xl="5">
          <span><b class="valuestext">{{items.TCC_AGENT_REMARKS}}</b></span>
        </ion-col>
        <!-- <ion-col *ngIf="items.TCC_RESPONSE_ID==6" size-sm="5" size="5" size-md="5" size-lg="5" size-xl="5">
                              <span>  New Lead Uploaded</span>
                            </ion-col> -->

      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>
