<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RFQ Master</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <iona-label class="plabel" >Company Name</ion-label>
          <ion-input disabled="" style=" background-color: #d4d4d4!important; display:inline-block;padding: 8px;"
            type="text" class="Input-text-field textareaField"></ion-input>
        </ion-col> -->

        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">PRS Code</ion-label>
          <ion-input type="text" [(ngModel)]="prscode" class="Input-text-field textareaField"></ion-input>
        </ion-col> -->
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">RFQ Code</ion-label>
          <ion-input type="text" [(ngModel)]="prscode" class="Input-text-field textareaField"></ion-input>
          <!-- [(ngModel)]="VendorQuot.qty" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Item Code</ion-label>
          <ion-input type="text" [(ngModel)]="itemcode" class="Input-text-field textareaField"></ion-input>
          <!-- [(ngModel)]="VendorQuot.qty" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Requisition From Date</ion-label>
          <ion-input type="date" [(ngModel)]="fromdate" class="Input-text-field textareaField"></ion-input>
          <!-- [(ngModel)]="VendorQuot.qty" -->
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Requisition To Date</ion-label>
          <ion-input type="date" [(ngModel)]="toDate" class="Input-text-field textareaField"></ion-input>
          <!-- [(ngModel)]="VendorQuot.qty" -->
        </ion-col>
        <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Status</ion-label>
          <ion-input type="text" class="Input-text-field textareaField"></ion-input>
        </ion-col> -->
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Status</ion-label>
          <select [(ngModel)]="status" style="padding: 10px;"
           (change)="getVal($event.target.value)"
            style="display:inline-block;padding: 8px;" class="Input-text-field textareaField" >
            <option value="P" selected> Pending </option>
            <option value="RFQ Raised"> Raised RFQ </option>
            <option value="A"> Cancelled RFQ </option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Bidding/Other</ion-label>
          <select [(ngModel)]="bidding" style="padding: 10px;" style="display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <!-- <option>&lt;&lt; Select &gt;&gt;</option> -->
            <option value="Bidding">Bidding</option>
            <option value="Other">Other</option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>
        <!-- <ion-row>
          <ion-col>
            <ion-col>
              <input type="radio" id="radio" style="--background:#FFF !important">
              <ion-label class="select_placeholder" id="radio">Bidding</ion-label>
            </ion-col>
          </ion-col>
          <ion-col>
            <ion-col>
              <input type="radio" id="radio" style="--background:#FFF !important">
              <ion-label class="select_placeholder" id="radio">Other</ion-label>
            </ion-col>
          </ion-col>
        </ion-row> -->

      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
          <ion-button (click)="Submit()" class="ion-color-success" expand="block">
            <ion-icon style="color:white ;" name="search-outline"></ion-icon>
            Search
          </ion-button>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-button class="ion-color-danger" *ngIf="!disabledvalue" expand="block" (click)="Cancel()">Clear
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <p *ngIf="loading" class="totalCount">Please Wait..</p> -->

  <!-- <p *ngIf="totalemployee" class="totalCount"><b>Total Employee : {{displayEmployee.length}}</b></p> -->
  <!-- <ion-row>
    <ion-col>

      <ion-col style="text-align: center">
        <ion-label style="color:black ;">Last Date</ion-label>
        <ion-input type="date" style="color: black !important;
        font-weight: 500 !important; ;" class="Input-text-field textareaField"></ion-input>
      </ion-col>
    </ion-col>
    <ion-col>
      <ion-col style="text-align: center;">
        <ion-button class="ion-color-success" (click)="raiseRFQ()" expand="block">Raise RFQ</ion-button>
      </ion-col>
    </ion-col>
  </ion-row> -->



<!-- Pending RFQ -->
<ion-card *ngIf="showRfq">
  <ion-card  *ngFor="let item of getresponse">
          <ion-card-header class="card_header" style="padding: 5px !important;">
        <ion-row>
          <ion-col size="4">
            <!-- <ion-label class="card_header_text1">{{item.Name}}</ion-label> -->
            <!-- <input type="checkbox" id="checkbox" [checked]="selectAll" (change)="selectAllCheckbox(selectAll)"> -->

            <input type="checkbox" class="checkboxbg" [checked]="selectAll"  (change)="selectAllCheckbox(item.RFQID)">
          </ion-col>
          <ion-col size="8">
            <ion-label class="card_header_text1"> {{item.prs_code}}</ion-label>
            <!-- <ion-label class="card_header_text"> PRS573864533464/3232</ion-label> -->
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-row>
        <ion-col size="6">
          <ion-label class="card_content_label labelHead-text">Item Desc</ion-label>
        </ion-col>
        <ion-col size="6">
          <!-- <ion-label class="cardanswer">{{item.GET_QTY}}</ion-label> -->
          <ion-label class="cardanswer"> : {{item.item_short_Desc}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label class="card_content_label labelHead-text">Requisition Date</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="cardanswer">: {{item.requested_Date}}</ion-label>
          <!-- <ion-label class="cardanswer"> :  12/04/2022</ion-label> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label class="card_content_label labelHead-text">Status :</ion-label>
        </ion-col>
        <ion-col size="6">
          <!-- <ion-label class="cardanswer">{{item.GET_NETPRICE}}</ion-label> -->
          <ion-label class="cardanswer"> : {{item.Auction_status}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-col style="text-align: center">
          <ion-label style="color:black ;">Last Date</ion-label>
          <ion-input type="date" style="color: black !important;
        font-weight: 500 !important; ;" class="Input-text-field textareaField"></ion-input>
        </ion-col>
      </ion-col>
      <ion-col>
        <ion-col style="text-align: center;">
          <ion-button class="ion-color-success" (click)="raiseRFQ()" expand="block">Raise RFQ</ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- end -->

  <!-- Raised RFQ -->
  <ion-card *ngIf="showMRFQ">
    <ion-card *ngFor="let item of getresponse">
    <ion-card-header class="card_header" style="padding: 5px !important;">
      <ion-row>
        <ion-col size="7">
          <ion-label class="card_header_text2"> {{item.RFQCode2}}</ion-label>
        </ion-col>
        <ion-col size="5">
          <!-- <ion-label class="card_header_text"> {{item.prscode}}/{{item.itemcode}}</ion-label> -->
          <ion-button class="ion-color-successrfq" (click)="manageRFQlink()"> Manage RFQ </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">RFQ Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  {{item.RFQDate}}</ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Last Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  {{item.qdate}}</ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">RFQ Code</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  {{item.RFQCode}} </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Item Code</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  {{item.item_Code}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Net Price :</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer"> : {{item.NONET}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Items</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  {{item.NOITEMS}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Quotations</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  {{item.NOQT}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Receivers</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  {{item.NOREC}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> Status</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  {{item.Auction_status}} </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-card>
  <!-- end -->



  <!-- Cancelled RFQ -->
  <ion-card *ngIf="showCRFQ">
    <ion-card **ngFor="let item of getrfqcancel">
    <ion-card-header class="card_header" style="padding: 5px !important;">
      <ion-row>
        <ion-col size="9">
          <ion-label class="card_header_text2"> PRS573864533464/3232</ion-label>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-label class="card_header_text"> {{item.prscode}}/{{item.itemcode}}</ion-label>
          <ion-button class="ion-color-success" (click)="ManageRFQ()"> Manage RFQ </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-card-header>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">RFQ Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  28/10/2022</ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Last Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  2/11/2022</ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">RFQ Code</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="cardanswer">  :  {{12345}} </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Item Code</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  12345 </ion-label>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text">Net Price :</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer"> [ USD / EUR ]</ion-label>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Items</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  25 </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Quotations</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  15 </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> No. of Receivers</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  8 </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label class="card_content_label labelHead-text"> Status</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label class="cardanswer">  :  RFQ Cancelled </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-card>
  <!-- end -->


  <!-- <ion-card *ngIf="showviewlist">
    <ion-card-header class="card_header">
      <ion-card-title class="card_header_text" style="text-align:center ;">Issue Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div class="table">
        <table class="table table-striped">
          <thead class="card_header">
            <tr class="table-head">


              <th><input type="checkbox" id="checkbox" [checked]="selectAll" (change)="selectAllCheckbox(selectAll)">
              </th>

              <th>PRS Code</th>
              <th>Item Code</th>
              <th>Requisition Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <ng-container>
              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>PRS573864533464</td>
                <td>7865</td>
                <td>12/09/2020</td>
                <td>Active</td>

              </tr>

              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>PRS573864533468</td>
                <td>7865</td>
                <td>12/09/2020</td>
                <td>Active</td>

              </tr>

              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>PRS573864533464</td>
                <td>7865</td>
                <td>12/09/2020</td>
                <td>Active</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ion-card-content>


    <ion-row>
      <ion-col>

        <ion-col style="text-align: center">
          <ion-label style="color:black ;">Last Date</ion-label>
          <ion-input type="date" style="color: black !important;
          font-weight: 500 !important; ;" class="Input-text-field textareaField"></ion-input>
        </ion-col>
      </ion-col>
      <ion-col>
        <ion-col style="text-align: center;">
          <ion-button class="ion-color-success" (click)="raiseRFQ()" expand="block">Raise RFQ</ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card> -->



  <!-- <ion-card *ngIf="showrfq">
    <ion-card-header class="card_header">
      <ion-card-title class="card_header_text" style="text-align:center ;">Issue Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div class="table">
        <table class="table table-striped">
          <thead class="card_header">
            <tr class="table-head">


              <th style="padding: 2px !important;"><input type="checkbox" id="checkbox" [checked]="selectAll"
                  (change)="selectAllCheckbox(selectAll)"> </th>
              <th style="padding: 12px !important;">RFQ Code</th>
              <th style="padding: 8px !important;">Required Date</th>
              <th style="padding: 2px !important;">LastDate</th>
              <th style="padding: 5px !important;">Manage RFQ</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <ng-container>
              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>RFQ 873/AT</td>
                <td>12/09/2020</td>
                <td>12/09/2020</td>
                <td><a (click)="manageRFQlink()">Manage RFQ </a></td>
              </tr>
              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>RFQ 873/AT</td>
                <td>12/09/2020</td>
                <td>12/09/2020</td>

                <td><a (click)="manageRFQlink()">Manage RFQ</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" id="checkbox" [checked]="selectAll" id="checkbox"></td>
                <td>RFQ 873/AT</td>
                <td>12/09/2020</td>
                <td>12/09/2020</td>

                <td><a (click)="manageRFQlink()">Manage RFQ</a></td>
              </tr>

            </ng-container>
          </tbody>
        </table>




      </div>

    </ion-card-content>
  </ion-card> -->
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
