.card_left_text {
    font-family: "Poppins";
    color: black;
    font-weight: 600 !important;
}
ion-content{
    ion-toolbar{
        padding: 0px !important;
        --background: #019ADE !important;
    }
}