<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back-outline" style="color:white;"></ion-icon>
        <span style="color:white;">Back</span>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin: 0 20px;">Issue Status</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<center *ngIf="isViewStatusCard" style="margin: 50% auto;font-weight: 600;">No records found</center>
  <ion-card *ngIf="isViewStatusCard">
    <ion-card-content *ngFor="let item of getStatus">
      <ion-row>
        <ion-col size="5" class="col_height">
          <ion-label class="labelHead-text"> Asset Code</ion-label>
        </ion-col>
        <ion-col size="7" class="col_height">
          <ion-label class="labelData-text"> :&nbsp;&nbsp;&nbsp;&nbsp;{{item.pmm_asset_code}}</ion-label>
        </ion-col>
        <ion-col size="5" class="col_height">
          <ion-label class="labelHead-text"> Reference No</ion-label>
        </ion-col>
        <ion-col size="7" class="col_height">
          <ion-label class="labelData-text"> :&nbsp;&nbsp;&nbsp;&nbsp;{{item.refno}}</ion-label>
        </ion-col>
        <ion-col size="5" class="col_height">
          <ion-label class="labelHead-text"> Assigned To</ion-label>
        </ion-col>
        <ion-col size="7" class="col_height">
          <ion-label class="labelData-text"> :&nbsp;&nbsp;&nbsp;&nbsp;{{item.CMD_ACTIVITY_ASSIGNEDTO}}</ion-label>
        </ion-col>
        <ion-col size="5" class="col_height">
          <ion-label class="labelHead-text">Issue date & Time</ion-label>
        </ion-col>
        <ion-col size="7" class="col_height">
          <ion-label class="labelData-text"> :&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
        </ion-col>
        <ion-col size="5" class="col_height">
          <ion-label class="labelHead-text"> Issue Status :</ion-label>
        </ion-col>
        <ion-col size="7" class="col_height">
          <ion-label class="labelData-text">:&nbsp;&nbsp;&nbsp;&nbsp;{{item.Realease_status}} </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center;">
        <ion-col size="12">
          <ion-button expand="block" class="ion-color-danger" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
