<ion-header>
  <ion-toolbar>

    <ion-title>Update</ion-title>
    <ion-icon name="close-circle" (click)="closemodel()" style="float:right"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card style="background-color:#fff">
    <!-- <ion-card-header class="card_header" style="padding: 5px !important;">
      <ion-row>
        <ion-col size="12">
          <ion-label class="card_header_text1"> Spares Used</ion-label>
        </ion-col>
     
      </ion-row>
    </ion-card-header> -->
 
    <!-- <ion-row>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset code</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="assetcodetabrefe"></ion-input>
      </ion-col>
    </ion-row> -->

    <!-- <ion-card style="background-color:#fff"> -->
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12"
            style="background-color:rgb(2, 154, 222)!important;color:#fff;padding:12px;">
            Manpower Used
          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label style="font-weight:bold;display: block;">Skills<span style="color:red;margin-left: 5px;">*</span>
            </ion-label>
            <select [(ngModel)]="skill" class="form-control" style="width:100%" disabled="" >
              <option>{{this.skill}}</option>
              <!-- <option>&lt;&lt; Select &gt;&gt;</option>
              <option *ngFor ="let item of manpowerskill" value="item.VAL">{{item.TEXT}}
              </option> -->
            </select>
          </ion-col>

          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label style="font-weight:bold;display: block;">Employee Reference<span
                style="color:red;margin-left: 5px;">*</span></ion-label>
            <select [(ngModel)]="skill" class="form-control" style="width:100%" disabled="" >
              <option>{{this.employeeName}}</option>
              <!-- <option>&lt;&lt; Select &gt;&gt;</option>
              <option *ngFor="let item of manpowerrefdetail; let i = index" [ngValue]="item.tum_user_id">
                {{item.tum_user_code}}-{{item.tum_user_name}}
              </option> -->
            </select>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4" style="display: flex;">
            <ion-input type="number"  style="width:25%;border: none;border-bottom:green 1px solid;" required="" maxlength="2"
               [(ngModel)]="nomhours">{{this.hours}}</ion-input>
            <ion-input type="number" style="width:25%;border: none;border-bottom:green 1px solid;" required="" maxlength="2"
              [(ngModel)]="nomhoursm">{{this.min}}</ion-input>

          </ion-col>

          <!-- <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12"  >
            <ion-button (click)="manpowerinsert()" text-center style="--background:#009689" size="small">Save
            </ion-button>
        </ion-col>  -->
        </ion-row>
        <ion-row size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-col size-sm="3" size="3" size-md="3" size-lg="4" size-xl="3"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="4" size-xl="6">
            <ion-button (click)="manpowerinsert()"
              [disabled]="(skill=='<< Select >>' || empref=='<< Select >>'|| nomhours== undefined || nomhoursm == undefined)"
              text-center style="--background:#009689" size="small">Save
            </ion-button>
          </ion-col>
          <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3"></ion-col>

        </ion-row>
      </ion-grid>
    <!-- </ion-card> -->

    <!-- <ion-card >
      <ion-card-header class="card_header"> -->

        <!-- <ion-row *ngFor="let data of manpowerrecord; let i = index">
          <ion-col size="6">
            <ion-label class="card_header_text1">{{data.SKILL_TEXT}}</ion-label>
          </ion-col>

          <ion-col size="6" style="text-align: center;">
            <button ion-button icon-only style="background: none; margin-left: 10px;">
              <ion-icon slot="icon-only" name="create" style="color:#fff;" (click)="editItem(data,i)"></ion-icon>
            </button>
            <button ion-button icon-only style="background: none;margin-left: 10px;">
              <ion-icon slot="icon-only" name="close-circle" style="color:#fff;" (click)="deleteItem(data,i)">
              </ion-icon>
            </button>
          </ion-col>
        </ion-row> -->

      <!-- </ion-card-header> -->

      <!-- <ion-card-content> -->
        <!-- <ion-row>
          <ion-col size="6">
            <ion-label> Employee Reference</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="labelData-text">: {{data.TEXT}}</ion-label>
          </ion-col>

          <ion-col size="6">
             <ion-label>Number Of Hours</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="labelData-text">: {{data.actual_hrs}}</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>Cost</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="labelData-text">: {{data.ASSET_COST}}</ion-label>
          </ion-col>
        </ion-row> -->
      <!-- </ion-card-content> -->
    <!-- </ion-card> -->

    <!-- <ion-card *ngFor="let data of manpowerrecord; let i = index" style="background-color:#fff">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
            style="background-color: #2e3192!important;color:#fff;padding:12px;">
            {{data.SKILL_TEXT}}
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"
            style="background-color: hsl(238, 52%, 38%)!important;color:#fff;padding:12px;text-align:right;">
            <button ion-button icon-only style="background-color:hsl(238, 52%, 38%)!important">
              <ion-icon slot="icon-only" name="create" style="color:#fff;" (click)="editItem(data,i)"></ion-icon>
            </button>
            <button ion-button icon-only style="background-color:hsl(238, 52%, 38%)!important">
              <ion-icon slot="icon-only" name="close-circle" style="color:#fff;" (click)="deleteItem(data,i)">
              </ion-icon>
            </button>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
            Employee Reference
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            {{data.TEXT}}
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
            Number Of Hours
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            {{data.actual_hrs}}
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
            Cost
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            {{data.ASSET_COST}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> -->
 
  </ion-card>
</ion-content>