<!-- <ion-header>
  <ion-toolbar>

      <ion-buttons slot="start" (click)="goHome()" style="color:#ffe500;">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <p class="commontextpage">Cams Dashboard Page</p> -->
  <!-- <div id="background-content" class="wrper">
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="4" style="bottom: 20em;">
          <ion-card style="margin-top: 100%;">
              <div style="background-color: #0E78A7;color: #fff;padding: 10px;">
                  Asset Category Wise Count
                </div>
                <div style="margin-top:15px;">
                  <canvas id="myChart" class="chart chart-doughnut" width="400" height="400"
				  chart-data="data2" chart-labels="labels2 " chart-options="options" chart-dataset-override="datasetOverride" legend="true">
				</canvas>
                </div>

            </ion-card>
      </ion-col>

      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="4" style="bottom: 20em;">
        <ion-card>
            <div style="background-color: #0E78A7;color: #fff;padding: 10px;">
                Asset Month Wise Maintenance Count
              </div>
              <div align="center" style="padding-top:5px; padding-bottom:5px;">
                {{currentDate | date:'MMM yyyy'}}
              </div>
              <div style="margin-top:15px;">
                <canvas id="maintenanceChart" class="chart chart-pie"
				  chart-data="data3" chart-labels="labels3" legend="true">
				</canvas>
              </div>

          </ion-card>
    </ion-col>

    <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="4" style="bottom: 20em;">
      <ion-card>
          <div style="background-color: #0E78A7;color: #fff;padding: 10px;">
            Asset Branch Wise Count
            </div>

            <div style="margin-top:15px;">
              <canvas #sourcecanvas1 id="sourcecanvas1"></canvas>

          </div>

        </ion-card>
  </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>

  <ion-row>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
    © SunSmart Global Inc
  </ion-col>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
   {{username}}
 </ion-col>
  </ion-row>


 </ion-footer>
