.chart-legend,.bar-legend,.line-legend,.pie-legend,.radar-legend,.polararea-legend,.doughnut-legend{list-style-type:none;margin-top:5px;text-align:center;-webkit-padding-start:0;-moz-padding-start:0;padding-left:0}.chart-legend li,.bar-legend li,.line-legend li,.pie-legend li,.radar-legend li,.polararea-legend li,.doughnut-legend li{white-space:nowrap;position:relative;margin-bottom:20px;border-radius:5px;padding:2px 8px 2px 28px;font-size:smaller;cursor:default}.chart-legend li span,.bar-legend li span,.line-legend li span,.pie-legend li span,.radar-legend li span,.polararea-legend li span,.doughnut-legend li span{display:block;left:0;top:0;width:10px;height:10px;padding-left: 20px;float:left;}


#background-content {
    //  background-image: url(../../../assets/images/Loginbg.png) !important;
    // background-image: url(../../../assets/images/loginBackground.png);
    height: 325px;
    border-radius: 0 0 100px 100px !important;
    z-index: -1;
    // background-color: rgb(16, 99, 16);

}

ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }
.commontextpage {
    text-align: center;
    position: relative;
    top: 50%;
  }
  // ion-content {
  //   --background: url('../../../assets/images/tpbackground.png') repeat !important;
  //   position: relative;
  // }

  ion-card {
    background: #ffffff;
    margin: 25px;
    border-radius: 5px;
    font-size: 14px;
    // box-shadow: 0 -3px 2px 0 rgb(255 255 255 / 20%), 0 -5px 12px 0 rgb(255 245 245 / 53%) !important;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  }

