<ion-header>
  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Additional Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="4" style="margin-left: 15px;">
      <ion-button expand="block" size="small" (click)="togglefilter()"> Filter &nbsp;&nbsp;<ion-icon name="filter">
        </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="3">
      <ion-button color="primary" size="small" (click)="createModal()">ADD <ion-icon name="add-circle-outline"
          style="color: white;"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-card *ngIf="showfilter">
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-label>Branch <span style="color:red;">*</span></ion-label>
          <select id="selectbutton" [(ngModel)]="branch" class="form-control" (change)="BranchLocationdata(branch)">
            <option [ngValue]="undefined" selected disabled>
              << Select>>
            </option>
            <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
              {{branch.BRANCH_DESC}}
            </option>
          </select>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label>Branch Location</ion-label>
            <select id="selectbutton" [(ngModel)]="branchlocation" class="form-control"
              (change)="getLocationdata(branchlocation)">
              <option [ngValue]="undefined" selected disabled>
                << Select>>
              </option>
              <option *ngFor="let location of branchlocationlist; let i = index" [ngValue]="location.BRANCH_ID">
                {{location.BRANCH_DESC}}</option>
            </select>
          </ion-col>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Code</ion-label>
          <ion-searchbar [(ngModel)]="propertycode" type="text" debounce="500" (ionInput)="getPropertyCode($event)">
          </ion-searchbar>
          <ion-list *ngIf="isPropertycodeAvailable" class="searchlist" style="height: 100px;">
            <ion-item *ngFor="let item of propertyCode1" (click)="addPropertycode(item)"
              style="background:none !important;color:#444 !important;display: block;">
              {{item}}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Description</ion-label>
          <ion-input type="text" [(ngModel)]="propDesc" class="form-control"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="ContentName">Pay Date :</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="date" class="form-control" [(ngModel)]="payDate"></ion-input>
        </ion-col>

        <ion-col size="12">
          <ion-button class="ion-color-success" (click)="filterListItems()" expand="block">SEARCH</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <center *ngIf="ShowAddionalList" style="text-align: center;font-weight: bold;font-size: 17px;color: #000 !important;">
    Total records: {{ShowAddionalList.length}}</center>

  <!-- <center *ngIf="showRecords" style="text-align: center;font-weight: bold;font-size: 17px;color: #000 !important;">No
    records found</center> -->
  <ion-card *ngFor="let item of ShowAddionalList;">
    <ion-card-header class="card_header">Additonal Charge Details
      <!-- <i class="fa fa-edit" (click)="editCharge(item.PropertyCode);" style="font-size: 24px;position: relative;color: #fff;position: absolute;
      right: 14px;"></i> -->
    </ion-card-header>

    <ion-card-content class="card_content">
      <ion-row>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Branch </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.Branch}} </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Location </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.Location}} </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property Code </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.PropertyCode}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text"> Description </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.Description}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Amount </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.Amount}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Pay Date </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{item.ChequeDate}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
