ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
ion-label {
  font-family: "Poppins";
  color: black;
  font-weight: 600 !important;
}
