<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Applicant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button tab="hrmsapplicant-details">
            <ion-icon name="home"></ion-icon>
            <ion-label class="tablabel">General Details</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="applicanteducationdetail">
            <ion-icon name="apps"></ion-icon>
            <ion-label class="tablabel">Education Details</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="hrmsapplicantemploymentdetails">
            <ion-icon name="settings"></ion-icon>
            <ion-label class="tablabel">Employment Details</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="hrmsapplicantskillsdetails">
              <ion-icon name="settings"></ion-icon>
              <ion-label class="tablabel">Skills Details</ion-label>
            </ion-tab-button>
        </ion-tab-bar>

      </ion-tabs>
</ion-content>
