<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Material Issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="card_content">

      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="ContentName">Branch</ion-label>
            <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
              [(ngModel)]="branch"></ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Mode</ion-label>
            <select #selectList style="padding: 10px;" [(ngModel)]="mode" (change)="setValue(selectList.value)" style=" display:inline-block;padding: 8px;"
              class="Input-text-field textareaField">
              <option value="null"> &lt;&lt; Select &gt;&gt; </option>
              <option value="L">Location Transfer</option>
               <option value="MI"> Material Requisition Slip </option>
            <option value="SR"> Sales Return </option>
              <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
            </select>
          </ion-col>


          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">MRS Code</ion-label>
            <ion-input [(ngModel)]="mrsCode" style=" display:inline-block;padding: 8px;" type="text" class="Input-text-field textareaField">
            </ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">From Date</ion-label>
            <ion-input [(ngModel)]="fromdate" style="display:inline-block;padding: 8px;" type="date" class="Input-text-field textareaField">
            </ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">To Date</ion-label>
            <ion-input [(ngModel)]="todate" style="display:inline-block;padding: 8px;" type="date" class="Input-text-field textareaField">
            </ion-input>
          </ion-col>
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label class="plabel">Status</ion-label>
            <select [(ngModel)]="Status" #selectList style="padding: 10px;"  (change)="setstatusvalue(selectList.value)" style="display:inline-block;padding: 8px;"
              class="Input-text-field textareaField">
              <ion-option value="0" selected> &lt;&lt; Select &gt;&gt; </ion-option>
              <ion-option value="P">Pending</ion-option>
              <ion-option value="C">Completed</ion-option>
              <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
            </select>
          </ion-col>

          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4" style="text-align: center;">
            <ion-button (click)="SearchList()" class="ion-color-success" expand="block">
              <ion-icon style="color:white ;" name="search-outline"></ion-icon>
              Search
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <!-- <ion-card-content class="card_content">
      <ion-row>
        <ion-col>
          <ion-label class="labelHead-text" style="margin: 10px;">Item Details :</ion-label>
        </ion-col>
      </ion-row>
      <div>
        <ngx-datatable #firstTable class="material" [headerClass]="ngx-header" [limit]="50" [rows]="data"
          [rowHeight]="50" [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [footerHeight]="50"
          [scrollbarH]="true" [sortType]="'multi'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
        </ngx-datatable>
      </div>
    </ion-card-content> -->

  </ion-card>
  <p  id="ContentName" class="totalCount">Total Lead :{{responseDatalength}} </p>
<ion-card *ngFor="let item of responseData">
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col-4>
          <ion-label class="card_header_text" >Quotation Ref</ion-label>
        </ion-col-4>

        <ion-col-8 style="margin-left: 120px;">
          <ion-label class="card_header_text">{{item.MRSReference}}</ion-label>
          <!-- PO Reference NO -->
        </ion-col-8>
      </ion-row>
    </ion-card-header>
    <ion-label class="labelData-text"></ion-label>
    <ion-card-content>
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">MRS Code </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text"> : {{item.mrs_code}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Required Before Date </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text"> :{{item.exp_date}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Item Code  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text"> :{{item.item_Code}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Qty Requested  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">: {{item.QuantityRequired}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Qty Released  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">: {{item.ReleasedQty}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Qty Pending  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text"> :{{item.QuantityPending}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Stock Qty  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text"> :{{item.STOCKQTY}} </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Current Qty &nbsp;&nbsp; </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
       <ion-input type="text" class="Input-text-field textareaField"> </ion-input>
        </ion-col>
        <ion-col size="12" style="font-weight:bold;">
          <ion-button expand="block" class="ion-color-success" [routerLink]="['/issue-details']" routerLinkActive="router-link-active" >Issue
          </ion-button>
        </ion-col>
          </ion-row>
     </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="showviewlist">
    <ion-card-content class="card_content">
      <ion-row>
        <ion-col>
          <ion-label class="labelHead-text" style="margin: 10px;">Item Details :</ion-label>
        </ion-col>
      </ion-row>
      <div>
        <ngx-datatable   #secondTable class="material" [headerClass]="ngx-header" [limit]="50" [rows]="data" [rowHeight]="50"
          [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
          [sortType]="'multi'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
        </ngx-datatable>
      </div>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-col size="12">
    <ion-button color="primary" (click)="edit()">Edit</ion-button>
  </ion-col> -->
</ion-content>

<ion-grid *ngIf="showedit">
  <ion-row>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Location</ion-label>
      <select style="padding: 10px;" disabled=""
        style=" background-color: #d4d4d4!important; display:inline-block;padding: 8px;"
        class="Input-text-field textareaField">
        <option selected="selected">&lt;&lt; Select &gt;&gt;</option>
        <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
      </select>
    </ion-col>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Bin Loaction</ion-label>
      <ion-input type="text" class="Input-text-field textareaField"></ion-input>
      <!-- [(ngModel)]="VendorQuot.qty" -->
    </ion-col>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Item Detailed Description</ion-label>
      <input type="date" class="Input-text-field textareaField" style=" display:inline-block;padding: 8px;">
      <!-- [(ngModel)]="VendorQuot.deliverydate" -->
    </ion-col>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Item Code</ion-label>
      <ion-input type="text" class="Input-text-field textareaField"></ion-input>
      <!-- [(ngModel)]="VendorQuot.qty" -->
    </ion-col>

    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">issues ID</ion-label>
      <input type="text" class="Input-text-field textareaField" style=" display:inline-block;padding: 8px;">
      <!-- [(ngModel)]="VendorQuot.deliverydate" -->
    </ion-col>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Current Qty</ion-label>
      <input type="text" class="Input-text-field textareaField" style=" display:inline-block;padding: 8px;">
      <!-- [(ngModel)]="VendorQuot.deliverydate" -->
    </ion-col>
    <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
      <ion-label class="plabel">Available Qty</ion-label>
      <!-- <select style="padding: 10px;" style="display:inline-block;padding: 8px;" -->
      <!-- class="Input-text-field textareaField"> -->
      <!-- <option>&lt;&lt; Select &gt;&gt;</option> -->
      <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
      <!-- </sele/ct> -->
      <input type="text" class="Input-text-field textareaField" style=" display:inline-block;padding: 8px;">

    </ion-col>
    <!-- <ion-col style="text-align: center;">
      <ion-button class="ion-color-primary" routerLink="/purchase-request" expand="block">New</ion-button>
    </ion-col> -->
    <ion-col style="text-align: center;">
      <ion-button class="ion-color-success" expand="block" (click)="Search()">
        <ion-icon style="color:white ;" name="search-outline"></ion-icon>
        Search
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid *ngIf="showsearch">
  <div>
    <ngx-datatable #secondTable class="material" [headerClass]="ngx-header" [limit]="50" [rows]="data1" [rowHeight]="50"
      [columns]="columns1" [columnMode]="'standard'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
      [sortType]="'multi'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
    </ngx-datatable>

  </div>
  <ion-row>
    <ion-col size="6">
      <ion-button color="primary" (click)="issue()">Issue</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="primary" (click)="close()">Close</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
