<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Material Issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Branch</ion-label>
          <select style="padding: 10px;" disabled=""
            style=" background-color: #d4d4d4!important; display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <option>&lt;&lt; Select &gt;&gt;</option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Mode</ion-label>
          <select style="padding: 10px;"
            style=" display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <option>&lt;&lt; Select &gt;&gt;</option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>


          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel" >MRS Code</ion-label>
          <ion-input style=" display:inline-block;padding: 8px;"
            type="text" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel" >From Date</ion-label>
          <ion-input  style="  display:inline-block;padding: 8px;"
            type="date" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel" >To Date</ion-label>
          <ion-input  style="  display:inline-block;padding: 8px;"
            type="date" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">Status</ion-label>
          <select style="padding: 10px;"
            style="display:inline-block;padding: 8px;"
            class="Input-text-field textareaField">
            <option>&lt;&lt; Select &gt;&gt;</option>
            <!-- <ion-option *ngFor="let items of Vendors_Item_uom" value="{{items.VAL}}">{{items.TEXT}}</ion-option> -->
          </select>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4" style="text-align: center;">
          <ion-button (click)="Submit()" class="ion-color-success" expand="block">
            <ion-icon style="color:white ;" name="search-outline"></ion-icon>
            Search
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-card>

  <ion-card *ngIf="showviewlist">
<p style="text-align:center;">no Records found</p>
  </ion-card>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>

