<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View to PO PDF File</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Branch</ion-label>
          <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
            [(ngModel)]="branch"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="plabel">PO Number</ion-label>
          <ion-input type="text" [(ngModel)]="prscode" class="Input-text-field textareaField"></ion-input>
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">From Date</ion-label>
          <ion-input type="date" class="form-control" [(ngModel)]="fromdate">      
          </ion-input>
         
        </ion-col>
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">To Date</ion-label>
          <ion-input type="date" class="form-control" [(ngModel)]="fromdate">
          </ion-input>
         
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" class="ion-color-success">Search
          </ion-button>
        </ion-col>
      </ion-row>
   
    </ion-grid>
  </ion-card>
  <p  id="ContentName" class="totalCount">Total Lead : </p>

  <ion-card>
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col-4>
          <ion-label class="card_header_text">View to PO PDF</ion-label>
        </ion-col-4>

        <ion-col-8 style="margin-left: 120px;">
          <ion-label class="card_header_text">PO56373813</ion-label>
          <!-- PO Reference NO -->
        </ion-col-8>
      </ion-row>
    </ion-card-header>
    <ion-label class="labelData-text"></ion-label>
    <ion-card-content>
      <ion-row>
        
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">

          <ion-label class="labelHead-text">PO Date :</ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
         <ion-label class="labelData-text"> </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">

          <ion-label class="labelHead-text">Vendor Name :</ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">PRS/Tendor Code :</ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Item Code :</ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Delivery Date : </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="labelData-text">  </ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
          <ion-label class="labelHead-text">Status : </ion-label>
        </ion-col>
          </ion-row>
     </ion-card-content>
  </ion-card>
</ion-content>