<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pending jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col> -->

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="branch"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>From Date</ion-label>
        <ion-input type="date" class="form-control" [(ngModel)]="fromdate">
          <!-- <ion-icon name="calendar" style="padding: 5px;"></ion-icon> -->
        </ion-input>
      </ion-col>
      <!-- (focusout)="pendateval()" -->
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>To Date</ion-label>
        <ion-input type="date" class="form-control" [(ngModel)]="todate">
          <!-- <ion-icon name="calendar" style="padding: 5px;"></ion-icon> -->
        </ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Status</ion-label>
        <select [(ngModel)]="Realease_status" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option value="Pending">Pending</option>
          <option value="Started">Started</option>
          <option value="New">New</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Code</ion-label>
        <!-- <div style="height:40px !important;background-color: aliceblue;"> -->
        <ion-row>
          <ion-col size-sm="10" size="10" size-md="10" size-lg="10" size-xl="10">
            <ion-searchbar [(ngModel)]="assetCode" type="text" debounce="500" (ionInput)="getItems($event)">
            </ion-searchbar>
            <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
              <ion-item *ngFor="let item of assetcode1" style="background-color: white !important;
                    color: gray !important;" (click)="adddata(item)">
                {{ item }}
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
            <ion-button style="--background:white; --background-hover:white" (click)="scanpendingasset()">
              <ion-icon slot="icon-only" name="barcode" color="danger"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- </div> -->
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset Category</ion-label>
        <select [(ngModel)]="category" class="form-control" style="width:100%" (change)="getsubCategory(category)">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of product; let i = index" [ngValue]="item.VAL">{{item.TEXT}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Asset SubCategory</ion-label>
        <select [(ngModel)]="subCategory" class="form-control" style="width:100%">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let item of subCategoryresp; let i = index" [ngValue]="item.SUB_CATEGORY_ID">
            {{item.SUB_CATEGORY_DESC}}
          </option>
        </select>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>PMJobs</ion-label>
        <select [(ngModel)]="jobs" class="form-control" (change)="requestedJobs()">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option value="MT">PM Jobs</option>
          <option value="AT">Requested Jobs</option>
        </select>
      </ion-col>


    </ion-row>
    <ion-row>

      <ion-col size="12">
        <ion-button (click)="requestedJobs()" expand="block" class="ion-color-success">Search
        </ion-button>
      </ion-col>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
      </ion-col>
    </ion-row>
    <p class="totalCount">Total Lead : {{responseDatalength}}</p>

    <ion-card *ngFor="let item1 of responseData; let i = index">
      <ion-card-header class="card_header">
        <ion-row>
          <ion-col>
            <ion-label class="card_header_text">{{item1.pmm_asset_code}} - {{item1.WorkorderNo}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label class="card_header_text">{{item1.Branch}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-label class="labelData-text"> </ion-label>
      <ion-card-content>
        <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">

            <ion-label class="labelHead-text"> Asset Category</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              <ion-label class="labelData-text">{{item1.Category}} </ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">

            <ion-label class="labelHead-text">  Sub Category</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
           <ion-label class="labelData-text"> {{item1.AssetType}} </ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">

            <ion-label class="labelHead-text">   Status</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            {{item1.Realease_status}} <ion-label class="labelData-text">  {{item1.Realease_status}} </ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
            <ion-label class="labelHead-text">   Assigned</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelData-text"> {{item1.TUM_USER_NAME}}  </ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
            <ion-label class="labelHead-text">   Criticality</ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
             <ion-label class="labelData-text"> {{item1.Criticality}}  </ion-label>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <a (click)="showmore(i)">
              <!-- <a ng-click="showmore(i,items.CALL_ID)"> -->

              <i id="imageidvalsp{{0+i}}" class="fa fa-angle-double-down" aria-hidden="true"
                style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 3px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right"></i>
            </a>
          </ion-col>
          <div id="dividvalsp{{0+i}}" style="display:none;" size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
            <ion-row>
              <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4" style="font-weight:bold;">
                <ion-label class="labelHead-text">   Asset Description</ion-label>
              </ion-col>
              <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="6">
                 <ion-label class="labelData-text"> {{item1.pmm_asset_desc}} </ion-label>
              </ion-col>
              <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
                <ion-label class="labelHead-text">   Activity Description</ion-label>
              </ion-col>
              <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="6">
                 <ion-label class="labelData-text"> {{item1.amd_activity_desc}}  </ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">

                <ion-label style="font-weight:bold;display: block;">   Frequency</ion-label>
                <ion-label class="labelData-text">  {{item1.amd_frequency}}   </ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label style="font-weight:bold;display: block;">   Due Date</ion-label>
                 <ion-label class="labelData-text">  {{item1.pm_due_date}}   </ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="font-weight:bold;">
             <ion-label class="labelHead-text">      Department</ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelData-text">   {{item1.Department}}  </ion-label>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
                <a (click)="showless(i)"><i class="fa fa-angle-double-up" aria-hidden="true"
                    style="font-size: 21px;background: #607d8b;color: white;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 1px;position: relative;bottom: 4px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.3);float:right;"></i></a>

              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-button (click)="startwork(item1.WorkorderNo,item1.pm_due_date,item1)" class="ion-color-success" expand="block" [disabled]="item1.Realease_status != 'New'">Start
                </ion-button>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-button (click)="pendingtab(item1)" style="--background:#009689" size="full"
                  [disabled]="item1.Realease_status === 'New'">Complete
                </ion-button>
              </ion-col>

            </ion-row>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>

<!-- kjlflkwrjglwirtjcliwjt -->

  </ion-grid>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
