<ion-header>
  <div id="background-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color:#EEC20C;"></ion-menu-button>
   </ion-buttons>
    <ion-title>Dashboard </ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>

</ion-content>

  <!-- <ion-footer [hidden]="logoutbtn" style="padding: 14px;">
    <div style="float:left;font-size:14px;color:#fff">Next iTechnologies </div>
    <div style="float: right;font-size:14px;color:#fff">{{user_name}}</div>
  </ion-footer> -->

