<ion-content>
  <ion-header class="bar-stable">
    <ion-toolbar>
      <ion-row>
        <ion-col size="6" >
          <ion-label class="tool-barHeaderText">Education Details</ion-label>
        </ion-col>
        <ion-col size="6" style="text-align: end;">
          <ion-label  (click)="closemodel()" class="toolbar-HdrCnclText">Cancel</ion-label>
        </ion-col>
      </ion-row>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="applicantcard">

      <br />
      <ion-card-content>
        <ion-row>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>Category<span class="validatecolor">*</span></ion-label>
            <select id="selectbutton" [(ngModel)]="category" class="form-control">
              <option value="">&lt;&lt; Select &gt;&gt; </option>
              <option *ngFor="let item of hrmedudetaiscat" [ngValue]="item.VAL">{{item.TEXT}}</option>
            </select>
          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>Spcelization<span class="validatecolor">*</span></ion-label>
            <ion-input class="form-control" [(ngModel)]="specialization"></ion-input>
          </ion-col>
          <!-- <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>From<span class="validatecolor">*</span></ion-label>
            <ion-input type="date" class="form-control" [(ngModel)]="fromdate"></ion-input>

          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>To<span class="validatecolor">*</span></ion-label>
            <ion-input type="date" max="{{dat_valid.currentDate | date: 'yyyy-mm-dd'}}" class="form-control"
              [(ngModel)]="toDate"></ion-input>

          </ion-col> -->

          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>From<span class="validatecolor">*</span></ion-label>
            <ion-input type="date" class="form-control" [(ngModel)]="fromdate"></ion-input>

          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>To<span class="validatecolor">*</span></ion-label>
            <ion-input type="date" max="{{dat_valid.currentDate | date: 'yyyy-mm-dd'}}" class="form-control"
              [(ngModel)]="toDate"></ion-input>

          </ion-col>




          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>Institution<span class="validatecolor">*</span></ion-label>
            <ion-input class="form-control" [(ngModel)]="institution"></ion-input>
          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>Percentage(%) <span class="validatecolor">*</span></ion-label>
            <ion-input type="number" class="form-control" [(ngModel)]="percentage"></ion-input>
          </ion-col>
          <ion-col *ngIf="educationID==undefined" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-label>Remarks</ion-label>
            <ion-textarea class="form-control" [(ngModel)]="remarks"></ion-textarea>
            <span *ngIf="remarks!=undefined" class="customCounter ">{{200-remarks.length}}</span>
            <span *ngIf="remarks!=undefined && remarks.length > 200" style="color:red;">Details Exceeds</span>
          </ion-col>
        </ion-row>



      <ion-row>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-button color="success" expand="block"
            [disabled]="category=='' || specialization == undefined || fromdate==undefined || toDate==undefined || institution==undefined || percentage==undefined"
            (click)="addEducationModal()">Save</ion-button>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let item of educationdetails;let i=index">

      <ion-row>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.catname}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <span (click)="editItemf1(item,i)" style="color: white;font-size: 18px;font-weight: 500;float:right;">
            <ion-icon name="create" id="iconUpdate"></ion-icon>
          </span>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label>Specialization</ion-label>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_education}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label>From</ion-label>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_period_from | date:'dd-MM-yyyy'}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label>To</ion-label>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_period_to | date:'dd-MM-yyyy'}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label>Institution</ion-label>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_institution}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label>Percentage(%</ion-label>
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_percentage}}
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          Remarks
        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          {{item.aed_remarks}}
        </ion-col>
      </ion-row>
    
  
  </ion-card>
</ion-content>