ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
.toolbar-HdrCnclText {
  color: #fff !important;
  text-align: end;
  padding: 10px;
}