.commontextpage {
    text-align: center;
    position: relative;
    top: 50%;
  }
  ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }
  // ion-content {
  //   --background: url('../../../assets/images/tpbackground.png') repeat !important;
  //   position: relative;
  // }
ion-item{
  border: 0px !important;
}
