<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asset Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p class="commontextpage">Asset Details Page</p> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col> -->

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Branch</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="branch"></ion-input>
      </ion-col>

      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label class="ContentName">Asset Code</ion-label>
        <ion-row>
          <ion-col size-sm="10" size="10" size-md="10" size-lg="10" size-xl="10">
            <ion-searchbar [(ngModel)]="assetcode" type="text" debounce="500" (ionInput)="getItems($event)">
            </ion-searchbar>
            <ion-list *ngIf="isItemAvailable" class="searchlist" style="margin: 0px;
            padding: 0px;"  [ngStyle]="{'height':assetcode1.length >0 ?'100px':'0px'}">
              <ion-item *ngFor="let item of assetcode1" style="--background: white !important;margin: 0px;
              padding: 0px;" (click)="processasset(item)">
                {{ item }}
              </ion-item>
            </ion-list>
          </ion-col>

<!-- <ion-col  size-sm="10" size="10" size-md="10" size-lg="10" size-xl="10">
  <ion-item class="Input_field">
    <ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-label>
    <ion-input type="text" class="form-controll" placeholder="Last Name" name="lastname"></ion-input>
  </ion-item>
</ion-col> -->
          <ion-col size-sm="2" size="2" size-md="2" size-lg="2" size-xl="2">
            <ion-button style="--background:white; --background-hover:white" (click)="scancoderecon()">
              <ion-icon slot="icon-only" name="barcode" color="danger"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-card *ngFor="let item1 of details1; let i = index" style="background-color:#fff">
      <ion-card-header class="card_header">
        <ion-row>
          <ion-col size="5">
            <ion-label class="card_header_text" *ngIf="item1.ASSET_DESCRIPTION">{{item1.ASSET_DESCRIPTION}}</ion-label>
            <ion-label class="card_header_text" *ngIf="!item1.ASSET_DESCRIPTION">--</ion-label>
          </ion-col>
          <ion-col size="7">
            {{item1.ASSET_CODE}}
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Category</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.cnme'>{{item1.cnme}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.cnme'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Subcategory</ion-label>
            <ion-label class="labelData-text"
              *ngIf="item1.SUB_CATEGORY_DESC">{{item1.SUB_CATEGORY_DESC}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf="!item1.SUB_CATEGORY_DESC">--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Value</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.ASSET_VALUE'>{{item1.ASSET_VALUE}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.ASSET_VALUE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Current User</ion-label>
            <ion-label class="labelData-text"
              *ngIf="item1.TUM_USER_CODE">{{item1.TUM_USER_CODE}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf="!item1.TUM_USER_CODE">--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Brand</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.ASSET_BRAND'>{{item1.ASSET_BRAND}}</ion-label>
            <ion-label class="labelData-text" *ngIf='!item1.ASSET_BRAND'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Model</ion-label>
            <ion-label class="labelData-text"
              *ngIf="item1.TYPE">{{item1.TYPE}}</ion-label>
            <ion-label class="labelData-text" *ngIf="!item1.TYPE">--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Incharge</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.TUM_USER_NAME'>{{item1.TUM_USER_NAME}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf='!item1.TUM_USER_NAME'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Department</ion-label>
            <ion-label class="labelData-text">{{departmentreqdd}}</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Purchase Date</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.ASSET_PURCHASE_DATE'>{{item1.ASSET_PURCHASE_DATE | date:'dd-MM-yyyy'}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf='!item1.ASSET_PURCHASE_DATE'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <ion-label class="labelHead-text">Warranty Upto</ion-label>
            <ion-label class="labelData-text"
              *ngIf='item1.ASSET_WARRANTY_TILL'>{{item1.ASSET_WARRANTY_TILL | date:'dd-MM-yyyy'}}</ion-label>
            <ion-label class="labelData-text"
              *ngIf='!item1.ASSET_WARRANTY_TILL'>--</ion-label>
          </ion-col>

          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <a (click)="showmore(i)">

              <i id="imageidvalsp{{0+i}}" class="fas fa-chevron-circle-down" aria-hidden="true"
              style="font-size: 24px;color: #000;padding-left: 4.5em;"></i>
              </a>
          </ion-col>
          <div id="dividvalsp{{0+i}}" style="display:none; padding:5px;" size-sm="2" size="2" size-md="2" size-lg="2"
            size-xl="2">
            <ion-row>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Manufacturer</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.CAMS_ASSET_MANUFACTURER'>{{item1.CAMS_ASSET_MANUFACTURER}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.CAMS_ASSET_MANUFACTURER'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Residual Value</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_RESIDUAL_VALUE'>{{item1.ASSET_RESIDUAL_VALUE}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_RESIDUAL_VALUE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Depreciation Type</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DEPRECIATION_TYPE'>{{deprciationtype}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_DEPRECIATION_TYPE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Depreciation Percentage</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DEPRECIATION_PERCENTAGE'>{{item1.ASSET_DEPRECIATION_PERCENTAGE}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_DEPRECIATION_PERCENTAGE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Installation Date</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_INSTALLATION_DATE'>{{item1.ASSET_INSTALLATION_DATE | date:'dd-MM-yyyy'}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_INSTALLATION_DATE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Installed By</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_INSTALLED_BY'>{{item1.ASSET_INSTALLED_BY}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_INSTALLED_BY'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Certificate Issued</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_CERTIFICATE_ISSUED==="Y"'>YES</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_CERTIFICATE_ISSUED==="N"'>NO</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_CERTIFICATE_ISSUED'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Working Condition</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_WORKING_CONDITION==="Y"'>YES</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_WORKING_CONDITION==="N"'>NO</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_WORKING_CONDITION'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Asset Mode</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_MODE===1'>Own</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_MODE===3'>Lease</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_MODE'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">

              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">Remarks</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='item1.ASSET_DESCRIPTION'>{{item1.ASSET_DESCRIPTION}}</ion-label>
                <ion-label class="labelData-text"
                  *ngIf='!item1.ASSET_DESCRIPTION'>--</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-label class="labelHead-text">IMAGE</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              </ion-col>

              <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12"
                style="overflow:auto;display:flex;">
                <ion-label style="margin-right:10px;" *ngIf="icheck">
                  <img src="https://demo.herbieai.com/ssg/Uploaddocu/SSTPL/{{icheck}}"
                    style="width:150px;height:150px;" />
                </ion-label>
                <ion-label style="font-size: 14px!important;" *ngIf="!icheck">No Image Found</ion-label>
              </ion-col>

              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                <ion-icon style="font-size:28px;position: relative;left:50%" (click)="Attachdocument()" name="camera" >
                <img src="{{this.imgURL }}">
                </ion-icon>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">

              </ion-col>

              <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
                <ion-row>
                  <ion-col *ngFor="let image of Images; let i = index" size-sm="3" size="3" size-md="3" size-lg="3"
                    size-xl="3">
                    <ion-icon name="close-circle-outline" class="closebtn" (click)="DeleteImage(i)"></ion-icon>
                    <img [src]="sanitizer.bypassSecurityTrustUrl(image)" />
                  </ion-col>
                </ion-row>
              </ion-col>


              <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
                <ion-row>
                  <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4"></ion-col>
                  <ion-col size="12">
                    <ion-button (click)="updateassetdetails()" class="ion-color-success" expand="block" style="color: fff;">
                      Update
                    </ion-button>
                  </ion-col>
                  <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4"></ion-col>
                </ion-row>
              </ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6"></ion-col>
              <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
                <a (click)="showless(i)"><i class="fas fa-chevron-circle-up" aria-hidden="true"
                    style="font-size: 24px;color: #000;border-radius: 50%;width: 26px;height: 26px;text-align: center;padding-top: 1px;position: relative;bottom: 4px;
                    left: 6.5rem;"></i></a>

              </ion-col>

            </ion-row>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- <div *ngIf="showmap">
      <div class="" id="showdivs">
        <div class="container">
          <div id="mapshowimage12" style="width:100%;height:400px;">
          </div>
        </div>
      </div>
    </div> -->
  </ion-grid>

</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
