<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="!disabledvalue"> </ion-menu-button>
        <ion-back-button *ngIf="disabledvalue" [text]="buttonText" [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
      <ion-title>Loan Request</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid style="border-radius: 5px;">
    <ion-row>
      <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <ion-label>Function<span class="validatecolor">*</span></ion-label>
        <ion-input style="background-color: white;
                color: black;" class="form-control" [(ngModel)]="company"></ion-input>
      </ion-col> -->
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Employee Code</ion-label>
        <ion-input style="background-color: white;
                    color: black;" class="form-control" [(ngModel)]="branch"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Employee Name</ion-label>
        <ion-input style="background-color: white;
                        color: black;" class="form-control" [(ngModel)]="name"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Designation</ion-label>
        <ion-input style="background-color: white;
                            color: black;" class="form-control" [(ngModel)]="designation"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Department</ion-label>
        <ion-input style="background-color: white;
                                color: black;" class="form-control" [(ngModel)]="department"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Request Reference</ion-label>
        <ion-input class="form-control" [(ngModel)]="loanreqno"></ion-input>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Request Type</ion-label>
        <select id="selectbutton" class="form-control" [(ngModel)]="reqtype">
          <option class="ContentName" value="">&lt;&lt; Select &gt;&gt;</option>
          <option class="ContentName" value="1">Loan
          </option>
          <option class="ContentName" value="2">Advance</option>
        </select>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Loan Scheme</ion-label>
        <select id="selectbutton" class="form-control" (ionChange)="changescheme(loanScheme)" [(ngModel)]="loanScheme">
          <option class="ContentName" value="">&lt;&lt; Select &gt;&gt; </option>
          <option class="ContentName" *ngFor="let item of schemes" [value]="item.scheme_id">{{item.scheme_desc}}
          </option>
        </select>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Loan Name</ion-label>
        <ion-input class="form-control" [(ngModel)]="loanname"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Max Installments</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="maxinstallment"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Loan Code</ion-label>
        <ion-input class="form-control" [(ngModel)]="loancode"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Max Eligibility</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="maxligiblity"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">In Rate</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="intrate"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Loan Amount</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="loanamount"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Current Eligibility</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="cureligiblity"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='1'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Emi Amount</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="emiamount"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='2'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Amount</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="advamount"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='2'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">No Of Installments</ion-label>
        <ion-input type="number" class="form-control" (change)="getadvanceemi()" [(ngModel)]="installments"></ion-input>
      </ion-col>
      <ion-col *ngIf="reqtype==='2'" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Monthly Deduction</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="mondeduct"></ion-input>
      </ion-col>
    </ion-row>

    <!-- suneel refered from letter request page (hrm app) -->
    <ion-row>
      <ion-col size="6">
        <div style="padding: 12px;display: flex;">
          <ion-checkbox class="checkboxbg" [(ngModel)]="release" [value]="true"></ion-checkbox> &nbsp; &nbsp;
          <ion-label class="ContentName">Release</ion-label>
        </div>
      </ion-col>
      <ion-col size="6">
        <div style="padding: 12px;display: flex;">

          <ion-label class="ContentName">Current Status : <span *ngIf="release===false">New</span><span
              *ngIf="release===true">Pending</span>
          </ion-label>
        </div>
      </ion-col>

    </ion-row>
    <!-- close -->
    <ion-row>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">

        <ion-button class="ion-color-success" expand="block" (click)="loanSubmit()">SAVE</ion-button>
      </ion-col>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">

        <ion-button class="ion-color-danger" expand="block" (click)="cancelLoan()">Cancel</ion-button>
      </ion-col>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">

        <ion-button color="primary" expand="block" (click)="loanList()">List</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>
