<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>My Attendance</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="displayEmployee!=undefined">
    <ion-grid>
      <ion-row style="text-align:center">
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
              <strong style="color:#2e3192;">{{displayEmployee.EmployeeCode}} -- {{displayEmployee.FirstName}} {{displayEmployee.LastName}}</strong>
              <p>{{displayEmployee.Designation}}</p>
              <p>{{displayEmployee.Department}}</p>
      </ion-col>


      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid style="background-color: #f8f8f8;">
    <ion-row>
        <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
<ion-select [(ngModel)]="yeardata" style="display: flex;">
<ion-select-option class="ContentName" value="">Year</ion-select-option>
<ion-select-option *ngFor="let item of year" [value]="item.VALUE">{{item.TEXT}}</ion-select-option>
</ion-select>
</ion-col>
<ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
    <ion-select [(ngModel)]="monthdata" style="display: flex;">
    <ion-select-option class="ContentName" value="">Month</ion-select-option>
    <ion-select-option *ngFor="let item of month" [value]="item.VALUE">{{item.TEXT}}</ion-select-option>
    </ion-select>
    </ion-col>
    <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
      <ion-button class="ContentName" style="--box-shadow:none;color: black;--background: transparent;" (click)="getAttendance()">Search</ion-button>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-card-header>



<ion-card-content>
  <!-- <p *ngIf="loading" style="text-align: center;">Please Wait..</p> -->
  <div *ngIf="attendanceList&&attendanceList.length!=0">
  <ion-grid>
  <ion-row style="text-align:center">
  <ion-col size-sm="5" size="5" size-md="5" size-lg="5" size-xl="5">
      <b><i class="icon ion-android-calendar"></i> <span style="font-size: 13px;letter-spacing: 1px;">Date</span></b>
    </ion-col>
    <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
        <b><i class="icon ion-clock"></i><span style="font-size: 13px;letter-spacing: 1px;"> In Time</span></b>
      </ion-col>
      <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
          <b><i class="icon ion-clock"></i> <span style="font-size: 13px;letter-spacing: 1px;">Out Time</span></b>
        </ion-col>
  </ion-row>

  <ion-row style="text-align:center" *ngFor="let item of attendanceList">
      <ion-col size-sm="5" size="5" size-md="5" size-lg="5" size-xl="5">
          <p>{{item.TxnDate| date:'dd-MMM-yyyy'}}</p>
        </ion-col>
        <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
          <p>  {{item.InTime}}</p>
          </ion-col>
          <ion-col size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
        <p>      {{item.OutTime}}</p>
            </ion-col>
    </ion-row>
  </ion-grid>
</div>
  </ion-card-content>
  </ion-card>
  <ion-row style="text-align:center" *ngIf="(!attendanceList&&attendanceList.length==0)||nodata">
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <p>No data found</p>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>

  <ion-row>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
    © SunSmart Global Inc
  </ion-col>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
   {{username}}
 </ion-col>
  </ion-row>


 </ion-footer>
