.filtericon{
  background-color: #eff4fa !important;
  color: #000;
}
ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
.button.button-native{
  border-radius: 10px !important;
}
