@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

ion-content {
    --background: url('../../../assets/images/tpbackground.png') repeat !important;
    position: relative;
  }
// .card_header {
//     background-color: #019ADE !important;
//     color: white !important;
//     font-family: "Poppins";
 
// }
// .card_left_text {
//     font-family: "Poppins";
//     color: black;
//     font-weight: 600 !important;
// }
// .card_header_text {
//     color: white !important;
//     // font-weight: 600;
// }
.card_header_link_text {
    color: white !important;
    font-size: 16px;
}

.probDetails{
    ion-button{
        // max-width:fit-content;
    }
}
.sc-ion-searchbar-ios-h {
    padding: 0px !important;
    height: 36px !important;
    border-radius: 10px !important;
}