@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.card_heder{
    background-image: url('../../../assets/images/loginBackground.png');
    color: white !important;
    text-align: center;
    font-family: 'Poppins';
};
.card_left_text{
    font-family: 'Poppins';
    color: black;
}