<ion-header>

  <ion-toolbar style="box-shadow: 4px 2px 4px 2px grey !important;margin-top: 1px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PMS CUSTOMER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="top-header">

    <ion-col size="4" style="margin-left: 15px;">
      <ion-button expand="block" size="small" (click)="togglefilter()"> Filter &nbsp;&nbsp;<ion-icon name="filter">
        </ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="1"></ion-col>

    <ion-col size="6" style="display: flex;" class="probDetails">
      <ion-button class="ion-color-success" expand="block" size="small" (click)="createModal()">Create Your Issue
      </ion-button>
    </ion-col>

    <ion-col size="1"></ion-col>

  </ion-row>

  <ion-card *ngIf="showfilter">

    <ion-card-content>
      <ion-row>

        <ion-col size="12">
          <!-- <ion-label class="ContentName">Branch :</ion-label> -->
          <!-- <ion-col size="12"> -->
            <ion-label>Branch <span style="color:red;">*</span></ion-label>
            <select id="selectbutton" [(ngModel)]="branch" class="form-control"
              (change)="BranchLocationdata(branch)">
              <option disabled>&lt;&lt; Select &gt;&gt;</option>
              <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">
                {{branch.BRANCH_DESC}}
              </option>
            </select>
        </ion-col>

        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <!-- <ion-label class="ContentName">Location :</ion-label> -->
          <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
            <ion-label>Branch Location</ion-label>
            <select id="selectbutton" [(ngModel)]="branchlocation" class="form-control" (change)="getLocationdata(branchlocation)">
              <option>&lt;&lt; Select &gt;&gt;</option>
              <option *ngFor="let location of branchlocationlist; let i = index" [ngValue]="location.BRANCH_ID">
                {{location.BRANCH_DESC}}</option>
            </select>
          </ion-col>
        </ion-col>


        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>Property Code</ion-label>
          <ion-searchbar [(ngModel)]="propertycode" type="text" debounce="500" (ionInput)="getPropertyCode($event)">
          </ion-searchbar>
          <ion-list *ngIf="isPropertycodeAvailable" class="searchlist" style="height: 100px;">
            <ion-item *ngFor="let item of propertyCode1" (click)="addPropertycode(item)"
              style="background:none !important;color:#444 !important;display: block;">
              <ion-label> {{item.property_code}}</ion-label>
              <ion-label> - {{item.property_desc}} </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>


        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Property Description :</ion-label>

          <ion-input style="background-color: #d4d4d4!important;" class="form-control" [(ngModel)]="this.propertyDesc" animated="true"
            [disabled]="true"></ion-input>
        </ion-col>
        
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">Unique Refference :</ion-label>
          <!-- <ion-input class="form-control"></ion-input>  -->
          <ion-searchbar placeholder="Search..." class="form-control" [(ngModel)]="uniqueRef" animated="true">
          </ion-searchbar>
          <ion-list *ngIf="isItemAvailable" class="searchlist" style="height: 100px !important;">
            <ion-item (click)="rentalCodE(data)" *ngFor="let data of uniqueRef | filter:filterTerm">
              <ion-label>{{data.id}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>


        <ion-col size="12">
          <ion-button class="ion-color-success" (click)="getItems(data)" expand="block">SEARCH</ion-button>
        </ion-col>


      </ion-row>
    </ion-card-content>
  </ion-card>

  <p style="text-align: center;font-weight: bold; margin: 30px;color: black;"> Total Count : {{showdata}}</p>

  <ion-card *ngFor="let items of propertyCodeResult; let i = index">
    <ion-card-header class="card_header">
      <ion-row>
        <ion-col size="7">
          <ion-label class="card_header_text">Property Details</ion-label>
        </ion-col>

        <ion-col size="5">
          <ion-label class="card_header_text"> #{{items.ROW_NUM}}</ion-label>
        </ion-col>
      </ion-row>


    </ion-card-header>
    <ion-card-content class="card_content">

      <ion-row>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Branch </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.branch_id}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Location </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.Location}} </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property Code </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.property_code}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Building Name </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: Muthusamy</ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property Description </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.property_desc}}</ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property Type </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.Category}}</ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Total Floors </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label>:  14 </ion-label>
        </ion-col> 

         <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property On Floors </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label>:  4 </ion-label>
        </ion-col> 

         <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Corporate Area (Sq.ft) </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label>:  2000 </ion-label>
        </ion-col> 

       <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Responsible Person </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label>: Suriya </ion-label>
        </ion-col> 

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Customer Name </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.CustomerName}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Agreement Start Date</ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.start_date}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Agreement End Date </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.end_date}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Property Status </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.status}} </ion-label>
        </ion-col>

        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Rent Type </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label class="labelData-text">: {{items.rent_type}} </ion-label>
        </ion-col>


        <ion-col size="6" class="col_height">
          <ion-label class="labelHead-text">Rent Amount </ion-label>
        </ion-col>
        <ion-col size="6" class="col_height">
          <ion-label>: 9000 </ion-label>
        </ion-col>

        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="viewModal()" style="margin: auto;">View Status</ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>

      </ion-row>
    </ion-card-content>

  </ion-card>



</ion-content>






  <ion-footer>
    <ion-row>
      <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
        © SunSmart Global Inc
      </ion-col>
      <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
        {{username}}
      </ion-col>
    </ion-row>


  </ion-footer>
