@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.card_heder {
    background-color: #019ADE !important;
    color: white !important;
    font-family: "Poppins";
 
}
.card_left_text {
    font-family: "Poppins";
    color: black;
    font-weight: 600 !important;
}
.card_header_text {
    color: white !important;
}
.card_header_link_text {
    color: white !important;
    font-size: 18px;
}
.card_header_link_text {
    a {
        background-color: transparent;
        color: white;
        text-decoration: underline;
    }
}
