ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}

.alert-button-group.sc-ion-alert-md {
  justify-content: space-around !important;
}
.st-3{
  border-bottom: 0px; border-top: 0px; border-left: 0px; border-right: 0px;padding: 11px;
}