.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.logoutbtn {
    display: none !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.item .item-input {
    background-color: transparent !important;
}
ion-item {
    --highlight-color-focused: #fff !important;

    // color: black;
}

.ion-inputcolor {
    --highlight-color-focused: #fff !important;
    --highlight-background: #fff !important;
    --highlight-color-valid: #fff !important;
    --caret-color: #fff !important;
    caret-color: #fff !important;
}
// .item-interactive.ion-valid{
//     --highlight-background: rgb(21, 2, 197) !important;
//     --highlight-color-valid:#fff !important;

// }
.userinput{

    caret-color: #000 !important;

}

ion-item#loginInput {
    --highlight-background: #fffcfc !important;
}
// :host(.item-interactive.ion-valid) {
//     --highlight-background: #fff;
// }
:host(.item-interactive.ion-valid) {
    --highlight-background: #fff !important;
}

ion-input {
    padding: 0px !important;
}

ion-icon {
    color: black;
    margin-right: 5px;
}

.btncolor {
    background-color: #24d924;
    width: 250px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

//   .custom {
//     --border-top-left-radius: 10px;
//     --border-top-right-radius: 10px;
//     --border-bottom-left-radius: 10px;
//     --border-bottom-right-radius: 10px;

//     --border-radius:
//       var(--border-top-left-radius)
//       var(--border-top-right-radius)
//       var(--border-bottom-right-radius)
//       var(--border-bottom-left-radius);
//   }
#background-content {
    //  background-image: url(../../../assets/images/Loginbg.png) !important;
    background-image: url(../../../assets/images/loginBackground.png);
    height: 325px;

}

ion-content {
    --background: url('../../../assets/images/loginallback.jpg') repeat !important;
    position: relative;
}

// .bgcontent{
//     background-color: #000000 !important;
// }

.titlecolor {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.loginform {
    background-color: white !important;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #888888;
    margin-top: 33%;
}

.ion-toolbar {
    font-size: 17px;
    text-align: center;
    background-color: transparent !important;
    color: #03035e;
}

.logintitle {
    padding: 21px;
    // margin-left: 36% !important;
    color: #0a0a58;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}

.titlecolor1 {
    // font-size: x-large;
    color: #EEC20C;
    font-size: 28px !important;
}

.titlecolor {
    font-size: 22x px !important;
    font-family: system-ui !important;

}

#h2 {
    font-size: 26px !important;
    color: #EEC20C;
}

.topheader {
    text-align: left !important;
    position: relative !important;
    top: 84px !important;
    left: 17px !important;
}

.loginbottom {
    background-color: white !important;
    border-color: white !important;
}

#loginInput {
    border-radius: 50px !important;
}

.ion-col.forgetpassword.md.hydrated {
    padding-left: 29% !important;
}

.loginbutton {
    border-radius: 50% !important;
    outline: none !important;
    width: 42%;
    z-index: -1 !important;
    padding-left: -2% !important;
    margin-bottom: -10%;
    /* margin-left: 35%; */
    /* bottom: 14px !important; */
    margin-left: 28%;
    height: 80px;
    padding-top: 20px;
}

.loginbottomimg {
    margin-top: 88.9%;
}

.checkbox {
    color: #000 !important;
    padding: 4px;
    margin: auto;
    vertical-align: top;
}

ion-footer {
    background-color: #fff;
    bottom: 0 !important;
    height: 40px;
    border-radius: 16px 16px 0 0 !important;
}

.borderlogin {
    color: #0a0a58 !important;
    text-align: center;
    // font-family: ui-sans-serif;
    font-size: 26px;
    font-weight: 600;
    // font-size: 17px;
    font-family: "Poppins";
}

// :host(.item-has-focus).item-native{
//     caret-color: rgb(43, 184, 74) !important;
// }
