<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Lead Corporate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Function</ion-label>
        <ion-input style="background-color: #d4d4d4!important;" class="form-control" [disabled]="true"
          [(ngModel)]="function"></ion-input>
      </ion-col> -->
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="branch" class="form-control" (change)="BranchLocationdata(branch)">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let branch of branchlist1; let i = index" [ngValue]="branch.BRANCH_ID">{{branch.BRANCH_DESC}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Branch Location</ion-label>
        <select [(ngModel)]="branchlocation" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let location of branchlocationlist; let i = index" [ngValue]="location.locationID">
            {{location.locationname}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Product <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="productdata" (change)="Getnextaction(productdata)" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let product of productdataarray; let i = index" [ngValue]="product.productID">
            {{product.productName}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Search Company <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-searchbar [(ngModel)]="company" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list *ngIf="isItemAvailable" class="searchlist">
          <ion-item *ngFor="let item of companyname1" (click)="adddata(item)"
            style="background:none !important;color:#444 !important">
            {{ item }}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="old_company == 'true'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Contact Name<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="ContactName" (change)="Getnumber(ContactName)" class="form-control">
          <option value="<<Select>>">&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let contact of contact1; let i = index" [ngValue]="contact.contactName">
            {{contact.contactName}}</option>
        </select>
      </ion-col>
      <ion-col *ngIf="old_company == 'true'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Mobile Number<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <!-- <ion-input type="tel" (keyup)="mobilenumbervalid(mobile)" class="form-control" [(ngModel)]="mobile"></ion-input> -->
        <ion-input type="number" class="form-control" pattern="[0-9]*" onKeyPress="if(this.value.length==10) return false;"
          [(ngModel)]="mobile" minlength="10" maxlength="15" #umobile="ngModel"></ion-input>
        <div *ngIf="umobile.errors?.minlength || umobile.errors?.maxlength">
          <p style="color:red;">valid mobile number required</p>s
        </div>


        <span *ngIf="validmobile">
          <span class="error">Mobile number should be 10 digits</span>
        </span>
      </ion-col>
      <ion-col *ngIf="old_company == 'true'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Office Number</ion-label>
        <ion-input type="tel" class="form-control" [(ngModel)]="OffPhone"  onKeyPress="if(this.value.length==13) return false;"></ion-input>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Address<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <textarea style="width:100%;height:auto;padding:8px;" [(ngModel)]="address" class="form-control"></textarea>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Pincode<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="pincode"></ion-input>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Contact Name<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="contactname"></ion-input>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Designation<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="designation"></ion-input>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Mobile Number<span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="number" minlength="10" maxlength="15" class="form-control" [(ngModel)]="mobile"></ion-input>

      </ion-col>
      <ion-col *ngIf="old_company == 'false'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Office Number</ion-label>
        <ion-input type="number" minlength="10" maxlength="15" class="form-control" [(ngModel)]="OffPhone"></ion-input>

      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Priority <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callpriority" class="form-control">

          <option *ngFor="let prioriy of callpriorityarray; let i = index" [ngValue]="prioriy.value">{{prioriy.text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Rating <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callrating" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let rating of callratingarray; let i = index" [ngValue]="rating.value">{{rating.text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Nature <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callnature" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let nature of callnaturearray; let i = index" [ngValue]="nature.value">{{nature.text}}
          </option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Stage <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="callstage" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let stage of callstagearray; let i = index" [ngValue]="stage.value">{{stage.text}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead Source</ion-label>
        <select [(ngModel)]="source" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let lead of leadsourcearray; let i = index" [ngValue]="lead.value">{{lead.text}}</option>
        </select>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Next Action <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="nextaction" class="form-control">
          <option>&lt;&lt; Select &gt;&gt;</option>
          <option *ngFor="let action of nextactionarray; let i = index" [ngValue]="action.val">{{action.text}}</option>
        </select>
      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Back Date <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="date" class="form-control" [(ngModel)]="followdate"></ion-input>
      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Time <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="Time" class="form-control" (change)="timeValidation($event.target.value)"
          [(ngModel)]="followtime"></ion-input>

      </ion-col>
      <ion-col *ngIf="nextaction=='1'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Place To Meet <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <textarea appNewcrop style="width:100%;height:auto;padding:8px;" [(ngModel)]="placetomeet" [options]='options'
          class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"></textarea>

      </ion-col>
      <ion-col [hidden]="showmap" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="4">
        <div>
          <ion-card style="--background: #fff;padding: 6px;">
            <div #map id="map"></div>
          </ion-card>
        </div>
      </ion-col>

      <ion-col *ngIf="nextaction=='2' || nextaction=='100'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Call Back Date <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="date" class="form-control" [(ngModel)]="followdate"></ion-input>
      </ion-col>
      <ion-col *ngIf="nextaction=='2' || nextaction=='100'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Time <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input type="time" class="form-control" (change)="timeValidation($event.target.value)"
          [(ngModel)]="followtime"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead By <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <select [(ngModel)]="leadby" class="form-control">
          <option value="">&lt;&lt; Select &gt;&gt;</option>
          <option value="S">Self</option>
          <option value="E">Employee</option>
          <option value="C">Customer</option>
          <option value="P">Partner</option>
        </select>
      </ion-col>
      <ion-col *ngIf="leadby=='E'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Employee ID <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="Employeeid"></ion-input>
      </ion-col>
      <ion-col *ngIf="leadby=='C'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Customer Name <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="custname"></ion-input>
      </ion-col>
      <ion-col *ngIf="leadby=='P'" size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Lead By Value <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-input class="form-control" [(ngModel)]="leadByval"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Exp. Closed Date</ion-label>
        <ion-input class="form-control" min="{{dat_valid.currentDate | date: 'yyyy-MM-dd'}}" date='dd/MM/yyyy'
          type="date" [(ngModel)]="expdate"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Expected Amount</ion-label>
        <ion-input class="form-control" type="number" [(ngModel)]="expectedAmount"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Attach Document</ion-label>
        <br />
        <i class="fa fa-paperclip" aria-hidden="true" style="font-size:28px;color:black;position: relative;left:50%"
          ios="ios-attach" md="md-attach" (click)="selectImage()"></i>
        <!-- <ion-icon style="font-size:28px;position: relative;left:50%" ios="ios-attach" md="md-attach" (click)="selectImage()"></ion-icon> -->
        <div style="display:none;word-break: break-all;">
          <input type="file" name="file" id="fileinput" />
        </div>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-row>
          <ion-col *ngFor="let image of Images; let i = index" size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
            <ion-icon name="close-circle-outline" class="closebtn" (click)="DeleteImage(i)"></ion-icon>
            <img [src]="sanitizer.bypassSecurityTrustUrl(image)" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Current Location</ion-label>

        <ion-textarea [(ngModel)]="currentlocation" style="height:auto !important" class="form-control"></ion-textarea>

      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label>Remarks <span style="color:red;margin-left: 5px;">*</span></ion-label>
        <ion-textarea [(ngModel)]="remarks" style="height:auto !important" class="form-control"></ion-textarea>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <ion-button (click)="Submitcorporate()" class="ion-color-success" expand="block">Submit</ion-button>
      </ion-col>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <ion-button (click)="Cancelcorporate()" color="danger" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
