#map{
  overflow:inherit !important;
  position: inherit !important;
  height: 250px;
  width: 100%;
}
ion-content {
  --background: url('../../../assets/images/tpbackground.png') repeat !important;
  position: relative;
}
ion-label {
  font-family: "Poppins";
  color: black;
  font-weight: 600 !important;
}

