<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Meetings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="4">
          <ion-label class="ContentName">From Date</ion-label>
          <ion-input placeholder="From Date" type="date" class="form-control" [(ngModel)]="fromdate">
            <ion-icon name="calendar" slot="end" style="padding: 5px;position: fixed;padding-left: 32%;"></ion-icon>
          </ion-input>
        </ion-col>

        <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label>From Date</ion-label>
          <ion-input type="date"  class="form-control"   [(ngModel)]="fromdate"></ion-input> -->

          <!-- <ion-datetime-button datetime="datetime"  ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ion-popover trigger="open-date-input" show-backdrop="false" [dismissOnSelect]="true">
            <ng-template>
              <ion-datetime id="datetime" [(ngModel)]="fromdate" #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
            </ng-template>
          </ion-popover>
          </ion-modal> -->
        <!-- </ion-col> -->

        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label>To Date</ion-label>
          <ion-input type="date" class="form-control" [(ngModel)]="todate">
            <ion-icon name="calendar" slot="end" style="padding: 5px;position: fixed;padding-left: 32%;"></ion-icon>
          </ion-input>
          

          <!-- <ion-datetime-button datetime="datetime"  ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ion-popover trigger="open-date-input" show-backdrop="false" [dismissOnSelect]="true">
            <ng-template>
              <ion-datetime id="datetime" [(ngModel)]="todate" #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
            </ng-template>
          </ion-popover>
          </ion-modal> -->

        </ion-col>
        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12" style="text-align:center">
          <!-- <ion-button (click)="Getmeetings(fromdate,todate)"  size="full">Search</ion-button> -->
          <button (click)="Getmeetings(fromdate,todate)" class="btn-info"
            style="background-color: rgb(2 154 222) !important;height: 2.8em;width:100% !important;font-size: 17px;"
            size="full">Search</button>

        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>



  <div style="text-align: center;margin-top: 50px;">
    <!-- <b class="totalCount">{{NoRecord}}</b> -->
    <b class="totalCount" *ngIf="showhidenorecords">No meetings found</b>
  </div>
  <div>




    <div *ngIf="!showhidenorecords">
      <div class="container">
        <div id="mapshowimage12" style="width:100%;height:400px;">
          <ion-card *ngFor="let item of allmeetinglocation">
            <ion-card-header class="card_header">
              <ion-row>
                <ion-col size="6">
                  <ion-label class="card_header_text">Meeting Details</ion-label>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Branch</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.BRANCH_DESC}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Customer Name</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.CustFullName}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Lead Id</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.LEAD_id}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Campaign</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.Campaign}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Closed Date</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.ClosedDate}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text">Created On</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.CreatedOn}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="card_content_label labelHead-text"> Location Description</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="labelData-text">:&nbsp;{{item.LOCATION_DESC}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>