<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Employee Directory</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 10px 0px;"><span style="font-size: 24px;margin: 10px ;color: black;" (click)="togglefilter()"><i
        class="fa fa-filter" aria-hidden="true"></i></span></div>
  <ion-grid *ngIf="showfilter" style="background: transparent;border-radius: 8px;">
    <ion-row>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Name</ion-label>

        <ion-input class="ContentName" placeholder="Enter Name" name="name" ngDefaultControl [(ngModel)]="name"
          class="employeefield"></ion-input>

      </ion-col>

      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Code</ion-label>

        <ion-input class="ContentName" placeholder="Enter Code" name="code" ngDefaultControl [(ngModel)]="code"
          class="employeefield"></ion-input>

      </ion-col>

      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName" position="stacked">Designation</ion-label>
        <select [(ngModel)]="designation"  class="form-control">
                    <option [ngValue]="null">Select Designation</option>
              <option *ngFor="let item of Designation" [ngValue]="item.VALUE">{{item.TEXT}}</option>
                </select>

        <!-- <ion-label class="ContentName" position="stacked">Designation</ion-label>
        <ion-item style="color:black;background:white!important">

          <ionic-selectable modalCssClass="hrmsmodal" item-content placeholder="Select Designation" name="designation"
            ngDefaultControl [(ngModel)]="designation" [itemValueField]="VALUE" itemTextField="TEXT"
            [items]="Designation" [canSearch]="true" [canClear]="true" (onSelect)="displaydetails($event)"
            class="employeefield">
          </ionic-selectable>

        </ion-item> -->
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName" position="stacked">Branch</ion-label>
        <select [(ngModel)]="branch"  class="form-control">
                      <option [ngValue]="null">Select Branch</option>
                      <option *ngFor="let item of Branch" [ngValue]="item.VALUE">{{item.TEXT}}</option>
                  </select>
        <!-- <ion-label class="ContentName" position="stacked">Branch</ion-label>
        <ion-item style="color:black;background:white!important">
          <ionic-selectable item-content placeholder="Select Branch" name="branch" ngDefaultControl [(ngModel)]="branch"
            [itemValueField]="VALUE" itemTextField="TEXT" [items]="Branch" [canSearch]="true" [canClear]="true"
            (onSelect)="displaydetails($event)" class="employeefield">

          </ionic-selectable>
        </ion-item> -->
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName" position="stacked">Department</ion-label>
        <select [(ngModel)]="department"  class="form-control">
                        <option [ngValue]="null">Select Department</option>
                        <option *ngFor="let item of Department" [ngValue]="item.VALUE">{{item.TEXT}}</option>
                    </select>

        <ion-label class="ContentName" position="stacked">Department</ion-label>
        <!-- <ion-item style="color:black;background:white!important">
          <ionic-selectable item-content placeholder="Select Department" name="department" ngDefaultControl
            [(ngModel)]="department" [itemValueField]="VALUE" itemTextField="TEXT" [items]="Department"
            [canSearch]="true" [canClear]="true" (onSelect)="displaydetails($event)" class="employeefield">
          </ionic-selectable>
        </ion-item> -->
      </ion-col>

      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-button class="ion-color-success" expand="block" (click)="employeeSearch()">Search</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="loading" class="totalCount">Please Wait..</p>

  <p *ngIf="totalemployee" class="totalCount"><b>Total Employee : {{totalemployee}}</b></p>

  <ion-card *ngFor="let item of displayEmployee">

    <ion-card-header class="card_header" style="padding: 5px !important;">
      <ion-row>
        <ion-col size="4">
          <ion-label class="card_header_text"> {{item.EmployeeCode}}</ion-label>
        </ion-col>

        <ion-col size="8">
          <ion-label class="card_header_text1">{{item.Name}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="card_content">
      <ion-row class="ion-justify-content-around">
        <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn">
            {{item.EmployeeCode}}
            </ion-col>
            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn" style="text-align:right;">
                {{item.Name}}
                </ion-col> -->
        <ion-col size-sm="2" size="4" size-md="2" size-lg="2" size-xl="2">
          <div *ngIf="item.Sex==='Male'">
            <img style="width: 100%;" class="avatar" src="assets/images/defaultMale.png ">
            <!-- <img  style="width: 50%;margin-left: 10px;" class="avatar" onerror="this.src='assets/Images/defaultMale.png'" src="{{item.profilePhoto}}"> -->

          </div>
          <div *ngIf="item.Sex==='Female'">
            <img style="width: 100%;" class="avatar" src="assets/images/defaultFemale.png">
            <!-- <img  style="width: 50%;margin-left: 10px;" class="avatar" onerror="this.src='assets/Images/defaultMale.png'" src="{{item.profilePhoto}}"> -->
          </div>
        </ion-col>
        <ion-col size="8" style="align-items: center;display: flex;padding-left: 56px;">
          <ion-label style="position: absolute;" class="card_content_label">Designation :</ion-label>
          <!-- <br /> -->
          <ion-label style="margin-bottom:  26px;" class="labelData-text">{{item.Designation}}</ion-label>
          <br>



        </ion-col>
        <ion-col style="padding-left: 52%;
        top: -60px;">
          <ion-label class="card_content_label labelHead-text">Department :</ion-label>
          <ion-label class="labelData-text">{{item.Department}}</ion-label>
        </ion-col>


      </ion-row>
      <ion-row style="
          margin-top: -41px;">
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">Branch :</ion-label>

          <ion-label class="labelData-text">{{item.branchtxt}}</ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">DOB :</ion-label>

          <ion-label class="labelData-text">{{item.DOB | date: 'dd-MM-yyyy'}}</ion-label>
        </ion-col>
        <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">Department :</ion-label>
          <ion-label class="labelData-text">{{item.Department}}</ion-label>
        </ion-col> -->
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text"><i class="icon ion-android-phone-portrait"></i> Mobile
          </ion-label>
          <ion-label *ngIf="item.Mobile!=0" class="labelData-text">{{item.Mobile}}</ion-label>
          <ion-label *ngIf="item.Mobile==0" class="labelData-text"></ion-label>
        </ion-col>

        <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">DOB :</ion-label>

          <ion-label class="labelData-text">{{item.DOB | date: 'dd-MM-yyyy'}}</ion-label>
        </ion-col> -->
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">DOJ :</ion-label>

          <ion-label class="labelData-text">{{item.DOJ | date: 'dd-MM-yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
          <ion-label class="card_content_label labelHead-text">Email ID :</ion-label>
          <!-- <br /> -->
          <ion-label class="labelData-text">{{item.Email}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text"><i class="icon ion-android-phone-portrait"></i> Mobile
          </ion-label>
          <ion-label *ngIf="item.Mobile!=0" class="labelData-text">{{item.Mobile}}</ion-label>
          <ion-label *ngIf="item.Mobile==0" class="labelData-text"></ion-label>
        </ion-col> -->
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text"><i class="icon ion-android-call"></i> Office
          </ion-label>
          <ion-label *ngIf="item.OffPhone!=0" class="labelData-text">{{item.OffPhone}}</ion-label>
          <ion-label *ngIf="item.OffPhone==0" class="labelData-text"></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text"><i class="icon ion-android-phone-portrait"></i>
            Attendance</ion-label>
          <ion-label class="labelData-text"></ion-label>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <ion-label class="card_content_label labelHead-text">Status :</ion-label>
          <ion-label class="labelData-text">{{item.Status}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of displayEmployee" style="display: none;">
    <ion-card-header class="dashboardhead" style="padding: 10px;">
      <ion-card-title style="color: white;font-size: 14px;font-weight: bold;">{{item.EmployeeCode}} <ion-label
          style="float: right;">{{item.Name}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding: 10px;">
      <ion-grid style="padding: 0;">
        <ion-row>
          <!-- <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn">
          {{item.EmployeeCode}}
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" class="leadscolumn" style="text-align:right;">
              {{item.Name}}
              </ion-col> -->
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <div *ngIf="item.Sex==='Male'">
              <img style="width: 50%;margin-left: 10px;" class="avatar" src="assets/images/defaultMale.png ">
              <!-- <img  style="width: 50%;margin-left: 10px;" class="avatar" onerror="this.src='assets/Images/defaultMale.png'" src="{{item.profilePhoto}}"> -->

            </div>
            <div *ngIf="item.Sex==='Female'">
              <img style="width: 50%;margin-left: 10px;" class="avatar" src="assets/images/defaultFemale.png">
              <!-- <img  style="width: 50%;margin-left: 10px;" class="avatar" onerror="this.src='assets/Images/defaultMale.png'" src="{{item.profilePhoto}}"> -->
            </div>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">Designation</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.Designation}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">Department</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.Department}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">Branch :</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.branchtxt}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">DOJ :</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.DOJ | date: 'dd-MM-yyyy'}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">DOB :</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.DOB | date: 'dd-MM-yyyy'}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text">Status :</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.Status}}</ion-label>
          </ion-col>
          <ion-col size-sm="8" size="8" size-md="8" size-lg="8" size-xl="8">
            <ion-label class="labelHead-text">Email ID :</ion-label>
            <br />
            <ion-label class="labelData-text">{{item.Email}}</ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text"><i class="icon ion-android-call"></i> Office</ion-label>
            <br />
            <ion-label *ngIf="item.OffPhone!==0" class="labelData-text">{{item.OffPhone}}</ion-label>
            <ion-label *ngIf="item.OffPhone===0" class="labelData-text"></ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text"><i class="icon ion-android-phone-portrait"></i> Mobile</ion-label>
            <br />
            <ion-label *ngIf="item.Mobile!==0" class="labelData-text">{{item.Mobile}}</ion-label>
            <ion-label *ngIf="item.Mobile===0" class="labelData-text"></ion-label>
          </ion-col>
          <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
            <ion-label class="labelHead-text"> <i class="icon ion-android-phone-portrait"></i> Attendance</ion-label>
            <br />
            <ion-label></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <p *ngIf="!displayEmployee&&displayEmployee.length === 0" style="text-align:center;"><b>No Data Found</b></p>

</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>
</ion-footer>
