

<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Pay Slip</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-grid style="background-color: #f8f8f8;">
  <ion-row>
      <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
<select class="st-4" [(ngModel)]="yeardata" style="display: flex;">
<option value="">Year</option>
<option *ngFor="let item of year" [value]="item.VALUE">{{item.TEXT}}</option>
</select>
</ion-col>
<ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
  <select class="st-4" [(ngModel)]="monthdata" style="display: flex;">
  <option value="">Month</option>
  <option *ngFor="let item of month" [value]="item.VALUE">{{item.TEXT}}</option>
  </select>
  </ion-col>
  <ion-col size-sm="4" size="4" size-md="4" size-lg="4" size-xl="4">
    <ion-button (click)="getPaySlip()" class="ContentName" style="--box-shadow:none;--background:transparent;color:black;">Search</ion-button>
      </ion-col>
  </ion-row>

</ion-grid>
</ion-card>
<ion-card *ngIf="this.empData.length !== 0">
  <ion-row style="margin: 9px;background: #efeeee;text-align:center;">
    <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
        <strong>Total Days</strong>
        <p>{{empData.TotalNoDays}}</p>
      </ion-col>
      <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
          <strong>Present Days</strong>
          <p>{{empData.PresentDays}}</p>
        </ion-col>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <strong>Ad hoc Leave</strong>
            <p>{{empData.AdhocLeave}}</p>
          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              <strong>Approved Leave</strong>
              <p>{{empData.ApprovedLeave}}</p>
            </ion-col>
      </ion-row>
</ion-card>

<ion-card *ngIf="this.paySlipEarnings.length !== 0">
  <ion-card-header style="padding: 0;">
    <ion-segment [(ngModel)]="segmentdata">
        <ion-segment-button value="earnings">
          <ion-label>Earnings</ion-label>
        </ion-segment-button>
        <ion-segment-button value="deduction">
          <ion-label>Deductions</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-card-header>
    <ion-card-content>
<div *ngIf="segmentdata==='earnings'">
    <!-- <h6>
        Earnings
    </h6> -->
    <ion-grid>
      <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              <strong>Description</strong>

            </ion-col>
            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                <strong>Amount</strong>

              </ion-col>


            </ion-row>
            <ion-row *ngFor="let item of paySlipEarnings">
                <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                    <strong>{{item.DESCRIPTIONS | json}}</strong>

                  </ion-col>
                  <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                      <strong>{{item.AMOUNT | json}}</strong>

                    </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                              <b>Total Amount</b>

                            </ion-col>
                            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                                <strong><b> {{totalEarnings|currency:" "}}</b></strong>

                              </ion-col>
                                </ion-row>
                        </ion-grid>

</div>
<div *ngIf="segmentdata==='deduction'">
    <!-- <ion-item>
        Deductions
      </ion-item> -->
      <ion-grid>
      <ion-row>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
              <strong>Description</strong>

            </ion-col>
            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                <strong>Amount</strong>

              </ion-col>


            </ion-row>
            <ion-row *ngFor="let item of paySlipDeduction">
                <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                    <strong>{{item.DESCRIPTIONS}}</strong>

                  </ion-col>
                  <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                      <strong>{{item.AMOUNT}}</strong>

                    </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
                              <b>Total Amount</b>

                            </ion-col>
                            <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
                                <strong><b> {{totalDeductions|currency:" "}}</b></strong>

                              </ion-col>
                                </ion-row>
                              </ion-grid>
</div>
</ion-card-content>
</ion-card>
<ion-card *ngIf="this.paySlipEarnings.length !== 0">
  <ion-card-content>
  <ion-grid>
    <ion-row>
        <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6">
            <b>Net Paid </b>

          </ion-col>
          <ion-col size-sm="6" size="6" size-md="6" size-lg="6" size-xl="6" style="text-align: center;">
              <b> {{totalEarnings - totalDeductions|currency:" "}}</b>

            </ion-col>
            <textarea *ngIf="totalEarnings!==undefined" rows="2 " style="text-transform:capitalize; text-transform: capitalize;width: 100%; text-align: end; border: none; resize: none; "> {{inWords(totalEarnings - totalDeductions)}}</textarea>

              </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
<p  style="text-align:center" *ngIf="!this.empData&&this.empData.length===0" class="norecord">No Record Found</p>
<p class="padding " style="margin-top:10px; "><b>{{error}}</b></p>
</ion-content>
<ion-footer>

  <ion-row>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
    © SunSmart Global Inc
  </ion-col>
  <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
   {{username}}
 </ion-col>
  </ion-row>
 </ion-footer>
