<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upload Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
<ion-card-content>
  <ion-grid style="border-radius: 5px;">
    <ion-row>
      <form  [formGroup]="invoiceform">
        <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
          <ion-label>PO Number</ion-label>
          <ion-searchbar [(ngModel)]="ponumber"  formControlName="pocode" type="text" debounce="500" (ionInput)="getinvoiceCode($event)">
          </ion-searchbar>
          <ion-list *ngIf="isPropertycodeAvailable" class="searchlist" style="height: 100px;">
            <ion-item *ngFor="let item of poinvoive_no" (click)="addponumbercode(item)"
              style="background:none !important;color:#444 !important;display: block;">
              {{item.po_number}} 
            </ion-item>
          </ion-list>
        </ion-col>


      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Invoice Number</ion-label>
        <ion-input type="number" class="form-control" formControlName="invoicenumber" ></ion-input>
       
        
      </ion-col>
     

      <ion-col *ngIf="LEAVEFRMDATE==undefined" size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Invoice Date<span class="validatecolor">*</span></ion-label>
        <ion-input type="date" class="form-control"  formControlName="fromDate"></ion-input>
        <!-- min="{{dat_valid.currentDate | date: 'yyyy-MM-dd'}}"
          (ionChange)="validateFromDate()" -->
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Invoice Document</ion-label>
        <ion-input type="number" class="form-control"  formControlName="invoiceamount"></ion-input>
      </ion-col>
      <ion-col size-sm="6" size="12" size-md="6" size-lg="6" size-xl="4">
        <ion-label>Upload Document</ion-label>
        <br />
        <!-- <i class="fa fa-paperclip" aria-hidden="true" style="font-size:28px;color:black;position: relative;left:50%"
          ios="ios-attach" md="md-attach" (click)="selectImage()"></i>
        <div style="display:none;word-break: break-all;">
          <input type="file" name="file" id="fileinput" />
        </div> -->
       
        <div class="file-input-container">
          <label>
       
            <input (change)="onSelectFile($event)" type="file"  formControlName="documentupload">

          </label>
        </div>
        <!-- <h2>Files: {{ uploader?.queue?.length }}</h2> -->
        <!-- <ion-list>
          <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="false">
            <ion-item *ngFor="let item of uploader.queue">
              <ion-label> {{ item?.file?.name }} </ion-label>
              <ion-reorder></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-list> -->
      </ion-col>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-label class="ContentName">Invoice Remark</ion-label>
        <ion-input type="text" class="form-control" formControlName="invoiceremark" ></ion-input>
      </ion-col>
    </form>

    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
        <ion-row>
          <ion-col *ngFor="let image of image" size-sm="3" size="3" size-md="3" size-lg="3" size-xl="3">
            <ion-icon  style="color: white !important;" name="close-circle-outline"  class="closebtn" (click)="DeleteImage(i)"></ion-icon>
            <img [src]="sanitizer.bypassSecurityTrustUrl(image.imgURL)" />
          </ion-col>
          <ion-col size-sm="12" size="12" size-md="12" size-lg="12" size-xl="12">
            <ion-button (click)="additem()" class="ion-color-primary" expand="block">
              <ion-icon style="color: #fff;" name="add-circle-outline"></ion-icon> Add Invoice
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-button (click)="openlink()" class="ion-color-primary" expand="block">
      open
    </ion-button>

  </ion-grid>
</ion-card-content>

</ion-card>


    <ion-card  *ngFor="let item of getinvoice; let i=index">
      <ion-card-header class="card_header">
        <ion-row>
          <ion-col size="7">
            <ion-label class="card_header_text">Invoices</ion-label>
          </ion-col>

          <ion-col size="4">
            <ion-label class="card_header_text">#{{i+1}}</ion-label>
          </ion-col>
          <ion-col size="1">
           <ion-icon name="trash-outline" (click)="removeItem(i)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row >
          <ion-col size="6">
            <ion-label>Invoice Number</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label >: {{item.invoicenumber | json}}</ion-label>
          </ion-col>
      
          <ion-col size="6">
            <ion-label>Invoice Date</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label >: {{item.fromDate}}</ion-label>
          </ion-col>
      
          <ion-col size="6">
            <ion-label>Invoice Amount</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label >: {{item.invoiceamount}}</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label>Invoice Document Upload</ion-label>
          </ion-col>
          <ion-col size="6">
            <a  (click)="openpdf(item.invoicenumber)">: {{item.documentupload}}  </a>
          
          </ion-col>

          <ion-col size="6">
            <ion-label>Invoice Remark</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label >: {{item.invoiceremark}}</ion-label>
          </ion-col>
      
          <!-- <ion-col size="6">
            <ion-label>Pay Amount</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>: {{Formdata.invoiceremark}}</ion-label>
          </ion-col> -->
      
          </ion-row>
      </ion-card-content>
      </ion-card>








      
  
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5">
      © SunSmart Global Inc
    </ion-col>
    <ion-col size-sm="5" size="6" size-md="5" size-lg="5" size-xl="5" style="text-align: right;">
      {{username}}
    </ion-col>
  </ion-row>


</ion-footer>